@{
    ViewBag.Title = "實驗標籤詳情";
}

<h2>@ViewBag.Title</h2>

<div class="datatable datatable-small mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="LaboratoryLabelInfo"></table>
    </div>
</div>

<div class="datatable datatable-small-grid mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="LaboratoryLabelItem">
        </table>
    </div>
</div>

<script src="/Scripts/datatable.js"></script>
<script>

    const apiUrl = null;

    const SerializedName = [
        { text: "實驗類型", value: "ExperimentType" },
        { text: "實驗名稱", value: "ExperimentName" },
        { text: "實驗日期", value: "EDate" },
        { text: "上傳者", value: "UploadUserName" },
        { text: "上傳日期時間", value: "UploadDateTime" },
    ]

    const GridOptions = {
        thead: true,
        columns: [
            { id: "ELISN", title: "項目編號", width: "30%" },
            { id: "LabelName", title: "項目名稱", width: "70%" },
        ]
    }

    const fakeData = {
        ExperimentType: "水質分析",
        ExperimentName: "汙水管水質檢測分析實驗",
        EDate: "2023/08/14",
        UploadUserName: "王大明",
        UploadDateTime: "2023/08/13",
        LaboratoryLabelItem: [
            {
                ELISN: "230814001_001",
                LabelName: "2023/08/14_5M樣品_1",
            },
            {
                ELISN: "230814001_002",
                LabelName: "2023/08/14_5M樣品_2",
            }
        ]
    }

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :   //fakeData
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#LaboratoryLabelInfo").append(createTableInner(res, SerializedName));
            if (res.LaboratoryLabelItem) {
                $("#LaboratoryLabelItem").append(createTableGrid(res.LaboratoryLabelItem, GridOptions))
            }
            else {
                $("#LaboratoryLabelItem").parents(".datatable").remove();
            }
        }
        function onError(res) {
            console.log(res);
        }
    }

    window.onload = function () {
        readData(apiUrl);
    }
</script>
