@{
    ViewBag.Title = "新增 出庫填報";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/Stock_Management/CreateOutbound.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-lg flex-wrap flex-md-row justify-content-lg-between gap-0">
        <div class="form-tab-bar">
            <button class="form-tab-btn active" data-tab-name="Normal">一般</button>
            <button class="form-tab-btn" data-tab-name="RFID">RFID</button>
        </div>
        <form class="form d-lg-contents tab-content">
            @Html.AntiForgeryToken()
            <div class="form-group-zone">
                <div class="d-contents" data-tab-content="Normal">
                    <div class="form-group required">
                        <label for="StockTypeSN">類別</label>
                        <select class="form-select" name="StockTypeSN" id="StockTypeSN" required>
                            <option value="null">請選擇</option>
                        </select>
                    </div>
                    <div class="form-group required">
                        <label for="SISN">品項名稱</label>
                        <select class="form-select" name="SISN" id="SISN" required>
                            <option value="null">請選擇</option>
                        </select>
                    </div>
                    <div class="form-group form-unit-wrapper required">
                        <label for="NumberOfChanges">出庫數量</label>
                        <input class="form-control" id="NumberOfChanges" name="NumberOfChanges" type="number" min="1"
                            required />
                        <span class="form-unit"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Recipient">取用人</label>
                    <input class="form-control" id="Recipient" name="Recipient" type="text" />
                </div>
                <div class="d-contents" data-tab-content="RFID">
                    <div class="form-group required" style="grid-row-start: 2;">
                        <label for="Other" class="d-flex gap-1">
                            <span class="form-tooltip-toggle" data-bs-placement="top-start"
                                title="請將RFID標籤放至讀取器上後，點選「掃描」"></span>
                            RFID
                        </label>
                        <button type="button"
                            class="btn btn-search w-100 d-flex justify-content-center align-items-center gap-1"
                            id="rfid">
                            掃描<i class="scan-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group col-3fr">
                    <label for="Memo">備註</label>
                    <textarea class="form-control" id="Memo" name="Memo" rows="3" cols="50" maxlength="250"></textarea>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

<template id="RFIDModal">
    <div class="modal fade data-detail-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100 text-center">RFID掃描資訊</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="datatable-table" id="RFID-DataTable"></table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-export" id="add-row">確定</button>
                </div>
            </div>
        </div>
    </div>
</template>
@section scripts {
    <script>$(() => init_CreateOutbound());</script>
}