@{
    ViewBag.Title = "新增 庫存品項";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-xs flex-lg-row">
        <form class="form">
            <div class="form-group-zone">
                <div class="form-group required">
                    <label for="StockTypeSN">類別</label>
                    <select class="form-select" name="StockTypeSN" id="StockTypeSN" required>
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label for="StockName">品項名稱</label>
                    <input type="text" class="form-control" name="StockName" id="StockName" maxlength="50" required>
                </div>
                <div class="form-group required">
                    <label for="Init">單位</label>
                    <input type="text" class="form-control" name="Unit" id="Unit" maxlength="10" required>
                </div>
                <div class="form-group required">
                    <label for="MinStockAmount">警戒值</label>
                    <input type="number" class="form-control" name="MinStockAmount" id="MinStockAmount" min="0"
                        required>
                </div>

            </div>

            <div class="datatable-easyui w-100 d-none">
                <table id="Template-datagrid"></table>
            </div>
        </form>
    </div>
</section>


<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

@section scripts {
    <script>
        let submitURL = '@Url.Action("CreateComputationalStock", "Stock_Management")'
        $(async function () {
            await formDropdown.pushSelect({ id: "StockTypeSN", url: '@Url.Action("StockType", "DropDownList")' });
            addButtonEvent();
        });

        function save() {
            if (!checkValidity()) return
            $.ajax({
                url: submitURL,
                data: JSON.stringify(getQueryParams("form")),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                if (!res.ErrorMessage) {
                    createDialogModal({
                        id: "DialogModal-Success", inner: "新增成功！",
                        onHide: () => { window.location.href = "/Stock_Management/Index"; }
                    });
                } else {
                    createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.ErrorMessage || ""}` })
                }
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }
        }

        function checkValidity() {
            getQueryParams("form");
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            return isValidity
        }
    </script>
}