@{
    ViewBag.Title = "新增 入庫填報";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <link rel="stylesheet" href="/Content/StockManagement.css">
    <script src="/Scripts/Stock_Management/CreateInbound.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-lg flex-wrap flex-md-row justify-content-lg-between gap-0">
        <div class="tab-btn-bar">
            <button class="tab-btn tab-checked" data-tab-name="Normal">一般</button>
            <button class="tab-btn" data-tab-name="RFID">RFID</button>
        </div>
        <form class="form d-lg-contents tab-content">
            @Html.AntiForgeryToken()
            <div class="form-group-zone">
                <div class="d-contents" data-tab-content="Normal">
                    <div class="form-group required" id="TypeContainer">
                        <label for="StockTypeSN">類別</label>
                        <select class="form-select" name="StockTypeSN" id="StockTypeSN" required></select>
                    </div>
                    <div class="form-group required" id="SNameContainer">
                        <label for="SISN">品項名稱</label>
                        <select class="form-select" name="SISN" id="SISN" required></select>
                    </div>
                    <div class="form-group input-wrapper required" id="NumContainer">
                        <label for="NumberOfChanges">入庫數量</label>
                        <input class="form-control" id="NumberOfChanges" name="NumberOfChanges" type="number" min="1"
                            required />
                        <span class="unit">個</span>
                    </div>
                </div>
                <div class="d-contents" data-tab-content="RFID">
                    <div class="form-group required">
                        <label for="Other" class="d-flex gap-1">
                            <span class="form-tooltip-toggle" data-bs-placement="top-start"
                                title="請將RFID標籤放至讀取器上後，點選「掃描」"></span>
                            RFID
                        </label>
                        <button type="button"
                            class="btn btn-search w-100 d-flex justify-content-center align-items-center gap-1"
                            id="rfid">掃描<i class="scan-icon"></i>
                        </button>
                    </div>
                </div>
                <div id="FileUploader"></div>
                <div class="form-group col-3fr">
                    <label for="Memo">備註</label>
                    <textarea class="form-control" id="Memo" name="Memo" rows="3" cols="50"></textarea>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

@*RFID 設備資訊POP UP*@
<template id="RFIDModal">
    <div class="modal fade datagrid-modal" tabindex="-1">
        <div class="modal-dialog modal-screen-md modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>RFID 庫存資訊</h2>
                    <form class="form w-100 p-0">
                        <input type="hidden" id="isEdit" value="false">
                        <div class="form-group-zone">
                            <div class="form-group">
                                <label for="InternalCode">RFID內碼</label>
                                <input type="text" class="form-control" name="InternalCode" id="InternalCode"
                                    maxlength="20" disabled>
                            </div>
                            <div class="form-group required">
                                <label for="ExternalCode">RFID外碼</label>
                                <input type="text" class="form-control" name="ExternalCode" id="ExternalCode"
                                    maxlength="20" required>
                            </div>
                            <div class="form-group required">
                                <label for="StockTypeSN">類別</label>
                                <select class="form-select" name="StockTypeSN" id="StockTypeSN" required></select>
                            </div>
                            <div class="form-group required">
                                <label for="SISN">品項名稱</label>
                                <select class="form-select" name="SISN" id="SISN" required></select>
                            </div>
                            <div class="form-group input-wrapper2" id="NumContainer">
                                <label for="NumberOfChanges">入庫數量</label>
                                <input class="form-control" id="NumberOfChanges" name="NumberOfChanges" type="text"
                                    value="1" disabled />
                                <span class="unit">個</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-export" id="add-row">確定</button>
                </div>
            </div>
        </div>
    </div>
</template>

@section scripts {
    <script>$(() => init_CreateInbound());</script>
}