@{
    ViewBag.Title = "入庫管理詳情";
}
<link rel="stylesheet" href="/Content/samplepath.css">

<h2>@ViewBag.Title</h2>

<div class="datatable datatable-small mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="PathSampleInfo"></table>
    </div>
</div>

