@{
    ViewBag.Title = "定期保養單 詳情";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/dataTable/InspectionPlanMaintain.js" defer></script>
    <script src="/Scripts/ImageDisplay.js" defer></script>
    <script src="/Scripts/dataTable/EquipmentInfoModal.js" defer></script>
}

<h2>@ViewBag.Title</h2>
<section>
    <div class="info-area edit-area-md">
        <div class="datatable">
            <div class="datatable-header">保養資料</div>
            <div class="datatable-body">
                <table class="datatable-table" id="MaintainDetail"></table>
            </div>
        </div>

        <div class="datatable" id="RepairZone" style="display: none;">
            <div class="datatable-header">保養填報</div>
            <div class="datatable-body">
                <table class="datatable-table" id="ReportDetail"></table>
            </div>
        </div>

        <div class="datatable" id="ReviewZone" style="display: none;">
            <div class="datatable-header">審核填報</div>
            <div class="datatable-body">
                <table class="datatable-table" id="ReviewDetail"></table>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        @*const EMFSN = '@ViewBag.EMFSN';*@
        const url = window.location.search;
        const EMFSN = new URLSearchParams(url).get('EMFSN');
        console.log("EMFSN", EMFSN);
        let apiUrl = '@Url.Action("ReadBody", "Maintain_Management")?emfsn=' + `${EMFSN}`;

        const fakeData = {
            Datas: {
                EMFSN: "E00003_000001_230107",
                Status: "審核未過",
                MaintainName: "皮帶之保養",
                Maintainer: "王曉明、任趙仁",
                EName: "軸承潤滑",
                EState: "正常",
                NO: "E00003",
                Location: "生物處理機房 軸電器儀控室層",
                Period: "3次/週",
                LastMaintainDate: "2022/01/01",
                NextMaintainDate: "2024/01/01",
                ReportId: "任趙仁",
                ReportTime: "2024/12/23 17:22",
                ReportContent: "保養完成",
                AuditResult: "通過",
                AuditId: "王曉明",
                AuditTime: "2024/12/25 15:34",
                AuditReason: "覺得不行"
            }
        }

        $(function () {
            readData(apiUrl);
        })

        const MaintainDetailItem = [
            { text: "保養單號", value: "EMFSN" },
            { text: "保養單狀態", value: "Status" },
            { text: "保養項目", value: "MaintainName" },
            { text: "執行人員", value: "Maintainer" },
            { text: "設備名稱", value: "EName" },
            { text: "設備狀態", value: "EState" },
            { text: "設備編號", value: "NO" },
            { text: "所在地點", value: "Location" },
            {
                text: "設備屬性", value: "EMFSN", formatter: (val) => {
                    console.log("val", val);
                    return val ? `<button class="btn btn-search" onclick="window.open('/EquipmentInfo_Management/Detail?EMFSN=${val}', '_blank')">設備資料</button>` : "-"
                }
            },
            { text: "保養週期", value: "Period" },
            { text: "上次保養日", value: "LastMaintainDate" },
            { text: "最近應保養日", value: "NextMaintainDate" },
        ]

        const ReportDetailItem = [
            { text: "填報者", value: "ReportId" },
            { text: "填報時間", value: "ReportTime" },
            { text: "保養填報", value: "ReportContent" },
        ]

        const ReviewDetailItem = [
            { text: "審核結果", value: "AuditResult" },
            { text: "審核者", value: "AuditId" },
            { text: "審核時間", value: "AuditTime" },
            { text: "審核意見", value: "AuditReason" },
        ]

        

        function readData(url = null) {
            url == null ? onSuccess(apiUrl) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log(res);
                const data = res.Datas
                if (data.AuditResult === "") {
                    data.AuditResult = ""
                } else {
                    data.AuditResult = data.AuditResult === "true" ? "通過" : "不通過";
                }

                $("#MaintainDetail").append(createTableInner(data, MaintainDetailItem));
                $("#ReportDetail").append(createTableInner(data, ReportDetailItem));
                $("#ReviewDetail").append(createTableInner(data, ReviewDetailItem));

                ImageDisplay(".datatable-img-item>img");
                displaySections(data.Status);
            }
            function onError(res) {
                console.log("失敗", res);
            }
        }

        //依照 保養單狀態，顯示表格
        function displaySections(Status) {
            console.log("ReportState", Status);
            if (Status === "待審核" || Status === "審核通過" || Status === "審核未過") {
                document.getElementById("RepairZone").style.display = "block";
            }
            if (Status === "審核通過" || Status === "審核未過") {
                document.getElementById("ReviewZone").style.display = "block";
            }
        }
        </script>
    }
