@{
    ViewBag.Title = "定期保養單 詳情";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/dataTable/InspectionPlanMaintain.js" defer></script>
}

<h2>@ViewBag.Title</h2>
<section>
    <div class="info-area edit-area-md">
        <div class="datatable">
            <div class="datatable-header">保養資料</div>
            <div class="datatable-body">
                <table class="datatable-table" id="MaintainDetail"></table>
            </div>
        </div>

        <div class="datatable" id="RepairZone" style="display: none;">
            <div class="datatable-header">保養填報</div>
            <div class="datatable-body">
                <table class="datatable-table" id="ReportDetail"></table>
            </div>
        </div>

        <div class="datatable" id="ReviewZone" style="display: none;">
            <div class="datatable-header">審核填報</div>
            <div class="datatable-body">
                <table class="datatable-table" id="ReviewDetail"></table>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        const url = window.location.search;
        const EMFSN = new URLSearchParams(url).get('EMFSN');
        console.log("EMFSN", EMFSN);
        let apiUrl = '@Url.Action("ReadBody", "Maintain_Management")?emfsn=' + `${EMFSN}`;

        const fakeData = {
            Datas: {
                EMFSN: "E00003_000001_230107",
                Status: "審核未過",
                MaintainName: "皮帶之保養",
                Maintainer: "王曉明、任趙仁",
                EName: "軸承潤滑",
                EState: "正常",
                NO: "E00003",
                Location: "生物處理機房 軸電器儀控室層",
                Period: "3次/週",
                LastMaintainDate: "2022/01/01",
                NextMaintainDate: "2024/01/01",
                ReportId: "任趙仁",
                ReportTime: "2024/12/23 17:22",
                ReportContent: "保養完成",
                AuditResult: "通過",
                AuditId: "王曉明",
                AuditTime: "2024/12/25 15:34",
                AuditReason: "覺得不行"
            }
        }

        $(function () {
            readData(apiUrl);
        })

        function readData(url = null) {
            url == null ? onSuccess(apiUrl) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log(res);
                const data = res.Datas

                DT.createTableInner("#MaintainDetail", data, [
                    { title: "保養單號", id: "EMFSN" },
                    { title: "保養單狀態", id: "Status" },
                    { title: "保養項目", id: "MaintainName" },
                    { title: "執行人員", id: "Maintainer" },
                    { title: "設備名稱", id: "EName" },
                    { title: "設備狀態", id: "EState" },
                    { title: "設備編號", id: "NO" },
                    { title: "所在地點", id: "Location" },
                    {
                        title: "設備屬性", id: "ESN", type: "btn", nullable: true, button: {
                            text: "設備資料",
                            onClick(e, v) {
                                window.open(`/EquipmentInfo_Management/Detail/${v}`, '_blank')
                            }
                        }
                    },
                    { title: "保養週期", id: "Period" },
                    { title: "上次保養日", id: "LastMaintainDate", type: "date" },
                    { title: "最近應保養日", id: "NextMaintainDate", type: "date" },
                ])
                DT.createTableInner("#ReportDetail", data, [
                    { title: "填報者", id: "ReportId" },
                    { title: "填報時間", id: "ReportTime", type: "date" },
                    { title: "保養填報", id: "ReportContent" },
                ])
                DT.createTableInner("#ReviewDetail", data, [
                    {
                        title: "審核結果", id: "AuditResult", formatter(v) {
                            if (v !== "") {
                                return v === "true" ? "通過" : "不通過";
                            }
                            return "";
                        }
                    },
                    { title: "審核者", id: "AuditId" },
                    { title: "審核時間", id: "AuditTime", type: "date" },
                    { title: "審核意見", id: "AuditReason" },
                ])
                displaySections(data.Status);
            }
            function onError(res) {
                console.log("失敗", res);
            }
        }

        //依照 保養單狀態，顯示表格
        function displaySections(Status) {
            console.log("ReportState", Status);
            if (Status === "待審核" || Status === "審核通過" || Status === "審核未過") {
                document.getElementById("RepairZone").style.display = "block";
            }
            if (Status === "審核通過" || Status === "審核未過") {
                document.getElementById("ReviewZone").style.display = "block";
            }
        }
    </script>
}
