@{
    ViewBag.Title = "設備操作手冊";
}

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<script src="/Scripts/easyui-datagrid-client-paging.js"></script>

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="System">系統別</label>
            <select class="form-select" name="System" id="System">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="SubSystem">子系統別</label>
            <select class="form-select" name="SubSystem" id="SubSystem">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="EName">設備名稱</label>
            <input class="form-control" id="EName" name="EName" type="text" />
        </div>

        <div class="form-group">
            <label for="Brand">廠牌</label>
            <input class="form-control" id="Brand" name="Brand" type="text" />
        </div>

        <div class="form-group">
            <label for="Model">型號</label>
            <input class="form-control" id="Model" name="Model" type="text" />
        </div>

        <div class="form-group">
            <label for="DateStart">上傳日期(起)</label>
            <input class="form-control" id="DateStart" name="DateStart" type="date" />
        </div>

        <div class="form-group">
            <label for="DateEnd">上傳日期(迄)</label>
            <input class="form-control" id="DateEnd" name="DateEnd" type="date" />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>
<script src="../../Scripts/tool.js"></script>
<script>
    var getGridJSON = '@Url.Action("Account_Management", "Datagrid")';

    var baseUrl = "/Account_Management/";

    const fakedata = [
        {
            UserName: "Admin",
            MyName: "Admin",
            Authority: "管理人員",
            Email: "Admin123@gmail.com",
            PhoneNumber: "0900123123",
            Apartment: "Admin",
            Title: "Admin",
        },
        {
            UserName: "DDD",
            MyName: "DDD",
            Authority: "管理人員",
            Email: "DDD456@gmail.com",
            PhoneNumber: "0900456456",
            Apartment: "DDD",
            Title: "DDD",
        },
    ]

    $(async function () {
        Initialize_DataGrid(getGridJSON);
        addSearchAreaClickEvent();
    });

    function Initialize_DataGrid(getGridJSON) {

        $('#DataGrid').datagrid({

            url: getGridJSON,
            //data: fakedata,
            method: 'POST',
            queryParams: getQueryParams(),
            rownumbers: true,
            idField: 'UserName',
            //sortName: 'UserName',
            remoteSort: false,
            sortOrder: 'asc',
            fit: true,
            frozenColumns: [[
                {
                    field: '_detail', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDetail(${index})">檢視</button>`;
                    }
                },
                {
                    field: '_edit', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onEdit(${index})">編輯</button>`;
                    }
                },
                {
                    field: '_delete', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDelete(${index})">刪除</button>`;
                    }
                }
            ]],
            columns: [[
                { field: 'EOMSN', title: '設備操作手冊編號', align: 'center', width: 200, sortable: true, hidden: },
                { field: 'Filepath', title: '設備操作手冊路徑', align: 'center', width: 180, sortable: true },
                { field: 'System', title: '系統別', align: 'center', width: 150, sortable: true },
                { field: 'SubSystem', title: '子系統別', align: 'center', width: 300, sortable: true },
                { field: 'EName', title: '設備名稱', align: 'center', width: 180, sortable: true },
                { field: 'Brand', title: '廠牌', align: 'center', width: 180, sortable: true },
                { field: 'Model', title: '型號', align: 'center', width: 180, sortable: true },
                { field: 'UploadDate', title: '上傳時間', align: 'center', width: 180, sortable: true }
            ]],
            singleSelect: true,
            selectOnCheck: true,
            checkOnSelect: false,

            pagination: true,
            pagePosition: 'bottom',
            pageSize: 10
        });
        //------------Pager --------------------------------------------------
        var pager = $('#DataGrid').datagrid('getPager');
        $(pager).pagination({
            pageSize: 10,
            showPageList: true,
            pageList: [10, 20, 50],
            beforePageText: '第',
            afterPageText: '頁，共 {pages} 頁',
            displayMsg: '顯示 {from} 到 {to} 筆資料，共 {total} 筆資料'
        });
    }

    // datagrid onClick Function
    function onDetail(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Read' + `/${row.EOMSN}`;
        window.open(url, "_self");
    }

    function onEdit(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Edit' + `/${row.EOMSN}`;
        window.open(url, "_self");
    }

    function onDelete(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Delete' + `/${row.EOMSN}`;
        window.open(url, "_self");
    }

    //search area onClick Function
    function addSearchAreaClickEvent() {
        $("#clear").click(function () {
            $("form")[0].reset();
        });

        $("#search").click(function () {
            Initialize_DataGrid(getGridJSON)
        });

        $("#create").click(function () {
            let url = baseUrl + 'Create';
            window.open(url, "_self");
        });
    }
</script>