@{
    ViewBag.Title = "廠商詳情";
}

<h2>@ViewBag.Title</h2>
<div class="datatable datatable-small mt-5" style="--datatable-table-th-width: 120px;">
    <div class="datatable-body">
        <table class="datatable-table"></table>
    </div>
</div>

<script src="/Scripts/datatable.js"></script>

<script>
    const MFRSN = '@ViewBag.id';
    let apiUrl = '@Url.Action("ReadBody", "ManufacturerInfo_Management")' + `/${MFRSN}`;
    //let apiUrl = null;

    const fakeData = {
        MFRSN: "00001",
        MFRName: "OO廠商",
        ContactPerson: "王大明",
        MFRTelNO: "02-28966653",
        MFRMBPhone: "0955641236",
        MFRMainProduct: "機械相關耗材",
        MFREmail: "gresw@gmail.com",
        MFRAddress: "OOOOXOOXOO",
        MFRWeb: "OOXOXOXO@XOXO",
    }

    const sn = [
        { text: "供應商", value: "MFRName" },
        { text: "聯絡人", value: "ContactPerson" },
        { text: "電話", value: "MFRTelNO" },
        { text: "手機", value: "MFRMBPhone" },
        { text: "電子郵件", value: "MFREmail" },
        { text: "地址", value: "MFRAddress" },
        {
            text: "網站", value: "MFRWeb", formatter: (v) => {
                return v != null ? `<a href="${v}" target="_blank">${v}</a>` : '-';
            }
        },
        { text: "主要商品", value: "MFRMainProduct" },
    ]


    $(function () {
        addButtonEvent();
        readData(apiUrl);
    })

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        async function onSuccess(res) {
            console.log(res);
            $(".datatable-table").append(createTableInner(res, sn))
        }
        function onError(res) {
            console.log(res);
        }
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })
    }
</script>