@{
    ViewBag.Title = "巡檢維修紀錄詳情";
}

<h2>@ViewBag.Title</h2>
<section id="RepairRecord"></section>

<section id="InspectionPlanRepairList"></section>

<div class="edit-button-area mb-5">
    <button class="btn btn-search" id="OtherReportRecord">本設備其他維修紀錄</button>
    <button class="btn btn-back" id="MaintainRecord">本設備定期保養紀錄</button>
</div>

<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/dataTable/InspectionPlanRepair.js"></script>
<script src="/Scripts/dataTable/RepairRecord.js"></script>
<script src="/Scripts/ImageDisplay.js"></script>
<script>

    const IPRSN = '@ViewBag.id';
    let apiUrl = '@Url.Action("ReadBody", "RepairRecord_Management")' + `/${IPRSN}`;
    //let apiUrl = null;

    const fakeData = {
        EquipmentReportItem: {
            ReportState: "已完工",
            RSN: "R23010401",
            Date: "2023/02/04 14:27:52",
            ReportLevel: "最速件",
            MyName: "李泰順",
            Area: "A區",
            Floor: "2F",
            PorpertyCode: "",
            ESN: "E00001",
            EName: "日光燈36Wx2",
            ESN_Button: "E00001",
            ReportContent: "電燈故障",
            ImgPath: ["/Content/img/bg.png"],
        },
        InspectionPlan: {
            IPSN: "P23010401",
            IPName: "巡檢A區計畫",
            PlanDate: "2023/01/08",
            PlanState: "巡檢完成",
            Shift: "早班",
            MyName: "王大明、李泰順",
        },
        InspectionPlanRepair: {
            RepairState: "完成",
            MyName: "王大明",
            RepairContent: "修復完成",
            RepairDate: "2023/01/07 12:40:56",
            ImgPath: [
                "/Content/img/bg.png"
            ],
        },
        RepairSupplementaryInfo: [
            {
                MyName: "王大明",
                SupplementaryDate: "2023/01/10",
                SupplementaryContent: "OOXX",
                FilePath: ["/file/電燈故障.pdf"],
            }
        ],
        RepairAuditInfo: [
            {
                MyName: "陳組長",
                AuditDate: "2023/1/12",
                AuditResult: "審核未過",
                AuditMemo: "未處理完善",
                ImgPath: [
                    "/Content/img/bg.png"
                ],
            }
        ],
        InspectionPlanList: [
            {
                "InspectionPlan": {
                    "IPSN": "P23022203",
                    "IPName": "維修設備E00003",
                    "PlanDate": "2023/2/22",
                    "PlanState": "巡檢完成",
                    "Shift": "2",
                    "MyName": "賈皓麟、羅紹齊"
                },
                "InspectionPlanRepair": {
                    "RepairState": "審核未過",
                    "RepairContent": "好了",
                    "MyName": "賈皓麟",
                    "RepairDate": "2023/2/22",
                    "ImgPath": []
                },
                "RepairSupplementaryInfo": [
                    {
                        "MyName": "王大明",
                        "SupplementaryDate": "2023/1/15",
                        "SupplementaryContent": "OOXX",
                        "FilePath": ["/file/電燈故障.pdf", "/file/電燈故障2.pdf"],
                    }
                ],
                "RepairAuditInfo": [
                    {
                        "MyName": "陳進國",
                        "AuditDate": "2023/2/22",
                        "AuditResult": "審核未過",
                        "AuditMemo": "沒修好",
                        "ImgPath": []
                    }
                ]
            },
        ]
    }

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            RepairRecord("#RepairRecord", res);
            InspectionPlanRepair("#InspectionPlanRepairList", res.InspectionPlanList);

            ImageDisplay(".datatable-img-item>img");
        }
        function onError(res) {
            console.log(res);
        }
    }

    function addButtonEvent() {
        $("#OtherReportRecord").click(function () {
            let url = baseUrl + 'Read' + `/${RSN}`;
            window.open(url, "_blank");
        });
        $("#MaintainRecord").click(function () {
            let url = baseUrl + 'Read' + `/${RSN}`;
            window.open(url, "_blank");
        });
    }

    window.onload = function () {
        readData(apiUrl);
        addButtonEvent();
    }

</script>