@{
    ViewBag.Title = "領用審核";
}

<h2>@ViewBag.Title</h2>

<div class="datatable datatable-small mt-5">
    <div
div class="datatable-body">
        <table class="datatable-table" id="Info"></table>
    </div>
</div>

<div class="datatable datatable-grid mt-5 w-auto" style="max-width:982px;">
    <div class="datatable-body overflow-auto">
        <table class="datatable-table" style="width: max-content;" id="StoresRequisitionItem">
        </table>
    </div>
</div>

<div class="edit-area edit-area-small mt-5" style="gap: 1rem 2rem;">
    <form class="form d-lg-contents">
        <div class="d-flex flex-wrap w-100 gap-4">
            <div class="form-group w-lg-100 mx-5 d-flex align-items-center">
                <label for="AuditUserID" class="col-2">審核人員:</label>
                <span style="color: white;">王OO</span>
            </div>
            <div class="form-group w-lg-100 mx-5 d-flex ">
                <label for="AuditContent" class="col-2">審核意見:</label>
                <input class="form-control col" id="AuditContent" name="AuditContent" type="text" required="">
            </div>
        </div>
    </form>
</div>

<script src="/Scripts/datatable.js"></script>
<script>
    const apiUrl = null;
    const SerializedName = [
        { text: "領用編號", value: "SRSN" },
        { text: "領用人員", value: "SRName" },
        { text: "領用部門", value: "SRDept" },
        { text: "領用原因", value: "SRContent" }
    ]

    const fakeData = {
        SRSN: "SR230502001",
        SRName: "王大明",
        SRDept: "機電部門",
        SRContent: "OOXX",
        StoresRequisitionItem: [
            {
                SRISN: "PR23041201_01",
                StockType: "潤滑劑",
                StockName: "軸承潤滑劑B",
                Amount: "10",
                Unit: "罐",
                Content: "OOXX",
            },
            {
                SRISN: "PR23041201_01",
                StockType: "潤滑劑",
                StockName: "軸承潤滑劑B",
                Amount: "10",
                Unit: "罐",
                Content: "OOXX",
            },
            {
                SRISN: "PR23041201_01",
                StockType: "潤滑劑",
                StockName: "軸承潤滑劑B",
                Amount: "10",
                Unit: "罐",
                Content: "OOXX",
            }
        ]
    }

    const GridOptions = {
        thead: true,
        columns: [
            {
                id: "_result", title: "審核結果", width: "160px", formatter: (v, row, i) => {
                    return `
                    <div class="d-flex justify-content-center" style="gap:1rem;">
                        <div class="form-group">
                            <input type="radio" id="AuditResult_${i}_1" value="1" name="AuditResult_${i}">
                            <label for="AuditResult_${i}_1">退件</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" id="AuditResult_${i}_2" value="2" name="AuditResult_${i}">
                            <label for="AuditResult_${i}_2">通過</label>
                        </div>
                    </div>
                    `
                }
            },
            { id: "StockType", title: "品項", width: "150px" },
            { id: "StockName", title: "品名", width: "250px" },
            { id: "Amount", title: "數量", width: "120px" },
            { id: "Unit", title: "單位", width: "100px" },
            { id: "Content", title: "領用原因", width: "200px" },
        ]
    }

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :   //fakeData
            $.ajax({
                url: url,
                //data: JSON.stringify(jsonData),
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#Info").append(createTableInner(res, SerializedName));
            if (res.StoresRequisitionItem) {
                $("#StoresRequisitionItem").append(createTableGrid(res.StoresRequisitionItem, GridOptions))
            }
            else {
                $("#StoresRequisitionItem").parents(".datatable").remove();
            }
        }
        function onError(res) {
            console.log(res);
        }
    }

    window.onload = function () {
        readData(apiUrl);
    }
</script>