@{
    ViewBag.Title = "領用申請管理";
}

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<script src="/Scripts/easyui-datagrid-client-paging.js"></script>

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">領用申請</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="SRState">狀態</label>
            <select class="form-select" name="SRState" id="SRState">
                <option value="">請選擇</option>
            </select>
        </div>
        <div class="form-group">
            <label for="SRSN">單號</label>
            <input class="form-control" id="SRSN" name="SRSN" type="text" />
        </div>

        <div class="form-group">
            <label for="SRName">申請人員</label>
            <input class="form-control" id="SRName" name="SRName" type="text" />
        </div>

        <div class="form-group">
            <label for="SRDept">申請部門</label>
            <input class="form-control" id="SRDept" name="SRDept" type="text" />
        </div>

        <div class="form-group">
            <label for="AuditName">審核人員</label>
            <input class="form-control" id="AuditName" name="AuditName" type="text" />
        </div>

        <div class="form-group">
            <label for="DateSelected">日期項目選擇</label>
            <select class="form-select" name="DateSelected" id="DateSelected">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="DateStart">日期(起)</label>
            <input class="form-control" id="DateStart" name="DateStart" type="date" />
        </div>

        <div class="form-group">
            <label for="DateEnd">日期(迄)</label>
            <input class="form-control" id="DateEnd" name="DateEnd" type="date" />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>
<script src="../../Scripts/tool.js"></script>
<script>
    var getGridJSON = '@Url.Action("StoresRequisition_Management", "Datagrid")';

    var baseUrl = "/StoresRequisition_Management/";

    const fakedata = [
        {
            SRState: "1",
            SRStateName: "待審核",
            SRSN: "SR230203001",
            SRDateTime: "2023/05/02",
            SRName: "王大明",
            SRDept: "機電部門",
            AuditName: "陳大明",
            AuditDate: "2023/05/03"
        },
        {
            SRState: "1",
            SRStateName: "待審核",
            SRSN: "SR230203001",
            SRDateTime: "2023/05/02",
            SRName: "王大明",
            SRDept: "機電部門",
            AuditName: "陳大明",
            AuditDate: "2023/05/03"
        }
    ]

    $(async function () {
        Initialize_DataGrid(getGridJSON);
        addSearchAreaClickEvent();
    });

    function Initialize_DataGrid(getGridJSON) {

        $('#DataGrid').datagrid({

            url: getGridJSON,
            data: fakedata,
            method: 'GET',
            queryParams: getQueryParams(),
            rownumbers: true,
            idField: 'SRState',
            //sortName: 'SRState',
            remoteSort: false,
            sortOrder: 'asc',
            fit: true,
            frozenColumns: [[
                {
                    field: '_detail', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDetail(${index})">詳情</button>`;
                    }
                },
                {
                    field: '_edit', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onEdit(${index})">編輯</button>`;
                    }
                },
                {
                    field: '_audit', align: 'center',
                    formatter: (val, row, index) => {
                        let disabled = row.MaintainState == "待審核" ? '' : 'disabled';
                        return `<button class="btn btn-datagrid" onclick="onAudit(${index})" ${disabled}>審核</button>`;
                    }
                }
            ]],
            columns: [[
                { field: 'SRState', title: '狀態編碼', align: 'center', width: 180, sortable: true, hidden: true },
                { field: 'SRStateName', title: '狀態', align: 'center', width: 160, sortable: true },
                { field: 'SRSN', title: '單號', align: 'center', width: 180, sortable: true },
                { field: 'SRDateTime', title: '申請日期', align: 'center', width: 240, sortable: true },
                { field: 'SRName', title: '申請人員', align: 'center', width: 180, sortable: true },
                { field: 'SRDept', title: '申請部門', align: 'center', width: 200, sortable: true },
                { field: 'AuditName', title: '審核人員', align: 'center', width: 180, sortable: true },
                { field: 'AuditDate', title: '審核日期', align: 'center', width: 240, sortable: true }
            ]],
            singleSelect: true,
            selectOnCheck: true,
            checkOnSelect: false,

            pagination: true,
            pagePosition: 'bottom',
            pageSize: 10
        });
        //------------Pager --------------------------------------------------
        var pager = $('#DataGrid').datagrid('getPager');
        $(pager).pagination({
            pageSize: 10,
            showPageList: true,
            pageList: [10, 20, 50],
            beforePageText: '第',
            afterPageText: '頁，共 {pages} 頁',
            displayMsg: '顯示 {from} 到 {to} 筆資料，共 {total} 筆資料'
        });
    }

    // datagrid onClick Function
    function onDetail(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Read' + `/${row.SRSN}`;
        window.open(url, "_self");
    }

    function onEdit(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Edit' + `/${row.SRSN}`;
        window.open(url, "_self");
    }

    function onAudit(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Audit' + `/${row.SRSN}`;
        window.open(url, "_self");
    }

    //search area onClick Function
    function addSearchAreaClickEvent() {
        $("#clear").click(function () {
            $("form")[0].reset();
        });

        $("#search").click(function () {
            Initialize_DataGrid(getGridJSON)
        });

        $("#create").click(function () {
            let url = baseUrl + 'Create';
            window.open(url, "_self");
        });
    }
</script>

