
@{
    ViewBag.Title = "新增出庫";
}

<h2>@ViewBag.Title</h2>

<section style="max-width: 855px;margin: auto;">
    <div class="edit-area bg-transparent flex-wrap flex-md-row justify-content-lg-between" style="gap: 1rem 2rem;">
        <form class="form d-lg-contents">
            <div class="form-group w-lg-100 w-xl-250px required">
                <label for="SRSN">領用申請單號</label>
                <input class="form-control" id="SRSN" name="SRSN" type="text" />
            </div>

            <div class="form-group w-lg-45 w-xl-250px required">
                <label for="StockOutName">出庫人員</label>
                <select class="form-select" name="StockOutName" id="StockOutName" required>
                    <option value="">請選擇</option>
                </select>
            </div>

            <div class="form-group w-lg-45 w-xl-250px required">
                <label for="ReceiverName">領取人員</label>
                <select class="form-select" name="ReceiverName" id="ReceiverName" required>
                    <option value="">請選擇</option>
                </select>
            </div>

            <div class="form-group w-lg-100">
                <label for="StockOutContent">說明</label>
                <input class="form-control" id="StockOutContent" name="StockOutContent" type="text" />
            </div>
        </form>
    </div>
</section>

<div class="datatable datatable mt-5">
    <div class="datatable-body overflow-auto">
        <table class="datatable-table" id="StockItemInfo"></table>
    </div>
</div>

<div class="edit-area mt-5">
    <div class="datatable datatable-fill">
        <div class="datatable-body overflow-auto">
            <table class="datatable-table" id="StockOutItem">
            </table>
        </div>
    </div>
</div>


<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>



<script src="/Scripts/datatable.js"></script>
<script>
    @*var eqList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.JsonStr));
    eqList = eqList.replace("\r", "").replace("\n", "");
    var equipmentList = JSON.parse(eqList);
    console.log(equipmentList);*@

    const apiUrl = null;

    //const SerializedName = [
    //    { text: "狀態", value: "PickUpStatus" },
    //    { text: "品項", value: "StockType" },
    //    { text: "品名", value: "StockName" },
    //    { text: "數量", value: "Amount" },
    //    { text: "已領取數量", value: "TakeAmount" },
    //    { text: "單位", value: "Unit" },
    //]

    const SerializedName = {
        thead: true,
        columns: [
            { id: "PickUpStatus", title: "狀態" },
            { id: "StockType", title: "品項" },
            { id: "StockName", title: "品名" },
            { id: "Amount", title: "數量" },
            { id: "TakeAmount", title: "已領取數量" },
            { id: "RemainingAmount", title: "剩餘可領取數量" },
            { id: "Unit", title: "單位" },
        ]
    }

    const GridOptions = {
        thead: true,
        columns: [
            { id: "ExternalRFID", title: "RFID" },
            { id: "RFID_StockType", title: "品項"},
            { id: "RFID_StockName", title: "品名" },
            { id: "MName", title: "廠商品名"},
            { id: "Size", title: "尺寸"},
            { id: "Brand", title: "廠商" },
            { id: "Model", title: "型號" },
            {
                id: "OutAmount", title: "領取數量", formatter: (val) => {
                    return `<input type="number" class="form-control" step="any" min="0" required value="${val}">`
                }
            },
            { id: "RFID_Unit", title: "單位" },
            { id: "RemainingAmount", title: "剩餘可領取數量" },
        ]
    }

    const fakeData = [
        {
            PickUpStatus: "已領取",
            StockType: "備料",
            StockName: "軸承潤滑劑",
            Amount: "1",
            TakeAmount: "1",
            RemainingAmount: "0",
            Unit: "罐",
        },
        {
            PickUpStatus: "部分領取",
            StockType: "備料",
            StockName: "藥劑-1",
            Amount: "11",
            TakeAmount: "1",
            RemainingAmount: "10",
            Unit: "罐",
        },
    ]

    const griditem = [
        {
            ExternalRFID: "A101",
            RFID_StockType: "備料",
            RFID_StockName: "藥劑-1",
            MName: "藥劑-1",
            Size: "1L",
            Brand: "OXO",
            Model: "OXO",
            OutAmount: "1",
            RFID_Unit: "罐",
            RemainingAmount: "6"
         },
        {
            ExternalRFID: "A101",
            RFID_StockType: "備料",
            RFID_StockName: "藥劑-1",
            MName: "藥劑-1",
            Size: "1L",
            Brand: "OXO",
            Model: "OXO",
            OutAmount: "1",
            RFID_Unit: "罐",
            RemainingAmount: "10"
        },
    ]
    addButtonEvent();
    function readData(url = null) {

        url == null ? onSuccess(fakeData) :   //fakeData
            $.ajax({
                url: url,
                data: JSON.stringify(jsonData),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#StockItemInfo").append(createTableGrid(res, SerializedName));
            //if (res.StockItem) {
            //    $("#StockItem").append(createTableGrid(res.StockItem, GridOptions))
            //}
            //else {
            //    $("#StockItem").parents(".datatable").remove();
            //}
            $("#StockOutItem").append(createTableGrid(griditem, GridOptions))
        }
        function onError(res) {
            console.log(res);
        }
    }

    function save() {
        let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
        console.log("todo save():", isValidity)
        if (!isValidity) return;
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })

        $("#submit").click(function () {
            save();
        })
    }

    window.onload = function () {
        readData(apiUrl);
    }

   
</script>

