@{
    ViewBag.Title = "新增出庫";
}

@section styles {
    <script src="/Scripts/datatable.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <style>
        @@media(min-width: 992px) {
            .datatable-large {
                max-width: 100%;
                width: 1050px;
            }
        }

        .datatable:is(:has(.datatable-table tbody:empty), :has(.datatable-table:empty)) {
            display: none;
        }

        .edit-area:is(:has(.datatable .datatable-table tbody:empty), :has(.datatable .datatable-table:empty))::before {
            content: "請掃瞄RFID以進行出庫作業";
            color: white;
            padding: 3rem;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

<section style="max-width: 855px;margin: auto;">
    <div class="edit-area bg-transparent flex-wrap flex-md-row justify-content-lg-between" style="gap: 1rem 2rem;">
        <form class="form d-lg-contents">
            <div class="form-group w-lg-100 w-xl-250px required">
                <label for="SRSN">領用申請單號</label>
                <input class="form-control" id="SRSN" name="SRSN" type="text" maxlength="10" minlength="10" required />
            </div>

            <div class="form-group w-lg-45 w-xl-250px required">
                <label for="StockOutUserName">出庫人員</label>
                <select class="form-select" name="StockOutUserName" id="StockOutUserName" required>
                    <option value="">請選擇</option>
                </select>
            </div>

            <div class="form-group w-lg-45 w-xl-250px required">
                <label for="ReceiverUserName">領取人員</label>
                <select class="form-select" name="ReceiverUserName" id="ReceiverUserName" required>
                    <option value="">請選擇</option>
                </select>
            </div>

            <div class="form-group w-lg-100">
                <label for="StockOutContent">說明</label>
                <input class="form-control" id="StockOutContent" name="StockOutContent" type="text" maxlength="200" />
            </div>
        </form>
    </div>
</section>

<div class="datatable datatable-large mt-5">
    <div class="datatable-body overflow-auto">
        <table class="datatable-table" id="StockItemInfo"></table>
    </div>
</div>

<div class="edit-area mt-5">
    <div class="datatable datatable-fill">
        <div class="datatable-body overflow-auto">
            <table class="datatable-table" id="StockOutItem">
                <thead>
                    <tr>
                        <th class="datatable-header" style="width:100px"><span>RFID</span></th>
                        <th class="datatable-header" style="width:160px"><span>品項</span></th>
                        <th class="datatable-header" style="width:250px"><span>品名</span></th>
                        <th class="datatable-header" style="width:100px"><span>廠商品名</span></th>
                        <th class="datatable-header" style="width:200px"><span>尺寸</span></th>
                        <th class="datatable-header" style="width:120px"><span>廠商</span></th>
                        <th class="datatable-header" style="width:120px"><span>型號</span></th>
                        <th class="datatable-header" style="width:150px"><span>到期日</span></th>
                        <th class="datatable-header" style="width:120px"><span>領取數量</span></th>
                        <th class="datatable-header" style="width:80px"><span>單位</span></th>
                        <th class="datatable-header" style="width:150px"><span>剩餘可領取數量</span></th>
                        <th class="datatable-header" style="width:36px"><span></span></th>
                    </tr>
                </thead>
                <tbody id="item-area"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

@section scripts {
    <script>
        const SerializedName = {
            thead: true,
            columns: [
                { id: "PickUpStatus", title: "狀態" },
                { id: "StockType", title: "品項", width: 160 },
                { id: "StockName", title: "品名", width: 250 },
                { id: "Amount", title: "數量", width: 120 },
                { id: "TakeAmount", title: "已領取數量", width: 150 },
                { id: "RemainingAmount", title: "剩餘可領取數量", width: 150 },
                { id: "Unit", title: "單位", width: 80 },
            ]
        }

        const fakeData = {
            StoresRequisitionItem: [
                {
                    PickUpStatus: "已領取",
                    StockType: "備料",
                    StockName: "軸承潤滑劑",
                    Amount: "1",
                    TakeAmount: "1",
                    RemainingAmount: "0",
                    Unit: "罐",
                    SISN: "1"
                },
                {
                    PickUpStatus: "部分領取",
                    StockType: "備料",
                    StockName: "藥劑-1",
                    Amount: "11",
                    TakeAmount: "1",
                    RemainingAmount: "10",
                    Unit: "罐",
                    SISN: "2"
                },
            ],
            StockOutItem: [
                {
                    SSN: "A101",
                    StockType: "備料",
                    StockName: "藥劑-1",
                    MName: "藥劑-1",
                    Size: "1L",
                    Brand: "OXO",
                    Model: "OXO",
                    ExpiryDate: "2023/03/22",
                    Unit: "罐",
                    OutAmount: "1",
                    RemainingAmount: "6",
                    SISN: "1"
                },
                {
                    SSN: "A101",
                    StockType: "備料",
                    StockName: "藥劑-1",
                    MName: "藥劑-1",
                    Size: "1L",
                    Brand: "OXO",
                    Model: "OXO",
                    ExpiryDate: "2023/03/22",
                    Unit: "罐",
                    OutAmount: "1",
                    RemainingAmount: "10",
                    SISN: "2"
                }
            ]
        }

        let sampleTr;

        $(async function () {
            await pushSelect("StockOutUserName", '@Url.Action("AllMyName", "DropDownList")');
            await pushSelect("ReceiverUserName", '@Url.Action("AllMyName", "DropDownList")');
            $("#SRSN").on("change", function () {
                if (!this.reportValidity()) {
                    return
                }
                $.ajax({
                    url: `/StockOut_Management/GetRequisitionInfo/${this.value}`,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success(res) {
                        console.log(res)
                        $("#StockItemInfo").append(createTableGrid(res, SerializedName));
                    },
                    error(res) {
                        createDialogModal({ id: "DialogModal-Error", inner: `${res.responseText || ""}` })
                        $("#SRSN").val("")
                    }
                })
            })
            sampleTr = new SampleTr();
            addButtonEvent();

            //fakedata ui
            fakeData?.StockOutItem?.forEach((item) => {
                sampleTr.create(item)
            })
        })

        function SampleTr() {
            this.count = 0;
            this.list = $("#item-area")
            this.init = async function () {
                const observer = new ResizeObserver((entries) => {
                    for (const entry of entries) {
                        let style = getComputedStyle(entry.target)
                        let mh = parseInt(style.getPropertyValue("max-height").match(/(\d)+/)?.[0])
                        let h = parseInt(style.getPropertyValue("height").match(/(\d)+/)?.[0])
                        $(".datatable-input-area").toggleClass("max-w-scroll", h >= mh)
                        //console.log(`${h} >= ${mh} ${h >= mh}`)
                    }
                })
                observer.observe(this.list.closest(".datatable-body")[0])

                this.list.on("click", ".btn-delete-item", function (e) {
                    $(this).parent().parent().remove();
                })

                this.sample = $(`<tr id="sample-input-tr">
                    <td class="d-none"><input type="text" id="SISN" hidden></td>
                    <td id="d-SSN"></td>
                    <td id="d-StockType"></td>
                    <td id="d-StockName"></td>
                    <td id="d-MName"></td>
                    <td id="d-Size"></td>
                    <td id="d-Brand"></td>
                    <td id="d-Model"></td>
                    <td id="d-ExpiryDate"></td>
                    <td id="d-_OutAmount"></td>
                    <td id="d-Unit"></td>
                    <td id="d-RemainingAmount"></td>
                    <td><button type="button" class="btn-delete-item"></button></td>
                </tr>`);
            }
            this.create = function (data = null) {
                let item = this.sample.clone();
                item.attr('id', this.count);
                this.list.append(item);
                if (data) {
                    for (const [k, v] of Object.entries(data)) {
                        item.find("#d-" + k).text(v)
                    }
                    item.find("#SISN").val(data.SISN)
                    item.find("#d-_OutAmount")
                        .html(`<input type="number" id="OutAmount" class="form-control" step="any" min="0" max="${data.RemainingAmount}" required value="${data.OutAmount}">`)
                }
                this.count++;
            }
            this.calc = function () {
                return this.list.children().toArray().map((e) => {
                    return {
                        SSN: $(e).find("#d-SSN").text(),
                        SISN: $(e).find("#SISN").val(),
                        OutAmount: $(e).find("#OutAmount").val(),
                    }
                })
            }
            this.checkValidity = () => {
                return this.list.children().length > 0
            }
            this.init();
            return this;
        }

        function save() {
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            console.log("todo save():", isValidity)
            if (!isValidity) return;

            if (!sampleTr.checkValidity()) {
                onError({ responseText: "請掃瞄RFID以進行出庫作業！" })
                return;
            }

            let form = new FormData();
            form.append("SRSN", $("#SRSN").val())
            form.append("StockOutUserName", $("#StockOutUserName").val())
            form.append("ReceiverUserName", $("#ReceiverUserName").val())
            form.append("StockOutContent", $("#StockOutContent").val())

            sampleTr.calc().forEach((item, i) => {
                form.append(`StockOutItem[${i}].SSN`, item.SSN)
                form.append(`StockOutItem[${i}].SISN`, item.SISN)
                form.append(`StockOutItem[${i}].OutAmount`, item.OutAmount)
            })

            return;
            $.ajax({
                url: '@Url.Action("CreateStockOut", "StockOut_Management")',
                data: form,
                type: "POST",
                contentType: false,
                processData: false,
                success: onSuccess,
                error: onError
            })
            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "新增成功！",
                    onHide: () => { window.location.href = "/StockOut_Management/Management"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }
        }

        function addButtonEvent() {
            $("#back").click(function () {
                history.back();
            })

            $("#submit").click(function () {
                save();
            })
        }
    </script>
}