
@{
    ViewBag.Title = "出庫詳情";
}

<h2>@ViewBag.Title</h2>

<div class="datatable datatable-small mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="StockItemInfo"></table>
    </div>
</div>

<div class="datatable datatable-grid mt-5">
    <div class="datatable-body overflow-auto">
        <table class="datatable-table" id="StockOutItem">
        </table>
    </div>
</div>

<script src="/Scripts/datatable.js"></script>
<script>
    @*var eqList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.JsonStr));
    eqList = eqList.replace("\r", "").replace("\n", "");
    var equipmentList = JSON.parse(eqList);
    console.log(equipmentList);*@

    const apiUrl = null;

    const SerializedName = [
        { text: "出庫單號", value: "SORSN" },
        { text: "領用單號", value: "SRSN" },
        { text: "出庫日期", value: "StockOutDateTime" },
        { text: "出庫人員", value: "StockOutName" },
        { text: "領取人員", value: "ReceiverName" },
        { text: "說明", value: "StockOutContent" },
    ]

    const GridOptions = {
        thead: true,
        columns: [
            { id: "ExternalRFID", title: "RFID",width:135 },
            { id: "RFID_StockType", title: "品項", width: 135 },
            { id: "RFID_StockName", title: "品名", width: 135 },
            { id: "MName", title: "廠商品名", width: 135 },
            //{ id: "Size", title: "尺寸", width: 135 },
            { id: "Brand", title: "廠牌", width: 135 },
            { id: "Model", title: "型號", width: 135 },
            { id: "OutAmount", title: "數量", width: 135 },
            { id: "RFID_Unit", title: "單位", width: 135 },
        ]
    }

    const fakeData = {
        SORSN: "A001",
        SRSN: "備料",
        StockOutDateTime: "藥劑-1",
        StockOutName: "50",
        ReceiverName: "罐",
        StockOutContent: 25,
        StockOutItem: [
            {
                ExternalRFID: "A101",
                RFID_StockType: "備料",
                RFID_StockName: "軸承潤滑劑",
                MName:"軸承潤滑劑",
                Size:"1L",
                Brand:"OXO",
                Model:"OXO",
                OutAmount:"1",
                RFID_Unit:"罐",
            },
            {
                ExternalRFID: "A101",
                RFID_StockType: "備料",
                RFID_StockName: "軸承潤滑劑",
                MName: "軸承潤滑劑",
                Size: "1L",
                Brand: "OXO",
                Model: "OXO",
                OutAmount: "3",
                RFID_Unit: "罐",
            }
        ]
    }

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :   //fakeData
            $.ajax({
                url: url,
                data: JSON.stringify(jsonData),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#StockItemInfo").append(createTableInner(res, SerializedName));
            if (res.StockOutItem) {
                $("#StockOutItem").append(createTableGrid(res.StockOutItem, GridOptions))
            }
            else {
                $("#StockOutItem").parents(".datatable").remove();
            }
        }
        function onError(res) {
            console.log(res);
        }
    }

    window.onload = function () {
        readData(apiUrl);
    }
</script>

