@{
    ViewBag.Title = "新增採樣分析流程";
}

<style>

</style>

<h2>@ViewBag.Title</h2>

<section class="m-auto">
    <div class="edit-area edit-area-xsmall flex-wrap justify-content-lg-center gap-3 px-5 py-4">
        <form class="form d-lg-contents p-0">
            <div class="form-group w-100 required">
                <label for="ExperimentType">實驗類型</label>
                <select class="form-select" name="ExperimentType" id="ExperimentType" required>
                    <option value="">請選擇</option>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="form-group w-100 required">
                <label for="ExperimentName">實驗名稱</label>
                <input class="form-control" type="text" name="ExperimentName" id="ExperimentName" required>
            </div>

            <div id="FileUploader"></div>

            <div class="form-group w-100" id="Labels">
                <label>使用的實驗標籤名稱</label>
                <div class="d-flex flex-wrap justify-content-lg-center " style="gap: 1rem 2rem;">
                    <div class="d-contents p-0" id="item-list"></div>
                    <button class="btn btn-create-item w-100" type="button" id="create-item">+新增</button>
                </div>
            </div>

            <div class="form-group w-100" id="Datas">
                <label>實驗數據欄位名稱</label>
                <div class="d-flex flex-wrap justify-content-lg-center " style="gap: 1rem 2rem;">
                    <div class="d-contents p-0" id="item-list"></div>
                    <button class="btn btn-create-item w-100" type="button" id="create-item">+新增</button>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-submit" id="submit">新增</button>
</div>

<script src="/Scripts/tool.js"></script>
<script src="/Scripts/datatable.js"></script>
<script>

    var labelItems = new LabelItems("Labels")
    var dataItems = new LabelItems("Datas")
    var fileUploader;
    $(async function () {
        addButtonEvent();
        fileUploader = new FileUploader({
            container: "#FileUploader",
            className: "form-group w-100",
            label: "實驗採樣分析流程",
            id: "File"
        })
        labelItems.create()
        dataItems.create()
    });

    function save() {
        let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
        console.log("isValidity():", isValidity)
        if (!isValidity) return;

        var form = new FormData();
        form.append("EDate", document.getElementById("EDate").value);
        form.append("ExperimentType", document.getElementById("ExperimentType").value);
        form.append("ExperimentName", document.getElementById("ExperimentName").value);

        if (fileUploader.hasFile()) {
            form.append("WorkflowFile", fileUploader.getFile());
        }

        labelItems.calc().forEach((item, i) => {
            form.append(`LabelItem_${i}_LabelName`, item.Name);
        })
        dataItems.calc().forEach((item, i) => {
            form.append(`DataItem_${i}_DataName`, item.Name);
        })

        console.log(Object.fromEntries(form.entries()));
        $.ajax({
            url: '@Url.Action("CreateLaboratoryLabel", "LaboratoryLabel_Management")',
            data: form,
            type: "POST",
            contentType: false,
            processData: false,
            success: onSuccess,
            error: onError
        })
        function onSuccess(res) {
            console.log(res);
            createDialogModal({
                id: "DialogModal-Success", inner: "新增成功！",
                onHide: () => { window.location.href = "/LaboratoryLabel_Management/Management"; }
            });
        }
        function onError(res) {
            console.log(res);
            createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res.responseText}` })
        }
    }
    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })

        $("#submit").click(function () {
            save();
        })
    }

    function LabelItems(id) {
        this.list = $(`#${id} #item-list`)
        this.count = 0
        const temp_item = (count) => {
            return `<div class="d-flex w-100 gap-3" id="item-${count}">
                <input id="Value" name="Value" hidden>
                <input class="form-control" id="Name" name="Name" type="text" minlength="1" maxlength="200" required/>
                <button class="btn-delete-item align-self-center flex-shrink-0" type="button"></button>
            </div>`
        }
        this.create = (data = null) => {
            let item = $(temp_item(this.count))
            if (data) {
                item.children("#Value").val(data.Value)
                item.children("#Name").val(data.Name)
            }
            item.find(".btn-delete-item").click(() => {
                item.remove()
            })
            this.list.append(item)
            this.count++
        }
        this.delete = (count) => {
            $(`#${id} #item-${count}`).remove()
        }
        this.calc = () => {
            return this.list.children().toArray().map((e) => {
                return {
                    Value: $(e).children("#Value").val(),
                    Name: $(e).children("#Name").val()
                }
            })
        }
        this.init = () => {
            $(`#${id} #create-item`).click(() => {
                this.create()
            })
        }
        this.init()
        return this
    }
</script>