@{
    ViewBag.Title = "新增巡檢路線模板";
}
<link rel="stylesheet" href="/Content/samplepath.css">

<h2>@ViewBag.Title</h2>

<div class="search-area bg-transparent">
    <form class="form">
        <div class="form-group required">
            <label for="Area">棟別</label>
            <select class="form-select" name="Area" id="Area" required>
                <option value="">請選擇</option>
                <!--TEST-->
                <option value="1" selected>1</option>
            </select>
        </div>
        <div class="form-group required">
            <label for="Floor">樓層</label>
            <select class="form-select" name="Floor" id="Floor" required>
                <option value="">請選擇</option>
                <!--TEST-->
                <option value="1" selected>1</option>
            </select>
        </div>
        <div class="form-group required">
            <label for="PathTitle">巡檢路線模板</label>
            <input type="text" class="form-control" name="PathTitle" id="PathTitle" value="PathTitle標題"><!--TEST-->
        </div>
        <div class="button-group justify-content-start">
            <button class="btn btn-search" id="path-create">確認</button>
        </div>
    </form>
</div>

<div class="sample-path-area">
    <h3 class="sample-path-title">巡檢路線規劃</h3>

    <div class="edit-area">
        <div class="sample-path-group-area">
            <div class="input-group sample-path-group">
                <span class="input-group-text" id="sample-path-name"></span>
                <div type="text" class="form-control">
                    <nav>
                        <ol class="breadcrumb d-none" id="path-display">
                            <li class="breadcrumb-item">起點</li>
                            <li class="breadcrumb-item">終點</li>
                        </ol>
                    </nav>
                    <button class="path-edit" id="path-edit" data-bs-toggle="tooltip" title="手動修改路徑">
                        <i class="icon-edit"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="sample-path-draw-area d-none">
            <div class="sample-path-toolbar">
                <button class="path-icon" id="path-draw" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="規劃路徑">
                    <i class="icon-pen"></i>
                </button>
                <button class="path-icon" id="path-eraser" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="清除路徑">
                    <i class="icon-eraser"></i>
                </button>
                <button class="path-icon" id="path-reload" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="重新規劃路徑">
                    <i class="icon-reload"></i>
                </button>
                <button class="path-icon" id="path-auto" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="自動計算路徑">
                    <i class="icon-auto"></i>
                </button>
            </div>
            <div class="viewer3Dcontainer">
                <div id="viewer3d" style="margin:0;"></div>
                <canvas id="PathCanvas"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

<div class="modal fade sort-list-modal" tabindex="-1" id="sortRouteModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改路徑</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="sort-list-area"></div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-back" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-export" onclick="SaveRoute()">儲存變更</button>
            </div>
        </div>
    </div>
</div>

<!-- CDN -->
<link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.4"
    type="text/css">
<script language="JavaScript"
    src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.4"></script>

<!-- Autodesk Forge -->
<script>
    var viewer;
    var myProfileSettings_up = {
        name: "mySettings_up",
        description: "My personal settings.",
        settings: {
            viewType: 1, //orthographic
        },
        persistent: [],
        extensions: {
            load: [],
            unload: [
                //減少toolbar物件
                "Autodesk.Section",
                "Autodesk.Measure",
                "Autodesk.Explode",
                "Autodesk.BimWalk",
                "Autodesk.Viewing.FusionOrbit"
            ]
        }
    }
    async function initializeViewer(callback) {
        Autodesk.Viewing.Private.InitParametersSetting.alpha = true; //設定透明背景可用
        var myViewerDiv = document.getElementById('viewer3d');
        viewer = new Autodesk.Viewing.GuiViewer3D(myViewerDiv, { profileSettings: myProfileSettings_up });
        var options = {
            'env': "Local",
            'document': "../BimModels/Site01/Resource/3D View/林口(一)/林口(一).svf" //svf檔路徑
        };
        Autodesk.Viewing.Initializer(options, function () {
            viewer.start(options.document, options, onSuccessCallback, onErrorCallback);
            async function onSuccessCallback() {
                console.log("onSuccessCallback");
                viewer.setBackgroundOpacity(0);
                viewer.setBackgroundColor();
                viewer.setLightPreset(16);

                viewer.toolbar.removeControl("navTools");
                viewer.toolbar.removeControl("settingsTools");

                viewer.addEventListener(Autodesk.Viewing.GEOMETRY_LOADED_EVENT, function (e) {
                    console.log("GEOMETRY_LOADED_EVENT");
                    viewer.addEventListener(
                        Autodesk.Viewing.FINAL_FRAME_RENDERED_CHANGED_EVENT,
                        loadWireFrame);

                    function loadWireFrame() {
                        console.log("FINAL_FRAME_RENDERED_CHANGED_EVENT");
                        if (!viewer.isExtensionLoaded('Autodesk.Viewing.Wireframes')) {
                            viewer.loadExtension('Autodesk.Viewing.Wireframes').then(callback);
                            viewer.removeEventListener(
                                Autodesk.Viewing.FINAL_FRAME_RENDERED_CHANGED_EVENT,
                                loadWireFrame);
                        }
                    }
                });
                viewer.addEventListener(Autodesk.Viewing.EXTENSION_LOADED_EVENT, function (e) {
                    console.log("EXTENSION_LOADED_EVENT = " + e.extensionId);
                    switch (e.extensionId) {
                        case "Autodesk.ViewCubeUi":
                            const ViewCubeExt = viewer.getExtension("Autodesk.ViewCubeUi");
                            ViewCubeExt.setVisible(false);

                            //上視圖視角設定
                            let pos = new THREE.Vector3(0, 0, 160);
                            let target = new THREE.Vector3(0, 0, 0);
                            viewer.navigation.setView(pos, target);
                            viewer.navigation.setCameraUpVector(new THREE.Vector3(-1, 0, 0));
                            break;
                        case 'Autodesk.Viewing.Wireframes':
                            const wfExt = viewer.getExtension('Autodesk.Viewing.Wireframes');
                            wfExt.activate(); //開啟
                            wfExt.showSolidMaterial(false); //取消固體材質
                            let lineMaterial = new THREE.LineBasicMaterial({
                                color: 0x000000,
                                linewidth: 0.2
                            });
                            wfExt.setLinesMaterial(lineMaterial);
                            wfExt.setLightPreset(16); //開啟邊線時燈光會自動換到大頭貼燈光，所以要設定回自訂燈光
                            console.log("wfExt run end");
                            break;
                    }
                })
            }
            function onErrorCallback() { console.log("onErrorCallback"); }
        });
    }

</script>

<!-- PIXI Draw -->
<script src="https://pixijs.download/release/pixi.js"></script>
<script src="/Scripts/ForgeDraw.js"></script>
<script>
    var app;

    var stage;

    var autoCalcRoute = true;

    const deviceDbId = [
        {
            dbId: 3078,
            deviceType: "bluetooth",
            deviceName: "BT-11014",
        },
        {
            dbId: 3239,
            deviceType: "bluetooth",
            deviceName: "BT-11015",
        },
        {
            dbId: 3162,
            deviceType: "bluetooth",
            deviceName: "BT-11016",
        }
    ];

    let btUrl = "/Content/img/bluetooth.svg";

    let $list = $("#point-list").find("tbody");
    let $detail = $("#point-detail").find("tbody");
    let $route = $("#path-display");

    function initializeDrawer() {
        let view = document.querySelector("#PathCanvas");
        app = ForgeDraw.init(view, viewer, function () {
            view.addEventListener("fd.linedata.change", function (event) {
                console.log("view => fd.linedata.change");
                updateChange();
                calcRoute();
            });
            view.addEventListener("fd.linedata.detail", function (event) {
                console.log("view => fd.linedata.detail", event.detail);
                showDetail(event.detail);
            });
            view.addEventListener("fd.linedata.removeall", function (event) {
                console.log("view => fd.linedata.removeall");
                removeRoute();
            });
            view.addEventListener("fd.devicepoint.ignore", function (event) {
                console.log("view => fd.devicepoint.ignore");
                calcRoute();
            });

            deviceDbId.forEach((e) => {
                let btSprite = PIXI.Sprite.from(btUrl);
                btSprite.scale.set(0.6);
                btSprite.anchor.set(0.5);
                let dp = new ForgeDraw.DevicePoint(e, btSprite);
            });

            addTooltip();
        });

        $("#point-detail").find("button").on("click", hideDetail);

        function updateChange() {
            let html = "";

            ForgeDraw.lineData.forEach((e, i, arr) => {

                let p = viewer.clientToWorld(
                    e.position.x,
                    e.position.y,
                );

                html += `
                    <tr id="lineData_${i}">
                        <td>${i}</td>
                        <td>${p ? +(Math.floor(p.point.x + "e+2") + "e-2") : "null"}</td>
                        <td>${p ? +(Math.floor(p.point.y + "e+2") + "e-2") : "null"}</td>
                        <td>${e.isBool}</td>
                    </tr>
                    `;
            })
            $list.empty();
            $list.append(html);
        }

        function calcRoute() {

            if (ForgeDraw.lineData.length > 1) {
                ForgeDraw.devices.forEach((dp) => {
                    dp.update();
                })
            }

            if (!autoCalcRoute) {
                return;
            }

            //開始計算路徑
            let route = ForgeDraw.getRoute().map(e => e.name);
            console.log(ForgeDraw.devices.map(e => e.result));

            route.unshift("起點");
            route.push("終點");

            //顯示在網頁上
            updatePathDisplay(route);
        }

        function showDetail(data) {
            let html = `
                <tr><td>dbId</td><td>${data.dbId}</td></tr>
                <tr><td>名稱</td><td>${data.name}</td></tr>
                <tr><td>是否忽略</td><td>${!data.isUpdate}</td></tr>
                `;
            $detail.empty();
            $detail.append(html);

            $("#point-detail").removeClass("d-none");
        }

        function hideDetail() {
            $("#point-detail").addClass("d-none");
        }
    }

    //更新網頁顯示的路徑
    function updatePathDisplay(path) {
        let $path = $("#path-display");
        $path.empty();
        path.forEach(r => {
            let pathPoint = `<li class="breadcrumb-item">${r}</li>`;
            $path.append(pathPoint);
        })
    }
    function useDrawToggle(bool = undefined) {
        let btn = $("#path-draw");
        if (bool != undefined) {
            ForgeDraw.setControl("isUseDraw", bool);
            btn.toggleClass("active", bool);
            return;
        }
        bool = ForgeDraw.getControl("isUseDraw");
        ForgeDraw.setControl("isUseDraw", !bool);
        btn.toggleClass("active", !bool);
    }
    function useEraserToggle(bool = undefined) {
        let btn = $("#path-eraser");
        if (bool != undefined) {
            ForgeDraw.setControl("isUseEraser", bool);
            btn.toggleClass("active", bool);
            return;
        }
        bool = ForgeDraw.getControl("isUseEraser");
        ForgeDraw.setControl("isUseEraser", !bool);
        btn.toggleClass("active", !bool);
    }
    function removeRoute() {
        $list.empty();
        $route.empty();
        $route.append(`
            <li class="breadcrumb-item">起點</li>
            <li class="breadcrumb-item">終點</li>
            `);
    }
</script>


<!-- Drag and Drop -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script>
    var sortRouteModal = new bootstrap.Modal(document.getElementById('sortRouteModal'));
    let sortlist = $(`<ul class="sortlist" id="sortlist"></ul>`);
    function DragRoute() {
        let $area = $(".sort-list-area");
        createRouteItems();
        let sortable = Sortable.create(sortlist[0], {
            swapThreshold: 0.45,
            animation: 150,
            ghostClass: "ghost",
            dragClass: "drag",
            direction: 'horizontal',
            filter: '.disable',
            draggable: ".item"
        });
        $area.empty();
        $area.append(sortlist);
        sortRouteModal.show();
        function createRouteItems() {
            sortlist.empty();
            let list = ForgeDraw.getRoute();
            console.log(list);
            sortlist.append(`<li class="disable">起點</li>`);
            list.forEach((e, i, arr) => {
                let li = `<li class="item ${e.type}">${e.name}</li>`;
                sortlist.append(li);
            })
            sortlist.append(`<li class="disable">終點</li>`);
        }
    }
    function SaveRoute() {
        AutoRouteToggle(false);

        let route = sortlist.find("li").toArray().map((e) => {
            return $(e).text();
        })

        updatePathDisplay(route);

        sortRouteModal.hide();
    }
    function AutoRouteToggle(bool = undefined) {
        let btn = $("#path-auto");
        if (bool != undefined) {
            autoCalcRoute = bool;
            btn.toggleClass("active", bool);
            return;
        }
        autoCalcRoute = !autoCalcRoute;
        btn.toggleClass("active", autoCalcRoute);
    }
</script>

<!-- EVENT -->
<script>
    $(function () {
        addButtonEvent();
        useDrawToggle(ForgeDraw.getControl("isUseDraw"));
        useEraserToggle(ForgeDraw.getControl("isUseEraser"));
        AutoRouteToggle(autoCalcRoute);
        //TEST
        $("#path-create").click();
    });

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })
        $("#path-create").click(function (e) {
            e.preventDefault();
            console.log("onclick path-create");
            if ($("form")[0].checkValidity()) {
                $("#sample-path-name").text($("#PathTitle").val());
                $(".sample-path-draw-area").removeClass("d-none");
                $("#path-display").removeClass("d-none");
                initializeViewer(initializeDrawer);
            }
        })
        $("#path-edit").click(function () {
            DragRoute();
        })
        $("#path-draw").click(function () {
            $(this).blur();
            useDrawToggle();
        })
        $("#path-eraser").click(function () {
            $(this).blur();
            useEraserToggle();
        })
        $("#path-reload").click(function () {
            $(this).blur();
            removeRoute();
        })
        $("#path-auto").click(function () {
            $(this).blur();
            AutoRouteToggle();
        })
        $("#submit").click(function () {
            console.log("onclick submit")
            save();
        })
    }

    function addTooltip() {
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl, {
                customClass: "sample-path-tooltip",
                //template: `<div class="tooltip" role="tooltip"><div class="tooltip-inner"></div></div>`
            })
        })
        tooltipList.forEach(e => e.show())
        setTimeout(() => {
            tooltipList.forEach(e => e.hide())
        }, 2000)
    }

    function save() {

    }
</script>