@{
    ViewBag.Title = "巡檢路線模板 詳情";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/dataTable/InspectionPlanRepair.js" defer></script>
    <script src="/Scripts/dataTable/PlanRecord.js" defer></script>
    <script src="/Scripts/dataTable/EquipmentInfoModal.js" defer></script>
}


<h2>@ViewBag.Title</h2>

<section>
    <div class="info-area">
        <div class="datatable datatable-small">
            <div class="datatable-body">
                <table class="datatable-table" id="PlanDetail"></table>
            </div>
        </div>
        <div class="datatable datatable-grid datatable-fill">
            <div class="datatable-body overflow-auto">
                <table class="datatable-table" id="PlanRecord">
                </table>
            </div>
        </div>
    </div>
</section>

@*定位資訊POP UP*@
<div class="modal fade datagrid-modal" tabindex="-1" id="Location">
    <div class="modal-dialog modal-screen-md modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h3>定位資訊</h3>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
         let PlanPathSN = location.href.split('/').pop();
         let apiUrl = null;

        $(async function () {
            console.log(PlanPathSN)
            readData(apiUrl);
        })
        //每日巡檢時程模板 詳情
        const SerializedName = [
            { text: "巡檢路線名稱", value: "PName" },
            { text: "巡檢頻率", value: "PFrequency" },
        ]
        const GridOptions = {
            thead: true,
            columns: [
                { id: "Index", title: "" },
                { id: "InterCode", title: "RFID內碼" },
                { id: "ExterCode", title: "RFID外碼" },
                { id: "RName", title: "RFID名稱" },
                { id: "RArea", title: "RFID棟別" },
                { id: "RFloor", title: "RFID樓層" },
                { id: "RMemo", title: "RFID備註" },
                { id: "EName", title: "設備名稱" },
                { id: "ESN", title: "設備編號" },
                { id: "Brand", title: "廠牌" },
                { id: "Model", title: "型號" },
                { id: "Frequency", title: "巡檢頻率" },
                { id: "Btn", title: "" },
            ]
        }
        let fakeData = {
            PName: "前處理機房巡檢",
            PFrequency: "每3小時",
            SampleItem: [
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RName: "前處理機房巡檢",
                    RArea: "前處理區",
                    RFloor: "1F",
                    RMemo: "備註備註備註",
                    EName: "螺旋發送機",
                    ESN: "SP-0202A",
                    Brand: "XX廠牌",
                    Model: "W004N",
                    Frequency: "每2小時",
                },
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RName: "前處理機房巡檢",
                    RArea: "前處理區",
                    RFloor: "1F",
                    RMemo: "備註備註備註",
                    EName: "螺旋發送機",
                    ESN: "SP-0202A",
                    Brand: "XX廠牌",
                    Model: "W004N",
                    Frequency: "每2小時",
                },
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RName: "前處理機房巡檢",
                    RArea: "前處理區",
                    RFloor: "1F",
                    RMemo: "備註備註備註",
                    EName: "螺旋發送機",
                    ESN: "SP-0202A",
                    Brand: "XX廠牌",
                    Model: "W004N",
                    Frequency: "每2小時",
                },
            ]
        }
       
        function readData(url = null, SN) {

            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: `${url}/?PlanPathSN=${SN}`,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log("res", res);
                $("#PlanDetail").append(createTableInner(res, SerializedName));
                res.SampleItem ?
                    $("#PlanRecord").append(createTableGrid(
                        createIndexToArrayData(res.SampleItem), GridOptions)) :
                    $("#PlanRecord").parents(".datatable").remove();
            }

            function onError(res) {
                console.log(res);
            }
            //在每列加上次序
            function createIndexToArrayData(arr) {
                return arr.map((e, i) => {
                    return {
                        Index: i + 1,
                        ...e,
                        Btn: `<button type="button" class="btn btn-location" data-bs-toggle="modal" data-bs-target="#Location"><i class="fa-solid fa-location-dot"></i></button>`
                    }
                })
            }
        }


    </script>
}