@{
    ViewBag.Title = "巡檢路線模板詳情";
}
@section styles{
    <link rel="stylesheet" href="/Content/samplepath.css">
    <!-- Autodesk Forge -->
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.60"
        type="text/css">
    <link rel="stylesheet" href="/Content/loading.css" type="text/css">
    <script language="JavaScript"
        src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.60" defer></script>
    <script src="/Scripts/Forge/Viewer.Loading.js" defer></script>
    <script src="/Scripts/Forge/Viewer.Toolkit.js" defer></script>
    <script src="/Scripts/Forge/UpViewer.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>

    <!-- PIXI Draw -->
    <script src="https://pixijs.download/v7.2.2/pixi.js" defer></script>
    <script src="/Scripts/ForgeDraw.js" defer></script>
    <script src="/Scripts/datatable.js" defer></script>
    <script src="/Scripts/Forge/ForgeDrawFunction.js" defer></script>
    <script src="/Scripts/Forge/SamplePathReadOnly.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<div class="datatable datatable-small mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="PathSampleInfo"></table>
    </div>
</div>

<div class="sample-path-area">
    <h3 class="sample-path-title">巡檢路線規劃</h3>

    <div class="edit-area">
        <div class="sample-path-group-area">
            <div class="input-group sample-path-group" data-path-id="1">
                <span class="input-group-text" id="current-path-title"></span>
                <div type="text" class="form-control">
                    <nav>
                        <ol class="breadcrumb" id="current-path-display"></ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sample-path-draw-area">
            <input type="number" id="current-path-id" value="1" hidden>
            <div class="viewer3Dcontainer">
                <div id="viewer3d" style="margin:0;"></div>
                <canvas id="PathCanvas"></canvas>
            </div>
        </div>
    </div>
</div>

<script>

    const PSSN = '@ViewBag.PSSN';
    let apiUrl = '@Url.Action("ReadBody", "SamplePath_Management")' + `/${PSSN}`;

    let fakeData;

    $(async function () {
        readData(apiUrl);
    });

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        async function onSuccess(res) {
            console.log(res);
            fakeData = res;
            const ps = res.PathSample;

            $("#PathSampleInfo").append(
                createTableInner(ps, [
                    { text: "巡檢路線模板", value: "PathTitle" },
                    { text: "棟別", value: "Area" },
                    { text: "樓層", value: "Floor" },
                ])
            )

            $("#current-path-title").text(ps.PathTitle);
            const { BIMPath, BeaconPath } = ps;
            initializeViewer({
                BIMPath, BeaconPath,
                callback: () => { initializeDrawer(res) }
            });
        }
        function onError(res) {
            console.log(res);
        }
    }
</script>