@{
    ViewBag.Title = "編輯實驗室維護管理";
}
<style>
    @@media (min-width: 992px) {
        .edit-area .form {
            grid-template-columns: 250px 250px;
        }
    }
</style>
<h2>@ViewBag.Title</h2>
<div class="edit-area edit-area-small">
    <form class="form pt-0">
        <input type="text" id="LMSN" name="LMSN" hidden>
        <div class="form-group required">
            <label for="MType">維護類型</label>
            <select class="form-select" name="MType" id="MType" required>
                <option value="">請選擇</option>
                <option value="人員維護">人員維護</option>
            </select>
        </div>

        <div class="form-group required">
            <label for="MTitle">標題</label>
            <input class="form-control" id="MTitle" name="MTitle" type="text" required>
        </div>

        <div class="form-group" style="grid-column: auto/span 2;">
            <label for="MContent">說明</label>
            <textarea class="form-control" name="MContent" id="MContent" rows="1"
                style="resize: vertical;"></textarea>
        </div>

        <div class="form-group g-col-2 required">
            <label for="">維護檔案</label>

            <div class="edit-button-area justify-content-start align-items-center mt-1 flex-wrap flex-lg-nowrap">
                <div class="d-lg-contents d-flex w-100" style="gap: 14px;">
                    <label for="File" type="button" class="btn btn-search w-lg-auto w-100 h-100 mt-0 flex-shrink-0">
                        選擇檔案
                    </label>
                </div>
                <div id="FileGroup"
                    class="order-first order-lg-last d-flex align-items-center text-start text-light w-100 w-lg-auto d-none">
                    <div id="FileName" class="d-inline-block text-break me-2" style="margin: 0.375rem;"></div>
                    <button type="button" class="btn-delete-item flex-shrink-0" id="FileDelete"></button>
                </div>
            </div>
            <input id="File" name="File" type="file" class="form-file-input">
            <input type="checkbox" id="_checkFile" name="_checkFile" class="form-file-input" required
                oninvalid="this.setCustomValidity(this.validity.valueMissing ? '請選擇檔案' : '')">
        </div>

    </form>
</div>
<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>
<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/tool.js"></script>
<script>
    const apiUrl = null;
    const fakeData = {
        LMSN: "1",
        MType: "人員維護",
        MTitle: "水質分析室緊急逃生路線",
        MContent: "緊急逃生說明",
        FilePath: "/Files/a.pdf"
    }

    $(async function () {
        addButtonEvent();
        readData(apiUrl);
    });

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :   //fakeData
            $.ajax({
                url: url,
                data: JSON.stringify(jsonData),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            for (const [k, v] of Object.entries(res)) {
                $("#" + k).val(v);
            }
            $("#FileName").text(res.FilePath.split("/").at(-1));
            $("#FileGroup").removeClass('d-none');
            $("#_checkFile").prop("checked", true);
        }
        function onError(res) {
            console.log(res);
        }
    }

    function save() {
        let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
        console.log("isValidity():", isValidity)
        if (!isValidity) return;

        var form = new FormData();
        form.append("LMSN", document.getElementById("LMSN").value);
        form.append("MType", document.getElementById("MType").value);
        form.append("MTitle", document.getElementById("MTitle").value);
        form.append("MContent", document.getElementById("MContent").value);
        var files = $("#File").get(0).files;
        if (files.length > 0) {
            form.append("MFile", files[0]);
        }
        console.log(Object.fromEntries(form.entries()));
        $.ajax({
            url: '@Url.Action("EditLaboratoryMaintenance", "LaboratoryMaintenance_Management")',
            data: form,
            type: "POST",
            contentType: false,
            processData: false,
            success: onSuccess,
            error: onError
        })
        function onSuccess(res) {
            console.log(res);
            createDialogModal({
                id: "DialogModal-Success", inner: "新增成功！",
                onHide: () => { window.location.href = "/LaboratoryMaintenance_Management/Management"; }
            });
        }
        function onError(res) {
            console.log(res);
            createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res.responseText}` })
        }
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })

        $("#File").change(function (e) {
            console.log(this.files);
            if (this.files && this.files.length !== 0) {
                let file = this.files[0];
                $("#FileName").text(file.name);
                $("#FileGroup").removeClass('d-none');
                $("#_checkFile").prop("checked", true);
            }
        })

        $("#FileDelete").click(function () {
            $("#File").val('');
            $("#FileName").text('');
            $("#FileGroup").addClass('d-none');
            $("#_checkFile").prop("checked", true);
        })

        $("#submit").click(function () {
            save();
        })
    }
</script>

