@{
    ViewBag.Title = "實驗數據詳情";
}

<h2>@ViewBag.Title</h2>
<div class="datatable datatable-small mt-5" style="--datatable-table-th-width: 150px;">
    <div class="datatable-body">
        <table class="datatable-table" id="FormInfo"></table>
    </div>
</div>

<div class="datatable datatable-small-grid mt-5">
    <div class="datatable-header">實驗數據</div>
    <div class="datatable-body">
        <table class="datatable-table" id="EDatas">
        </table>
    </div>
</div>

<script src="/Scripts/datatable.js"></script>

<script>
    const EDRSN = '@ViewBag.id';
    //let apiUrl = '@Url.Action("ReadBody", "ExperimentData_Management")' + `/${EDRSN}`;
    let apiUrl = null;

    const fakeData = {
        EDRSN: "1",
        ExperimentType: "水質分析",
        ExperimentName: "汙水管水質檢測分析實驗",
        EDate: "2023-05-22",
        FilePath: "/Files/ExperimentData/000001.pdf",
        UploadUserName: "王大明",
        UploadDateTime: "2023-12-18 12:10:33",
        ExperimentalDataItem: [
            {
                DataName: "LLLD1",
                Data: "10.1"
            },
            {
                DataName: "LLLD1",
                Data: "10.2"
            },
        ]
    }

    const sn = [
        { text: "實驗類型", value: "ExperimentType" },
        { text: "實驗名稱", value: "ExperimentName" },
        { text: "實驗日期", value: "EDate" },
        { text: "上傳者", value: "UploadUserName" },
        { text: "上傳時間", value: "UploadDateTime" },
        { text: "實驗數據", value: "FilePath" },
    ]

    const GridOptions = {
        thead: false,
        columns: [
            { id: "index", width: "10%" },
            { id: "DataName", width: "40%" },
            { id: "Data", width: "50%" },
        ]
    }


    $(function () {
        addButtonEvent();
        readData(apiUrl);
    })

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        async function onSuccess(res) {
            console.log(res);
            $("#FormInfo").append(createTableInner(res, sn))

            res.ExperimentalDataItem ?
                $("#EDatas").append(createTableGrid(
                    createIndexToArrayData(res.ExperimentalDataItem),
                    GridOptions
                )) :
                $("#EDatas").parents(".datatable").remove();

            function createIndexToArrayData(arr) {
                return arr.map((e, i) => {
                    return {
                        index: i,
                        DataName: e.DataName,
                        Data: e.Data
                    }
                })
            }
        }
        function onError(res) {
            console.log(res);
        }
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })
    }
</script>