@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fnjswf');
  src:  url('fonts/icomoon.eot?fnjswf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fnjswf') format('truetype'),
    url('fonts/icomoon.woff?fnjswf') format('woff'),
    url('fonts/icomoon.svg?fnjswf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: "\e911";
}
.icon-equip:before {
  content: "\e910";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e90e";
}
.icon-human:before {
  content: "\e90d";
}
.icon-marker:before {
  content: "\e90c";
}
.icon-people:before {
  content: "\e90b";
}
.icon-ring:before {
  content: "\e90a";
}
.icon-walk:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e907";
}
.icon-tools:before {
  content: "\e906";
}
.icon-auto:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-eraser:before {
  content: "\e902";
}
.icon-pen:before {
  content: "\e903";
}
.icon-reload:before {
  content: "\e904";
}
.icon-handle:before {
  content: "\e905";
}
