@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pcx03h');
  src:  url('fonts/icomoon.eot?pcx03h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pcx03h') format('truetype'),
    url('fonts/icomoon.woff?pcx03h') format('woff'),
    url('fonts/icomoon.svg?pcx03h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auto:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-eraser:before {
  content: "\e902";
}
.icon-pen:before {
  content: "\e903";
}
.icon-reload:before {
  content: "\e904";
}
.icon-handle:before {
  content: "\e905";
}
