@{
    ViewBag.Title = "請購審核";
}

<h2>@ViewBag.Title</h2>

<div class="datatable datatable-small mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="Info"></table>
    </div>
</div>

<div class="datatable datatable-grid mt-5 w-auto" style="max-width:1282px;">
    <div class="datatable-body overflow-auto">
        <table class="datatable-table" style="width: max-content;" id="PurchaseRequisitionItem">
        </table>
    </div>
</div>

<div class="edit-area edit-area-small mt-5" style="gap: 1rem 2rem;">
    <form class="form d-lg-contents">
        <div class="d-flex flex-wrap w-100 gap-4">
            <div class="form-group w-lg-100 mx-5 d-flex align-items-center">
                <label for="AuditUserID" class="col-2">審核人員:</label>
                <span style="color: white;">王OO</span>
            </div>
            <div class="form-group w-lg-100 mx-5 d-flex ">
                <label for="AuditContent" class="col-2">審核意見:</label>
                <input class="form-control col" id="AuditContent" name="AuditContent" type="text" required="">
            </div>
        </div>
    </form>
</div>

<script src="/Scripts/datatable.js"></script>
<script>
    const apiUrl = null;
    const SerializedName = [
        { text: "單號", value: "PRN" },
        { text: "請購人", value: "PRUserName" },
        { text: "請購部門", value: "PRDept" },
    ]

    const fakeData = {
        PRN: "PR23041201",
        PRUserName: "admin0001",
        PRDept: "機電維修部門",
        PurchaseRequisitionItem: [
            {
                PRIN: "PR23041201_01",
                Kind: "潤滑劑",
                ItemName: "軸承潤滑劑B",
                Size: "1L",
                PRAmount: "10",
                Unit: "罐",
                EstimatedDate: "2023/04/31",
                ApplicationPurpose: "OOXX",
            },
            {
                PRIN: "PR23041201_02",
                Kind: "潤滑劑",
                ItemName: "軸承潤滑劑B",
                Size: "1L",
                PRAmount: "10",
                Unit: "罐",
                EstimatedDate: "2023/04/31",
                ApplicationPurpose: "OOXX",
            },
            {
                PRIN: "PR23041201_03",
                Kind: "潤滑劑",
                ItemName: "軸承潤滑劑B",
                Size: "1L",
                PRAmount: "10",
                Unit: "罐",
                EstimatedDate: "2023/04/31",
                ApplicationPurpose: "OOXX",
            },
        ]
    }

    const GridOptions = {
        thead: true,
        columns: [
            {
                id: "_result", title: "審核結果", width: "160px", formatter: (v, row, i) => {
                    return `
                    <div class="d-flex justify-content-center" style="gap:1rem;">
                        <div class="form-group">
                            <input type="radio" id="AuditResult_${i}_1" value="1" name="AuditResult_${i}">
                            <label for="AuditResult_${i}_1">退件</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" id="AuditResult_${i}_2" value="2" name="AuditResult_${i}">
                            <label for="AuditResult_${i}_2">通過</label>
                        </div>
                    </div>
                    `
                }
            },
            { id: "Kind", title: "類別", width: "150px" },
            { id: "ItemName", title: "品名", width: "250px" },
            { id: "Size", title: "尺寸", width: "150px" },
            { id: "PRAmount", title: "數量", width: "120px" },
            { id: "Unit", title: "單位", width: "100px" },
            { id: "EstimatedDate", title: "預計交期", width: "150px" },
            { id: "ApplicationPurpose", title: "申請用途", width: "200px" },
        ]
    }

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :   //fakeData
            $.ajax({
                url: url,
                data: JSON.stringify(jsonData),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#Info").append(createTableInner(res, SerializedName));
            if (res.PurchaseRequisitionItem) {
                $("#PurchaseRequisitionItem").append(createTableGrid(res.PurchaseRequisitionItem, GridOptions))
            }
            else {
                $("#PurchaseRequisitionItem").parents(".datatable").remove();
            }
        }
        function onError(res) {
            console.log(res);
        }
    }

    window.onload = function () {
        readData(apiUrl);
    }
</script>