@{
    ViewBag.Title = "ModelView";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css"
        type="text/css">
    <link rel="stylesheet" href="/Content/loading.css" type="text/css">
    <style>
        nav {
            display: none !important;
        }

        .sidebar {
            display: none !important;
        }

        .adsk-viewing-viewer {
            background: none !important;
        }

        .viewer3Dcontainer {
            position: absolute;
            inset: 0;
            width: 100vw;
            height: 100vh;
            margin: 0;
        }

        .forge-spinner {
            display: none !important;
        }

        .pin-area {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 4 !important;
            overflow: hidden;
            pointer-events: none;
        }

        .pin {
            position: absolute;
            transform: translate(-50%, -50%);
            pointer-events: auto;
            cursor: pointer;
        }

        .pin[id^='pin_bluetooth-'] img {
            transform: scale(0.6);
        }

        .pin[id^='pin_person'] {
            transform: translate(-50%, -80%);
        }

        .pin-popover {
            position: absolute;
            transform: translate(-50%, -50%);
            width: max-content;
            display: block;

            cursor: auto;
            border-radius: 0.31rem;
            background: rgba(236, 246, 255, 0.95);
            box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.50);
        }

        .pin-popover:not([data-show]) {
            display: none;
        }

        .pin-popover .popover-header {
            color: #454A5B;
            font-size: 1.25rem;
            font-weight: 500;
            padding: 0.5rem 0.75rem 0;

            display: flex;
            align-items: center;
            gap: 0.75rem;
        }

        .pin-popover .popover-body {
            width: 100%;
            color: lightgray;
            padding: 0 1rem 0.5rem;
        }

        .pin[id^='pin_person'] .label {
            color: #909090;
            font-size: 0.75rem;
            font-weight: 500;
        }

        .pin[id^='pin_person'] .value,
        .pin[id^='pin_person'] .unit {
            color: #606060;
            font-size: 0.875rem;
            font-weight: 500;
        }

        .bluetooth-name {
            background-color: #2750B9;
            color: #fff;
            position: absolute;
            left: 50%;
            top: 100%;
            width: max-content;
            transform: translate(-50%, -20%);
            padding: 1px 3px;
            border-radius: 2px;
        }
    </style>
    <!-- Autodesk Forge -->
    <script language="JavaScript" src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js"
        defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.meshline/1.4.0/THREE.MeshLine.min.js" defer></script>
    <script src="/Scripts/Forge/Viewer.Loading.js" defer></script>
    <script src="/Scripts/Forge/Viewer.Toolkit.js" defer></script>
    <script src="/Scripts/Forge/ForgePin.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
}
<!-- 
<div class="position-absolute pe-none p-5" style="inset:0;z-index: 1030;">
    <h2>模型瀏覽</h2>
</div> 
-->
<div class="viewer3Dcontainer">
    <div id="viewer3d">
        <div class="pin-area"></div>
    </div>
    <div class="d-flex gap-3 position-absolute top-0 start-0 p-4" style="z-index: 1030;">
        <div class="form-group required">
            <label for="ViewName">棟別樓層</label>
            <select class="form-select" name="ViewName" id="ViewName" required>
                <option value="">請選擇</option>
            </select>
        </div>
        <button type="button" class="btn btn-search align-self-end" id="Submit">確定</button>
    </div>
</div>

@section scripts {
    <script>
        var viewer;
        function initializeViewer({ BIMPath, callback = () => { } }) {
            const clientContainer = document.getElementById('viewer3d')
            const profileSettings = {
                name: "customSettings",
                description: "My personal settings.",
                settings: {}, //API:https://aps.autodesk.com/en/docs/viewer/v7/reference/globals/TypeDefs/Settings/
                persistent: [],
                extensions: {
                    load: ["Viewer.Toolkit"],
                    unload: [/* "Autodesk.Section", "Autodesk.Measure", "Autodesk.Explode" */]
                }
            }
            const options = {
                keepCurrentModels: true,
                globalOffset: { x: 0, y: 0, z: 0 }
            };

            Autodesk.Viewing.Private.InitParametersSetting.alpha = true; //設定透明背景可用
            viewer = new Autodesk.Viewing.GuiViewer3D(clientContainer, { profileSettings });
            viewer.loadExtension("Viewer.Loading", {
                loader: `<div class="lds-default">${Array(12).fill('<div></div>').join('')}</div>`
            })

            Autodesk.Viewing.Initializer({ env: "Local" }, async () => {
                viewer.start();

                await viewer.loadExtension("Viewer.Toolkit")

                //load urns
                const model = await new Promise(async (resolve, reject) => {
                    viewer.loadModel(window.location.origin + BIMPath, options,
                        async (model) => { await viewer.waitForLoadDone(); resolve(model); },
                        async (model) => { reject(model); }
                    )
                })

                //console.log(model)

                //setting 3d view env
                viewer.setBackgroundOpacity(0);
                viewer.setBackgroundColor();
                viewer.setLightPreset(16); //設定環境光源 = 雪地

                viewer.fitToView()
                await onLoadDone(model)
                viewer.loading.hide()
                callback()
            });

            async function onLoadDone(model) {
                console.log("onLoadDone", model)
                //console.log("Model LoadDone", model.loader.basePath.split("/").at(-2));
                return
            }
        }
    </script>
    <script>
        window.addEventListener("load", async () => {
            await formDropdown.pushSelect({ id: "ViewName", url: '@Url.Action("ViewName", "DropDownList")' });
            $("#Submit").click(async () => {
                if ($("#ViewName").val() != '') {
                    window.open("/BIM/FloorModelView?ViewName" + $("#ViewName").val(), "_self")
                    return
                }
                let BIMPath = `/BimModels/民生整棟Forge/Resource/3D 視圖/進抽站/進抽站.svf`
                if (viewer != null) {
                    DestroyViewerAndForgeDraw()
                }
                initializeViewer({
                    BIMPath, callback() { }
                })
            })
        })
    </script>
    <script>
        function getDataAsync(url) {
            return new Promise((success, error) => {
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success,
                    error
                })
            })
        }
    </script>
}