@{
    ViewBag.Title = "ModelView";
}
<style>
    .adsk-viewing-viewer {
        background: none !important;
    }

    .viewer3Dcontainer {
        position: absolute;
        inset: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        background-color: #F0F8FF;
    }
</style>
<!-- Autodesk Forge -->
<link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.60"
    type="text/css">
<script language="JavaScript"
    src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.60"></script>

<div class="viewer3Dcontainer">
    <div id="viewer3d"></div>
</div>

<script>
    var viewer;
    var vid = '@ViewBag.id' == '' ? '進抽站B1F' : '@ViewBag.id';
    window.addEventListener("load", () => {
        $("nav").addClass("d-none")
        let url = `${window.location.origin}/BimModels/01/Resource/3D View/${vid}/0.svf`
        let burl = `${window.location.origin}/BimModels/02/Resource/3D View/${vid}_Beacon/0.svf`
        initializeViewer(url, burl)
    })
    function initializeViewer(url, burl) {
        Autodesk.Viewing.Private.InitParametersSetting.alpha = true; //設定透明背景可用
        var myViewerDiv = document.getElementById('viewer3d');
        viewer = new Autodesk.Viewing.GuiViewer3D(myViewerDiv);
        var options = {
            env: "Local",
            document: url, //svf檔路徑
            globalOffset: { x: 0, y: 0, z: 0 }
        };
        Autodesk.Viewing.Initializer(options, function () {
            viewer.start(options.document, options, onSuccessCallback, onErrorCallback);
            function onSuccessCallback() {
                console.log("onSuccessCallback");
                viewer.setBackgroundOpacity(0);
                viewer.setBackgroundColor();
                viewer.setLightPreset(16); //設定環境光源 = 雪地

                viewer.loadModel(
                    burl,
                    {
                        keepCurrentModels: true,
                        globalOffset: { x: 0, y: 0, z: 0 }
                    },
                    (model) => {
                        console.log("success", model.getData())
                        Promise.all([
                            new Promise((resolve) => { viewer.addEventListener(Autodesk.Viewing.OBJECT_TREE_CREATED_EVENT, resolve, { once: true }); }),
                            new Promise((resolve) => { viewer.addEventListener(Autodesk.Viewing.GEOMETRY_LOADED_EVENT, resolve, { once: true }); }),
                        ]).then(() => {
                            console.log("%c載入模型完成，可以開始操作", 'color: green; font-size: 18px; padding: 6px;');
                            //TODO
                            model.getObjectTree(async (it) => {
                                //await changeColor(viewer, model, model.getRootId(), 0x0000ff)
                                const newmat = new THREE.MeshPhongMaterial({
                                    color: 0x0000ff,
                                    emissive: 0x001061,
                                    reflectivity: 0,
                                    shininess: 0
                                })
                                await changeMaterial(viewer, model, model.getRootId(), newmat)
                                console.log("顏色變更完畢")
                            })
                        })

                    },
                    (err) => { console.log(err) }
                );
            }
            function onErrorCallback() { console.log("onErrorCallback"); }
        });
    }

    async function changeColor(viewer, model, dbid, color, alpha = 1) {
        return new Promise((resolve) => {
            model.getObjectTree(async (it) => {
                const fl = it.fragList
                //console.log("getInstanceTree", it)
                const alldbId = await getAlldbIds(it, dbid)
                alldbId.forEach((node) => {
                    it.enumNodeFragments(node, (fragId) => {
                        var updatedM = null
                        var cloneM_name = 'model:' + model.id.toString() + '|frag:' + fragId.toString();
                        console.log("cloneM_name", cloneM_name)

                        if (cloneM_name in viewer.impl.matman()._materials) {
                            updatedM = viewer.impl.matman()._materials[cloneM_name];
                            updatedM = changeMat(updatedM);
                        } else {
                            updatedM = fl.getMaterial(fragId).clone();
                            updatedM = changeMat(updatedM);
                            viewer.impl.matman().addMaterial(cloneM_name, updatedM, true);
                        }
                        fl.setMaterial(fragId, updatedM);
                        viewer.impl.invalidate(true, true, true);
                    })
                })
                resolve(true)
            })
        })
        function changeMat(m) {
            m.opacity = alpha;
            m.transparent = alpha < 1 ? true : false;
            m.color = new THREE.Color(color);
            m.depthWrite = alpha < 1 ? false : true;
            m.needsUpdate = true;
            m.shininess = 0;
            m.specular = new THREE.Color(0x000000)
            return m;
        }
    }
    async function changeMaterial(viewer, model, dbid, material) {
        return new Promise((resolve) => {
            model.getObjectTree(async (it) => {
                const fl = it.fragList
                const alldbId = await getAlldbIds(it, dbid)
                alldbId.forEach((node) => {
                    it.enumNodeFragments(node, (fragId) => {
                        var matName = 'model:' + model.id.toString() + '|frag:' + fragId.toString();
                        console.log("matName", matName)

                        if (matName in viewer.impl.matman()._materials) {
                            viewer.impl.matman()._materials[matName] = material;
                        } else {
                            viewer.impl.matman().addMaterial(matName, material, true);
                        }
                        fl.setMaterial(fragId, material);
                        viewer.impl.invalidate(true, true, true);
                    }, true)
                })
                resolve(true)
            })
        })
    }
    async function getAlldbIds(it, rootId) {
        //開始取得所有DbId
        return new Promise((resolve) => {
            var alldbId = [];
            if (!rootId) { return alldbId; }
            var queue = [];
            queue.push(rootId);
            while (queue.length > 0) {
                var node = queue.shift();
                if (it.getChildCount(node) == 0) //根據需求自行增加篩選條件，此為只取得最底層dbId
                    alldbId.push(node);
                it.enumNodeChildren(node, (childNode) => {
                    childNode && queue.push(childNode);
                });
            }
            //console.log("alldbId", alldbId)
            resolve(alldbId);
        })
    }
</script>