@{
    ViewBag.Title = "警示訊息詳情";
}

@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/datatable.js" defer></script>

    <style>
        .datatable-easyui .datagrid-wrap {
            height: 400px !important;
        }

        no-data {
            padding: 1rem;
            display: block;
            text-align: center;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

<div class="datatable datatable-small mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="ItemInfo"></table>
    </div>
</div>

<div class="datatable mt-5">
    <div class="datatable-header">填報記錄</div>
    <div class="datatable-body datatable-easyui">
        <table id="DataGrid"></table>
    </div>
</div>

@section scripts {
    <script>

        const WMSN = '@ViewBag.id';
        const apiUrl = '@Url.Action("GetWarningMessageInfo", "WarningMessage_Management")' + `/?WMSN=${WMSN}`;

        const SerializedName = [
            { text: "事件等級", value: "WMType" },
            { text: "事件處理狀況", value: "WMState" },
            { text: "發生時間", value: "TimeOfOccurrence" },
            { text: "發生地點", value: "Location" },
            { text: "事件內容", value: "Message" },

        ]

        const fakeData = {
            WMSN: "230101001",
            PMSN: "1",
            WMType: "一般",
            WMState: "已處理",
            TimeOfOccurrence: "2023-01-01T06:30:27",
            Location: "進流抽水站 B2F",
            Message: "巡檢路徑偏移",
            WarningMessageFillinRecord: generateRandomData()
        }

        window.onload = function () {
            readData(apiUrl);
        }

        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log(res);
                $("#ItemInfo").append(createTableInner(res, SerializedName));
                if (res?.WarningMessageFillinRecord && res?.WarningMessageFillinRecord.length != 0) {
                    initDatagrid(res.WarningMessageFillinRecord);
                }
                else {
                    $('#DataGrid').before("<no-data>無填報資料</no-data>")
                }
            }
            function onError(res) {
                console.log(res);
            }
        }

        function initDatagrid(data) {
            $('#DataGrid').datagrid({
                data,
                fit: true,
                method: 'GET',
                remoteSort: false,
                sortOrder: 'asc',
                singleSelect: true,
                selectOnCheck: true,
                checkOnSelect: false,
                columns: [[
                    { field: 'FillinDateTime', title: '填報時間', align: 'center', width: 220, sortable: true },
                    { field: 'FillinUserName', title: '填報人員', align: 'center', width: 120, sortable: true },
                    { field: 'FillinState', title: '事件處理狀況', align: 'center', width: 150, sortable: true },
                    { field: 'Memo', title: '備註', align: 'center', sortable: true },
                ]]
            });

            const observer = new ResizeObserver((e) => {
                $('#DataGrid').datagrid("resize")
            });
            observer.observe(document.querySelector(".datatable-easyui"));

        }

        function generateRandomData() {
            const randomData = [];
            for (let i = 0; i < 20; i++) {
                randomData.push({
                    FillinDateTime: new Date().toLocaleString(),
                    FillinUserName: "User " + (i + 1),
                    FillinState: Math.random() > 0.5 ? "已處理" : "未處理",
                    Memo: "Random Memo Random Memo" + (i + 1)
                });
            }
            return randomData;
        }
    </script>
}