USE [Grace_Arch]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AwardRecord]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardRecord](
	[AwardRecordID] [int] IDENTITY(1,1) NOT NULL,
	[AwardedDate] [datetime2](7) NOT NULL,
	[Catalog] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Enable] [bit] NOT NULL,
 CONSTRAINT [PK_AwardRecord] PRIMARY KEY CLUSTERED 
(
	[AwardRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AwardRecord_ImageList]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardRecord_ImageList](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[AwardRecordID] [int] NOT NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[Memo] [nvarchar](max) NULL,
 CONSTRAINT [PK_AwardRecord_ImageList] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[OfficeName] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[PhotoNum] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Map] [nvarchar](max) NULL,
	[Enable] [bit] NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hightlights]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hightlights](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Award1] [nvarchar](max) NULL,
	[Award2] [nvarchar](max) NULL,
	[Award3] [nvarchar](max) NULL,
 CONSTRAINT [PK_Hightlights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainProjects]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainProjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryTitle] [nvarchar](20) NULL,
	[Title] [nvarchar](15) NULL,
	[Content] [nvarchar](120) NULL,
	[Enable] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
 CONSTRAINT [PK_MainProjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[Enable] [bit] NOT NULL,
	[EditDate] [datetime2](7) NOT NULL,
	[Job_Title] [nvarchar](10) NOT NULL,
	[isLeadArchitect] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](max) NULL,
	[Title] [nvarchar](10) NULL,
	[Image] [nvarchar](max) NULL,
	[Enable] [bit] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfficeImage]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeImage](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[OfficeID] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Memo] [nvarchar](max) NULL,
 CONSTRAINT [PK_OfficeImage] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfficeInformation]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](max) NULL,
	[BriefIntroduction] [nvarchar](250) NULL,
	[Introduction] [nvarchar](max) NULL,
 CONSTRAINT [PK_OfficeInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PopProjects]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PopProjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NULL,
	[SubTitle] [nvarchar](14) NULL,
	[Enable] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
 CONSTRAINT [PK_PopProjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectEnrollment]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectEnrollment](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[ProjectTagID] [int] NOT NULL,
 CONSTRAINT [PK_ProjectEnrollment] PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
	[Article_Content] [nvarchar](max) NULL,
	[Article_Title] [nvarchar](20) NULL,
	[BaseArea] [nvarchar](max) NULL,
	[Boss] [nvarchar](30) NOT NULL,
	[ExecutionPhase] [int] NOT NULL,
	[FloorArea] [nvarchar](max) NULL,
	[IsAwarded] [bit] NOT NULL,
	[Location] [nvarchar](30) NOT NULL,
	[NumOfFloor] [nvarchar](max) NULL,
	[NumOfHousehold] [nvarchar](max) NULL,
	[SEO_Description] [nvarchar](30) NULL,
	[SEO_keyword] [nvarchar](30) NULL,
	[SubTitle] [nvarchar](20) NULL,
	[TotalProjectCost] [nvarchar](20) NULL,
	[Trophy] [nvarchar](30) NULL,
	[Use_Description] [nvarchar](30) NULL,
	[EditDate] [datetime2](7) NULL,
	[ProjectTagID] [int] NOT NULL,
	[CoverImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects_ImageList]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects_ImageList](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[Memo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Projects_ImageList] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTags]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Enable] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_ProjectTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recruitments]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruitments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Enable] [bit] NOT NULL,
 CONSTRAINT [PK_Recruitments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2023/5/4 上午 11:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[Salt] [nvarchar](64) NOT NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__Articl__00200768]  DEFAULT (N'') FOR [Article_Content]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__Articl__01142BA1]  DEFAULT (N'') FOR [Article_Title]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__Boss__02084FDA]  DEFAULT (N'') FOR [Boss]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__Execut__02FC7413]  DEFAULT ((0)) FOR [ExecutionPhase]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__IsAwar__03F0984C]  DEFAULT (CONVERT([bit],(0))) FOR [IsAwarded]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__Locati__04E4BC85]  DEFAULT (N'') FOR [Location]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__SEO_De__05D8E0BE]  DEFAULT (N'') FOR [SEO_Description]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__SEO_ke__06CD04F7]  DEFAULT (N'') FOR [SEO_keyword]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__SubTit__07C12930]  DEFAULT (N'') FOR [SubTitle]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__TotalP__08B54D69]  DEFAULT (N'') FOR [TotalProjectCost]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__Trophy__09A971A2]  DEFAULT (N'') FOR [Trophy]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__Use_De__0A9D95DB]  DEFAULT (N'') FOR [Use_Description]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF__Projects__Projec__5F492382]  DEFAULT ((0)) FOR [ProjectTagID]
GO
ALTER TABLE [dbo].[PopProjects]  WITH CHECK ADD  CONSTRAINT [FK_PopProjects_PopProjects] FOREIGN KEY([Id])
REFERENCES [dbo].[PopProjects] ([Id])
GO
ALTER TABLE [dbo].[PopProjects] CHECK CONSTRAINT [FK_PopProjects_PopProjects]
GO
ALTER TABLE [dbo].[ProjectEnrollment]  WITH CHECK ADD  CONSTRAINT [FK_ProjectEnrollment_Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectEnrollment] CHECK CONSTRAINT [FK_ProjectEnrollment_Projects_ProjectID]
GO
ALTER TABLE [dbo].[ProjectEnrollment]  WITH CHECK ADD  CONSTRAINT [FK_ProjectEnrollment_ProjectTags_ProjectTagID] FOREIGN KEY([ProjectTagID])
REFERENCES [dbo].[ProjectTags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectEnrollment] CHECK CONSTRAINT [FK_ProjectEnrollment_ProjectTags_ProjectTagID]
GO
