@{
    ViewBag.Title = "新增 報修單";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-sm flex-lg-row">
        <form class="form">
            <div class="form-group-zone">
                <div class="form-group required">
                    <label for="ASN">棟別</label>
                    <select class="form-select" name="ASN" id="ASN" required>
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label for="FSN">樓層</label>
                    <select class="form-select" name="FSN" id="FSN" required>
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div class="form-group col-2fr required">
                    <label for="ESN">設備編號/名稱</label>
                    <select class="form-select" name="ESN" id="ESN" placeholder="請先選擇棟別樓層" required ></select>
                </div>
                <div class="form-group required">
                    <label for="ReportLevel">報修等級</label>
                    <select class="form-select" name="ReportLevel" id="ReportLevel" required>
                        <option value="">請選擇</option>
                        <option value="1">一般</option>
                        <option value="2">緊急</option>
                        <option value="3">最速件</option>
                    </select>
                </div>
                <div class="form-group col-2fr required">
                    <label for="ReportContent">報修內容</label>
                    <textarea class="form-control" id="ReportContent" name="ReportContent" rows="3" cols="50" required></textarea>
                </div>
                <div id="FileUploader"></div>
            </div>
        </form>
    </div>
</section>


<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

@section scripts {
    <script>
        var fileUploader;

        $(async function () {
            await formDropdown.ASN();
            addButtonEvent();
            document.getElementById("FSN").addEventListener("change", async function() {
                const FSNValue = this.value;
                if(FSNValue) {
                    const url = `@Url.Action("EquipmentNoEName", "DropDownList")?FSN=${encodeURIComponent(FSNValue)}`

                    await formDropdown.pushSelect({id: "ESN", url: url});
                }
            });
            fileUploader = new FileUploader({
                container: "#FileUploader",
                className: "form-group col-2fr required",
                label: "報修照片",
                id: "File",
            })
        });

        function save() {
            //重置自訂驗證錯誤訊息
            getAllParams().forEach((e) => {
                e.setCustomValidity('');
            })
            //自訂驗證錯誤
            fileUploader.setExtensionValidity(fileUploader.checkAllExtension())
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            console.log("isValidity():", isValidity)
            if (!isValidity) return;

            var form = new FormData();
            form.append("FSN", document.getElementById("FSN").value);
            form.append("ESN", document.getElementById("ESN").value);
            form.append("ReportLevel", document.getElementById("ReportLevel").value);
            form.append("ReportContent", document.getElementById("ReportContent").value);
            if (fileUploader.hasFile()) {
                form.append("MFile", fileUploader.getFile());
            }
            console.log(Object.fromEntries(form.entries()));

            $.ajax({
                url: '@Url.Action("Create", "Repair_Management")',
                data: form,
                type: "POST",
                contentType: false,
                processData: false,
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "新增成功！",
                    onHide: () => { window.location.href = "/Repair_Management/Index"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }
        }
    </script>
}