@{
    ViewBag.Title = "新增 報修單";
}
@section styles {
    <script src="/Scripts/datatable.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <script src="/Scripts/AreaFloorEvent.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-sm flex-lg-row">
        <form class="form">
            <div class="form-group-zone">
                <div class="form-group required">
                    <label for="ASN">棟別</label>
                    <select class="form-select" name="ASN" id="ASN" required>
                        <option value="">請選擇</option>
                    </select>
                    <input class="form-control" id="Area" name="Area" type="text" hidden />
                </div>

                <div class="form-group required">
                    <label for="FSN">樓層</label>
                    <select class="form-select" name="FSN" id="FSN" required>
                        <option value="">請選擇</option>
                    </select>
                    <input class="form-control" id="Floor" name="Floor" type="text" hidden />
                </div>

                <div class="form-group col-2fr required">
                    <label for="ESNEName">設備編號/名稱</label>
                    <select class="form-select" name="ESN" id="ESNEName" required>
                        <option value="">請選擇</option>
                    </select>
                </div>

                <div class="form-group required">
                    <label for="RepairLevel">報修等級</label>
                    <select class="form-select" name="ReportLevel" id="RepairLevel" required>
                        <option value="">請選擇</option>
                    </select>
                </div>

                <div class="form-group col-2fr required">
                    <label for="ReportContent">報修內容</label>
                    <textarea class="form-control" id="ReportContent" name="ReportContent" rows="3" cols="50" required></textarea>
                </div>

                <div class="form-group col-2fr required">
                    <label for="RPic">報修照片</label>
                    <div name="ReportImg" id="FileUploader"></div>
                </div>

            </div>

            <div class="datatable-easyui w-100 d-none">
                <table id="Template-datagrid"></table>
            </div>
        </form>
    </div>
</section>


<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

@section scripts {
    <script>
        var fileUploader;

        $(async function () {
            await AreaFloorEvent();
            addButtonEvent();
            fileUploader = new FileUploader({
                container: "#FileUploader",
                className: "form-group w-100",
                label: "",
                id: "File"
            })
        });

        function save() {
            $.ajax({
                url: "/EquipmentInfo_Management/Create",
                data: fd,//JSON.stringify(fd),
                type: "POST",
                contentType: false,
                processData: false,
                //dataType: "json",
                //contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "新增成功！",
                    onHide: () => { window.location.href = "/EquipmentInfo_Management/Management"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }
        }
    </script>
}