@{
    ViewBag.Title = "報修單 詳情";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="/Scripts/dataTable/InspectionPlanMaintain.js" defer></script>
    <script src="/Scripts/ImageDisplay.js" defer></script>
    <script src="/Scripts/dataTable/EquipmentInfoModal.js" defer></script>
}

<h2>@ViewBag.Title</h2>
<section>
    <div class="info-area edit-area-md">
        <div class="datatable">
            <div class="datatable-header">報修資料</div>
            <div class="datatable-body">
                <table class="datatable-table" id="ReportDetail"></table>
            </div>
        </div>

        <div class="datatable" id="RepairZone" style="display: none;">
            <div class="datatable-header">維修資料</div>
            <div class="datatable-body">
                <table class="datatable-table" id="RepairDetail"></table>
            </div>
        </div>

        <div class="datatable" id="ReviewZone" style="display: none;">
            <div class="datatable-header">審核填報</div>
            <div class="datatable-body">
                <table class="datatable-table" id="ReviewDetail"></table>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        @*const RSN = '@ViewBag.RSN';*@
        const url = window.location.search;
        const RSN = new URLSearchParams(url).get('RSN');
        let apiUrl = '@Url.Action("Detail", "Repair_Management")?rsn=' + RSN;
        //let apiUrl = null;

        const fakeData = {
            ESN: "E00003",
            RSN: "E00003_000001_230107",
            ReportState: "待派工",
            ReportLevel: "最速件",
            ReportTime: "2022-01-01 11:09",
            ReportContent: "已完成螺旋機電池更換，經測試後可正常操作。",
            ReportImg: [
                "/Pictures/報修照片.jpg"
            ],
            RepairUserName: "王曉明、任趙仁",
            Location: "生物處理機房 軸電器儀控室層",
            NO: "E00003",
            EName: "軸承潤滑",
            RepairResult: "完成",
            RepairtId: "任趙仁",
            RepairTime: "2024-12-18 12:10",
            RepairContent: "內容內容",
            RepairImg: [
                "/Pictures/維修照片.jpg"
            ],
            AuditResult: "false",
            AuditId: "000123",
            AuditTime: "2024-12-20 13:57",
            AuditReason: "理由理由"
        }

        $(function () {
            readData(apiUrl);
        })

        const ReportDetailItem = [
            { text: "報修單號", value: "RSN" },
            { text: "報修單狀態", value: "ReportState" },
            { text: "報修等級", value: "ReportLevel" },
            { text: "報修時間", value: "ReportTime" },
            { text: "報修內容", value: "ReportContent" },
            { text: "報修照片", value: "ReportImg", type: "ImgPath" },
            { text: "執行人員", value: "RepairUserName" },
            { text: "所在地點", value: "Location" },
            { text: "設備編號", value: "NO" },
            { text: "設備名稱", value: "EName" },
            {
                text: "設備屬性", value: "ESN", formatter: (val) => {
                    console.log("val", val);
                    return val ? `<button class="btn btn-search" onclick="window.open('/EquipmentInfo_Management/Detail?ESN=${val}', '_blank')">設備資料</button>` : "-"
                }
            },
        ]

        const RepairDetailItem = [
            { text: "維修結果", value: "RepairResult" },
            { text: "填報者", value: "RepairtId" },
            { text: "填報時間", value: "RepairTime" },
            { text: "維修填報", value: "RepairContent" },
            { text: "維修照片", value: "RepairImg", type: "ImgPath" },
        ]

        const ReviewDetailItem = [
            { text: "審核結果", value: "AuditResult" },
            { text: "審核者", value: "AuditId" },
            { text: "審核時間", value: "AuditTime" },
            { text: "審核意見", value: "AuditReason" },
        ]



        function readData(url = null) {
            url == null ? onSuccess(apiUrl) :
                $.ajax({
                    url: url,
                    type: "POST",
                    //data: RSN,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log("成功", res);
                const data = res.Datas
                //data.ReportState = "審核未過";
                if (data.AuditResult === "") {
                    data.AuditResult = ""
                } else {
                    data.AuditResult = data.AuditResult === "true" ? "通過" : "不通過";
                }

                $("#ReportDetail").append(createTableInner(data, ReportDetailItem));
                $("#RepairDetail").append(createTableInner(data, RepairDetailItem));
                $("#ReviewDetail").append(createTableInner(data, ReviewDetailItem));


                ImageDisplay(".datatable-img-item>img");
                displaySections(data.ReportState);
            }
            function onError(res) {
                console.log("失敗", res);
            }
        }

        //依照 報修單狀態，顯示表格
        function displaySections(ReportState) {
            console.log("ReportState", ReportState);
            if (ReportState === "待審核" || ReportState === "審核通過" || ReportState === "審核未過") {
                document.getElementById("RepairZone").style.display = "block";
            }
            if (ReportState === "審核通過" || ReportState === "審核未過") {
                document.getElementById("ReviewZone").style.display = "block";
            }
        }
    </script>
}
