@{
    ViewBag.Title = "報修管理";
}
@section styles {
    @Html.Partial("DataGridScripts")

    <link rel="stylesheet" href="/Content/datagrid-modal.css">
    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<div class="dg-tool-bar">
    <button type="button" class="btn btn-create" id="create">新增報修</button>
    <div class="search-area">
        <form class="form" method="post" action="">
            <div class="form-group">
                <label for="State">報修單狀態</label>
                <select class="form-select" name="State" id="State"></select>
            </div>

            <div class="form-group">
                <label for="RSN">報修單號</label>
                <input class="form-control" id="RSN" name="RSN" type="text" />
            </div>

            <div class="form-group">
                <label for="RepairLevel">報修等級</label>
                <select class="form-select" name="RepairLevel" id="RepairLevel"></select>
            </div>

            <div class="form-group">
                <label for="DateFrom">報修時間(起)</label>
                <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
            </div>

            <div class="form-group">
                <label for="DateTo">報修時間(迄)</label>
                <input class="form-control" id="DateTo" name="DateTo" type="date" />
            </div>

            <div class="form-group">
                <label for="RepairContant">報修內容</label>
                <input class="form-control" id="RepairContant" name="RepairContant" type="text" />
            </div>

            <div class="form-group">
                <label for="Area">棟別</label>
                <select class="form-select" name="Area" id="Area"></select>
            </div>

            <div class="form-group">
                <label for="Floor">樓層</label>
                <select class="form-select" name="Floor" id="Floor"></select>
            </div>

            <div class="form-group">
                <label for="EName">設備名稱</label>
                <input class="form-control" id="EName" name="EName" type="text" />
            </div>

            <div class="form-group">
                <label for="ESN">設備編號</label>
                <input class="form-control" id="ESN" name="ESN" type="text" />
            </div>

            <div class="form-group col-2fr">
                <label for="UserID">執行人員</label>
                <select type="text" class="form-select" name="UserID" id="UserID"></select>
            </div>

            <div class="button-group">
                <button type="button" class="btn btn-search" id="search">查詢</button>
                <button type="button" class="btn btn-clear" id="clear">清除</button>
                <button type="button" class="btn btn-export" id="export">匯出</button>
            </div>

        </form>
    </div>
    <button type="button" class="btn btn-other" id="multiAssign" data-bs-toggle="modal" data-bs-target="#addMultiAssign" data-title="報修單 批量派工">批量派工</button>
    <div class="datagrid-area">
        <table id="DataGrid"></table>
    </div>
</div>


    @*派工POP UP*@
    <div class="modal fade datagrid-modal" tabindex="-1" id="addMultiAssign">
        <div class="modal-dialog modal-screen-md modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>報修單 派工</h2>
                    <form class="form w-100 p-0">
                        <div class="form-group-zone">
                            <div class="form-group col-3fr required">
                                <label for="PlanName">預計維修日期</label>
                                <input type="date" class="form-control" name="PlanName" id="PlanName" maxlength="20" required>
                            </div>
                            <div class="form-group col-3fr required">
                                <label for="PlanDate">執行人員</label>
                                <select type="text" class="form-select" name="UserID" id="UserID" required></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-export" id="add-row">確定</button>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script>
        //const baseUrl = '/PlanManagement/';
        var getGridJSON = '@Url.Action("PlanManagement_Management", "Datagrid")';
        var DataGrid;

        const fakedata = [
            {
                State: "待派工",
                RSN: "P23010401",
                RepairLevel: '最速件',
                RepairTime: "2023/01/04 16:55",
                RepairContent: "已完成螺旋機電池更換，經測試後可正常操作",
                Area: "進流抽水站",
                Floor: "B2F",
                EName: "生物反應池菌種選擇區攪拌機",
                ESN: "32369304",
                UserID: "王大明、李泰順",
            },
            {
                State: "待執行",
                RSN: "P23010401",
                RepairLevel: '最速件',
                RepairTime: "2023/01/04 16:55",
                RepairContent: "已完成螺旋機電池更換，經測試後可正常操作",
                Area: "進流抽水站",
                Floor: "B2F",
                EName: "生物反應池菌種選擇區攪拌機",
                ESN: "32369304",
                UserID: "王大明、李泰順",
            },
            {
                State: "待審核",
                RSN: "P23010401",
                RepairLevel: '最速件',
                RepairTime: "2023/01/04 16:55",
                RepairContent: "已完成螺旋機電池更換，經測試後可正常操作",
                Area: "進流抽水站",
                Floor: "B2F",
                EName: "生物反應池菌種選擇區攪拌機",
                ESN: "32369304",
                UserID: "王大明、李泰順",
            },
            {
                State: "審核通過",
                RSN: "P23010401",
                RepairLevel: '最速件',
                RepairTime: "2023/01/04 16:55",
                RepairContent: "已完成螺旋機電池更換，經測試後可正常操作",
                Area: "進流抽水站",
                Floor: "B2F",
                EName: "生物反應池菌種選擇區攪拌機",
                ESN: "32369304",
                UserID: "王大明、李泰順",
            },
            {
                State: "審核未過",
                RSN: "P23010401",
                RepairLevel: '最速件',
                RepairTime: "2023/01/04 16:55",
                RepairContent: "已完成螺旋機電池更換，經測試後可正常操作",
                Area: "進流抽水站",
                Floor: "B2F",
                EName: "生物反應池菌種選擇區攪拌機",
                ESN: "32369304",
                UserID: "王大明、李泰順",
            },
        ]

        $(async function () {
            await
            //await pushSelect("UserID", '@Url.Action("InspectionUser", "DropDownList")');
            Initialize_DataGrid(fakedata);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                //url: getGridJSON,
                data: getGridJSON,
                //method: 'POST',
                queryParams: getQueryParams(),
                idField: 'RSN',
                singleSelect: false,
                frozenColumns: [[
                    { field: 'ck', checkbox: true }, // 新增 checkbox
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    dg.frozenColumn('_review', (v, row, i) => dg.eventButton(i, "審核", "review", { disabled: row.State != "待審核" })),
                    dg.frozenColumn('_assign', (v, row, i) =>
                        `<button onclick="dg.eventButton(${i}, '派工', '_assign')" ${row.State !== "待派工" ? "disabled" : ""} class="btn btn-datagrid btn-other" data-bs-toggle="modal" data-bs-target="#addMultiAssign" data-title="報修單 派工">派工</button>`)
                ]],
                columns: [[
                    dg.column('State', '報修單狀態', 150),
                    dg.column('RSN', '報修單號', 150),
                    dg.column('RepairLevel', '報修等級', 150),
                    dg.column('RepairTime', '報修時間', 200),
                    dg.column('RepairContent', '報修內容', 300),
                    dg.column('Area', '棟別', 200),
                    dg.column('Floor', '樓層', 200),
                    dg.column('EName', '設備名稱', 300),
                    dg.column('ESN', '設備編號', 150),
                    dg.column('UserID', '執行人員', 300),
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Detail/${row.RSN}`, "_blank")
            })
            dg.addEvent("review", function (row, i) {
                window.open(`${baseUrl}/Review/${row.RSN}`, "_self")
            })
        }

        // 判斷被點擊的按鈕(批量派工/派工)，更換modal標題
        document.getElementById('addMultiAssign').addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var title = button.getAttribute('data-title');
            var modalTitle = document.querySelector('#addMultiAssign h2');
            modalTitle.textContent = title;
        })

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
        </script>
    }
