body {
    overflow: hidden;

    .viewerContainer {
        position: absolute;
        inset: 0;
        z-index: 0;
    }
}

.btn-alert {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0rem 0.5rem;
    border: 0;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #FFB800 0%, #C58200 100%);
    color: #fff;
    font-size: 1.5rem;

    --bs-btn-active-color: #fff;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        color: #fff;
    }

    .badge {
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(-50%, -50%);
        border-radius: 6.25rem;
        background: #F00;
        border: 1px solid #fff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 0.2rem 0.4rem;

        color: #fff;
        font-size: 0.875rem;
        font-weight: 500;
    }
}

.alert-collapse {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 1;

    .collapse-body {
        display: flex;
        flex-direction: column;
        border-radius: 0.3125rem;
        background: rgba(34, 54, 94, 0.70);
        padding: 1rem;
        gap: 0.9375rem;
    }

    .alert-item {
        --c: #7a7a7a;
        position: relative;
        display: grid;
        grid-template-columns: max-content max-content;
        justify-items: stretch;
        justify-content: space-between;
        align-items: center;
        width: 20rem;
        padding: 0.25rem 0.75rem 0.25rem 3rem;
        border-left: 8px solid var(--c);
        background: #FFF2F2;
        text-decoration: none;

        &[data-level='1'] {
            --c: #DF3232;
        }

        &[data-level='2'] {
            --c: #FDB601;
        }

        .icon-alert {
            position: absolute;
            left: 0.5rem;
            color: var(--c);
            font-size: 1.875rem;
        }

        span {
            display: block;
            padding: 0.1rem;
            text-align: start;
        }

        .road {
            font-weight: 700;
            font-size: 14px;
            color: #364557;
        }

        .time {
            font-weight: 400;
            font-size: 12px;
            color: #7F7F7F;
            text-align: center;
        }

        .title {
            font-weight: 500;
            font-size: 14px;
            color: #364557;
        }

        .process-state {
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            border-radius: 20px;
            border: 1px solid var(--c);
            color: var(--c);
            padding: 0.1rem 0.5rem;
        }

        &[data-process-state='1'] .process-state::before {
            content: "待處理";
        }

        &[data-process-state='2'] .process-state::before {
            content: "處理中";
        }

        &[data-process-state='3'] .process-state::before {
            content: "已處理";
        }
    }
}

.bigscreen-container {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .header-area {
        width: 100%;
        background: linear-gradient(0deg, #4D90B6 0.23%, #529EBC 100%);
    }

    .info-area {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        gap: 0.25rem;
        flex: 1 0 auto;

        .info-box {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;

            .info-box-header {
                padding: 0.75rem 0rem;
                background: #1D3156;
                color: #FFF;
                font-size: 1.25rem;
                font-weight: 500;
                text-align: center;
            }

            .info-box-body {
                padding: 1rem;
                background: #E3EFF4;
                height: 100%;
            }
        }

        :where(.label,
            .value,
            .unit) {
            color: var(--c);
        }
    }

    .color-card {
        --c: #25CAD4;
        border-radius: 0.3125rem;
        background: #FFF;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.625rem 0.5rem;
        gap: 0.25rem;
        flex: 1 0 0;

        &.shadow {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
        }

        &.h {
            border-top: 15px solid var(--c);
        }

        &.v {
            border-left: 15px solid var(--c);
        }

        .label {
            --c: #000;
            font-size: 1rem;
        }

        .value {
            --c: #000;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 100%;
        }

        .unit {
            --c: #313131;
            text-align: center;
            font-size: 1.25rem;
            line-height: 105%;
        }

        .img {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .simplebar-track {
        background: #828282;
        border-radius: 3.5rem;
        right: 1rem;
        bottom: 1rem;

        &.simplebar-vertical {
            top: 1rem;
        }

        .simplebar-scrollbar:before {
            background: #fff;
            opacity: 1;
            border-radius: 3.5rem;
            inset: 0;
        }
    }
}

%bigscreen-area {
    display: flex;
    flex-direction: column;
    width: 29.25rem;
    background: #4B6D9F;
}

.start-area {
    @extend %bigscreen-area;

    .header-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0;

        .header-img {
            width: 19.48588rem;
            height: 5.30963rem;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .header-current-time {
            width: 100%;
            background: #6FD2E8;
            color: #3F4559;
            text-align: center;
            font-size: 1.5rem;
        }

        .header-search {
            width: 100%;
            padding: 0rem 0.75rem;
            gap: 0.5rem;

            .col {
                position: relative;
                padding: 0;
            }

            .form-select {
                padding: 0.25rem 1rem;
                border-radius: 6.25rem;
                background-color: #DDF9FF;
                color: #898989;
                text-overflow: ellipsis;
                font-size: 1.25rem;

                &.marker {
                    padding-left: 2.25rem;
                }

                +i.icon-marker {
                    font-size: 1.85rem;
                    color: #385FA8;
                    position: absolute;
                    top: 0.3rem;
                    left: 0.4rem;
                }
            }

            .btn {
                width: 100%;
                border-radius: 6.25rem;
                background: linear-gradient(180deg, #2C56C1 0%, #142667 99.97%);
                color: #DDF9FF;
                font-size: 1.25rem;
                font-weight: 500;
            }
        }
    }
}

.center-area {
    position: relative;
    flex: 1 0 0;

    .marquee {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2.44rem;
        padding: 0.5rem 1rem;
        background: rgba(255, 218, 146, 0.80);
        color: #5A402C;
        overflow: hidden;

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            list-style: none;
            padding: 0;
            margin: 0;
            animation: marquee 30s linear infinite;

            &>li {
                padding: 0 1rem;
                display: inline-block;
                text-wrap: nowrap;
            }
        }

        @keyframes marquee {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }
}

.end-area {
    @extend %bigscreen-area;

    .header-area {
        padding: 0.5rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .btn-group {
            width: 100%;
            border-radius: 6.25rem;

            >.btn-check {
                &:checked+.btn {
                    background: linear-gradient(180deg, #236B89 0%, #103353 99.97%);
                }
            }

            >.btn {
                border-color: #fff;
                border-style: solid;
                border-width: 0;
                border-right-width: 1px;
                border-left-width: 1px;
                color: #fff;
                background: linear-gradient(180deg, #0097B8 0%, #006981 100%);

                &:first-of-type {
                    border-radius: 6.25rem 0rem 0rem 6.25rem;
                    border-left-width: 0;
                }

                &:last-of-type {
                    border-radius: 0rem 6.25rem 6.25rem 0rem;
                    border-right-width: 0;
                }

                &:hover {
                    background: linear-gradient(180deg, #006981 0%, #236B89 100%);
                }

                &.active,
                &:active {
                    background: linear-gradient(180deg, #236B89 0%, #103353 99.97%);
                }
            }
        }
    }
}

#box-Sewage {
    .label {
        color: #000;
        font-size: 1.25rem;
    }

    .value {
        color: #FD7A01;
        font-size: 1.25rem;
    }

    .value#Sewage_Treated {
        color: #000;
        font-size: 3rem;
        font-weight: 500;

        &+.unit {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }

    .progress {
        --bs-progress-border-radius: 2rem;
        --bs-progress-bg: #BDBDBD;
        --bs-progress-bar-bg: #2CB6F0;

        .progress-bar {
            width: 0%;
            border-radius: var(--bs-progress-border-radius);
            transition: width .5s;
        }
    }
}

[role='chart'] {
    &>div[id] {
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }

    &>.vr {
        color: #45454566;
    }

    .legend-container {
        flex: 1 0 auto;
        color: #000;

        .legend-statistics {
            text-align: end;
            margin-bottom: 0.25rem;

            .value {
                color: #E77272;
                font-size: 1.25rem;
            }

            .unit {
                color: inherit;
                font-size: 0.75rem;
                margin-left: 0.25rem;
            }
        }

        .legend-catalog {
            --c: #8f8f8f;
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            &>li {
                display: flex;
                flex-direction: row;
                gap: 0.25rem;
                align-items: center;
                cursor: pointer;
                transition: opacity .5s;

                &:hover i {
                    filter: saturate(1.8);
                }

                &[aria-disabled=true] {
                    opacity: 0.5;
                }
            }

            i {
                display: block;
                background-color: var(--c);
                width: 1rem;
                height: 1rem;
                border-radius: 2rem;
                transition: filter .5s;
            }

            .label {
                color: inherit;
                font-size: 0.75rem;
                flex: 1 0 auto;
            }

            .value {
                color: inherit;
                font-size: 0.875rem;
            }

            .percentage {
                color: #FD7A01;
                font-size: 0.75rem;

                &::before {
                    content: '(';
                }

                &::after {
                    content: '%)';
                }
            }
        }
    }

    .horizontal {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        width: 80% !important;
        height: 100%;

        .legend-container {
            order: 6;
        }
    }

    .vertical {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: center;
        height: 100%;

        .legend-container {
            width: 100%;
        }
    }

    .catalog-line {
        .legend-catalog {
            gap: 1rem;

            &>li {
                position: relative;
                padding-top: 0.3125rem;
            }

            i {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 0.3125rem;
                border-radius: 0;
            }

            .label {
                order: 6;
                text-align: end;
            }
        }
    }

    .no-statistics {
        .legend-statistics {
            display: none;
        }
    }
}

.plan-accordion {
    --bs-accordion-color: #284476;
    --bs-accordion-btn-color: var(--bs-accordion-color);
    --bs-accordion-active-color: var(--bs-accordion-color);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
    --bs-accordion-bg: transparent;
    --bs-accordion-border-width: 0;
    --bs-accordion-btn-bg: linear-gradient(180deg, #C5D5FF 0%, #A5B1DC 99.97%);
    --bs-accordion-btn-padding-x: 0.75rem;
    --bs-accordion-btn-padding-y: 0.25rem;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 0;
    --bs-accordion-border-radius: 0.3125rem;
    --bs-accordion-inner-border-radius: calc(var(--bs-accordion-border-radius) - 1px);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='5' viewBox='0 0 8 5' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.101.634A.4.4 0 0 1 .666.601L4 3.565 7.334.6a.4.4 0 0 1 .532.598l-3.6 3.2a.4.4 0 0 1-.532 0l-3.6-3.2A.4.4 0 0 1 .101.634z' fill='%23284476'/%3E%3C/svg%3E");
    --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
    --bs-accordion-btn-icon-width: 0.5rem;
    padding-right: 1.5rem;

    .accordion-item {
        margin-bottom: 0.75rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .accordion-button {
        display: flex;
        border-radius: 0.3125rem;
        background: var(--bs-accordion-btn-bg);

        .name {
            font-size: 1.25rem;
            font-weight: 500;
        }

        .icon-people {
            margin-left: auto;
            margin-right: 0.22rem;
        }

        &::after {
            height: 0.25rem;
            margin-left: 0.5rem;
        }
    }

    .accordion-collapse {
        padding-top: 0.25rem;
    }

    .accordion-body {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .plan-people {
        padding: 0.5rem 0.75rem;
        background: #FFF;
        display: flex;
        gap: 0.75rem;

        .human {
            border-radius: 0.3125rem;
            background: #D7D7D7;
            color: #fff;
            font-size: 1.5rem;
            padding: 0.2rem;
            width: 2.5rem;
            height: 2.5rem;
            text-align: center;
            vertical-align: middle;
            flex: 0 0 auto;
        }

        .plan-people-group {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            width: 100%;
        }

        .plan-people-info {
            display: flex;
            align-items: center;
            width: 100%;

            .name {
                color: #606060;
                font-size: 1.25rem;
                font-weight: 500;
                flex: 1 0 auto;
            }

            .icon-heart {
                color: #DB6565;
                margin-right: 0.16rem;
            }

            .label {
                --c: #909090;
                font-size: 0.75rem;
                font-weight: 500;
            }

            .value {
                min-width: 2em;
                text-align: end;
            }

            .value,
            .unit {
                --c: #606060;
                font-size: 0.75rem;
                font-weight: 500;
            }
        }

        .plan-people-locate {
            display: flex;

            .value {
                --c: #606060;
                font-size: 1rem;
                font-weight: 500;
            }

            .label {
                --c: #909090;
                font-size: 1rem;
                font-weight: 500;
            }

            .btn {
                font-size: 1.25rem;
                width: 2.25rem;
                height: 2.25rem;
                padding: 0.2rem;
                border-radius: 0.3125rem;
                background: #A4A4A4;
                color: #fff;
                margin-left: auto;
            }
        }
    }
}

#GIS {
    width: 100%;
    height: 100%;

    .esri-ui-corner-container {
        inset: 1.5rem 1.5rem 3.5rem !important;
    }
}

#BIM {
    width: 100%;
    height: 100%;
}