%bigscreen-area {
    display: flex;
    flex-direction: column;
    width: 29.25rem;
    background: #4b6d9f;
}

body {
    overflow: hidden;

    .viewerContainer {
        position: absolute;
        inset: 0;
        z-index: 0;
    }
}

.btn-alert {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0rem 0.5rem;
    border: 0;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #ffb800 0%, #c58200 100%);
    color: #fff;
    font-size: 1.5rem;

    --bs-btn-active-color: #fff;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        color: #fff;
    }

    .badge {
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(-50%, -50%);
        border-radius: 6.25rem;
        background: #f00;
        border: 1px solid #fff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 0.2rem 0.4rem;

        color: #fff;
        font-size: 0.875rem;
        font-weight: 500;
    }
}

.alert-collapse {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 1;

    .collapse-body {
        border-radius: 0.3125rem;
        background: rgba(34, 54, 94, 0.7);
        padding: 0rem 1rem;
        max-height: 40vh;
        min-width: 22rem;

        display: flex;
        flex-direction: column;
        gap: 8px;

        .simplebar-content {
            display: grid;
            grid-template-columns: 20rem;
            gap: 0.9375rem;

            &:empty {
                min-height: 4rem;

                &::after {
                    content: "無資料";
                    color: #cbcbcb;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: max-content;
                    font-size: 1rem;
                }
            }
        }

        .simplebar-scrollbar:before {
            background-color: #fff;
        }
    }

    .alert-item {
        --c: #7a7a7a;
        font-size: 14px;
        position: relative;
        grid-row: span 2;
        display: grid;
        grid-template-columns: 9em max-content;
        grid-template-rows: subgrid;
        justify-items: stretch;
        justify-content: space-between;
        align-items: center;
        width: 20rem;
        padding: 0.25rem 0.75rem 0.25rem 3rem;
        border-left: 8px solid var(--c);
        background: #fff2f2;
        text-decoration: none;
        gap: 0;

        &[data-level="2"] {
            --c: #df3232;
        }

        &[data-level="1"] {
            --c: #fdb601;
        }

        .icon-alert {
            position: absolute;
            left: 0.5rem;
            color: var(--c);
            font-size: 1.875rem;
        }

        span {
            display: block;
            padding: 0.1rem;
            text-align: start;
        }

        .road {
            font-weight: 700;
            color: #364557;
        }

        .time {
            font-weight: 400;
            font-size: 12px;
            color: #7f7f7f;
            text-align: center;
            justify-self: end;
        }

        .title {
            font-weight: 500;
            color: #364557;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 10em;
        }

        .process-state {
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            border-radius: 20px;
            border: 1px solid var(--c);
            color: var(--c);
            padding: 0.1rem 0.75rem;
            justify-self: end;
        }

        &[data-process-state="1"] .process-state::before {
            content: "待處理";
        }

        &[data-process-state="2"] .process-state::before {
            content: "處理中";
        }

        &[data-process-state="3"] .process-state::before {
            content: "已處理";
        }
    }
}

.bigscreen-container {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .header-area {
        width: 100%;
        background: linear-gradient(0deg, #4d90b6 0.23%, #529ebc 100%);
    }

    .info-area {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0.5rem;
        gap: 0.25rem;
        flex: 1 0 auto;

        .info-box {
            display: flex;
            flex-direction: column;

            .info-box-header {
                padding: 0.75rem 0rem;
                background: #1d3156;
                color: #fff;
                font-size: 1.25rem;
                font-weight: 500;
                text-align: center;
                line-height: 1.4;
            }

            .info-box-body {
                padding: 1rem;
                background: #e3eff4;
                height: 100%;
            }
        }

        :where(.label, .value, .unit) {
            color: var(--c);
        }
    }

    .color-card {
        --c: #25cad4;
        border-radius: 0.3125rem;
        background: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.625rem 0.5rem;
        gap: 0.25rem;
        flex: 1 0 0;

        &.shadow {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
        }

        &.h {
            border-top: 15px solid var(--c);
        }

        &.v {
            border-left: 15px solid var(--c);
        }

        .label {
            --c: #000;
            font-size: 1rem;
        }

        .value {
            --c: #000;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 100%;
        }

        .unit {
            --c: #313131;
            text-align: center;
            font-size: 1.25rem;
            line-height: 105%;
        }

        .img {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.start-area {
    @extend %bigscreen-area;

    .header-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0;

        .header-img {
            width: 22.4375rem;
            height: 3.625rem;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .header-current-time {
            width: 100%;
            background: #6fd2e8;
            color: #3f4559;
            text-align: center;
            font-size: 1.5rem;
        }

        .header-search {
            width: 100%;
            padding: 0rem 0.75rem;
            gap: 0.5rem;

            .col {
                position: relative;
                padding: 0;
            }

            .form-select {
                padding: 0.25rem 1rem;
                border-radius: 6.25rem;
                background-color: #ddf9ff;
                color: #898989;
                text-overflow: ellipsis;
                font-size: 1.25rem;

                &.marker {
                    padding-left: 2.25rem;
                }

                + i.icon-marker {
                    font-size: 1.85rem;
                    color: #385fa8;
                    position: absolute;
                    top: 0.3rem;
                    left: 0.4rem;
                }
            }

            .btn {
                width: 100%;
                border-radius: 6.25rem;
                background: linear-gradient(180deg, #2c56c1 0%, #142667 99.97%);
                color: #ddf9ff;
                font-size: 1.25rem;
                font-weight: 500;
            }
        }
    }
}

.center-area {
    position: relative;
    flex: 1 0 0;

    .marquee {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2.44rem;
        padding: 0.5rem 1rem;
        background: rgba(255, 218, 146, 0.8);
        color: #5a402c;
        overflow: hidden;

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            list-style: none;
            padding: 0;
            margin: 0;
            animation: marquee 30s linear infinite;

            & > li {
                padding: 0 1rem;
                display: inline-block;
                text-wrap: nowrap;
            }
        }

        @keyframes marquee {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }

    #Current_Location {
        margin-top: 2.5rem;
        margin-left: 1rem;
        display: inline-flex;
        padding: 0.5rem 1.5rem 0.5rem 1rem;
        align-items: center;
        gap: 0.5rem;
        border-radius: 6.25rem;
        border: 3px solid #fff;
        background: #d4e6ff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .icon-marker {
            font-size: 2.25rem;
            color: #fc0e0e;
        }

        span {
            color: #565e6d;
            font-size: 1.75rem;
            font-weight: 500;
            line-height: 1.25;

            &:empty {
                display: none;
            }
        }
    }
}

.end-area {
    @extend %bigscreen-area;

    .header-area {
        padding: 0.5rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .btn-group {
            width: 100%;
            border-radius: 6.25rem;

            > .btn-check {
                &:checked + .btn {
                    background: linear-gradient(180deg, #236b89 0%, #103353 99.97%);
                }
            }

            > .btn {
                border-color: #fff;
                border-style: solid;
                border-width: 0;
                border-right-width: 1px;
                border-left-width: 1px;
                color: #fff;
                background: linear-gradient(180deg, #0097b8 0%, #006981 100%);

                &:first-of-type {
                    border-radius: 6.25rem 0rem 0rem 6.25rem;
                    border-left-width: 0;
                }

                &:last-of-type {
                    border-radius: 0rem 6.25rem 6.25rem 0rem;
                    border-right-width: 0;
                }

                &:hover {
                    background: linear-gradient(180deg, #006981 0%, #236b89 100%);
                }

                &.active,
                &:active {
                    background: linear-gradient(180deg, #236b89 0%, #103353 99.97%);
                }
            }
        }
    }
}

.sewage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 100%;
    justify-content: center;

    .label {
        color: #000;
        font-size: 1.25rem;
    }

    .value {
        color: #fd7a01;
        font-size: 1.25rem;
    }

    .main {
        .value {
            color: #000;
            font-size: 3rem;
            font-weight: 500;
        }

        .unit {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }

    .progress {
        --bs-progress-border-radius: 2rem;
        --bs-progress-bg: #bdbdbd;
        --bs-progress-bar-bg: #2cb6f0;

        .progress-bar {
            width: 0%;
            border-radius: var(--bs-progress-border-radius);
            transition: width 0.5s;
        }
    }
}

#box-Environment {
    &[data-mode=""] {
        .color-card {
            display: none;
        }
    }

    &[data-mode="Home"] .info-box-body,
    &[data-mode="Factory"] .info-box-body {
        grid-template-columns: 1fr 1fr;

        .color-card:not(#Environment_Weather, #Environment_Temp, #Environment_Hum, #Environment_RainRate) {
            display: none;
        }
    }

    &[data-mode="Area"] .info-box-body {
        grid-template-columns: 1fr 1fr;

        .color-card:not(#Environment_Temp, #Environment_Hum, #Environment_CO2, #Environment_PM25) {
            display: none;
        }
    }

    &[data-mode="Floor"] .info-box-body {
        grid-template-columns: repeat(6, 1fr);

        .color-card:not(.c-2fr, .c-3fr) {
            display: none;
        }

        .color-card:is(.c-2fr, .c-3fr) {
            border-top: 15px solid var(--c);
            border-left: none;
        }

        .color-card.c-2fr {
            grid-column: auto / span 2;
        }

        .color-card.c-3fr {
            grid-column: auto / span 3;
        }
    }
}

.white-big-track {
    .simplebar-track {
        background: #828282;
        border-radius: 3.5rem;
        right: 1rem;
        bottom: 1rem;

        &.simplebar-vertical {
            top: 1rem;
        }

        .simplebar-scrollbar:before {
            background: #fff;
            opacity: 1;
            border-radius: 3.5rem;
            inset: 0;
        }
    }
}

.white-track {
    .simplebar-track {
        background: #828282;
        border-radius: 3.5rem;
        right: 0.1rem;
        bottom: 0.1rem;

        &.simplebar-vertical {
            top: 0.1rem;
        }

        .simplebar-scrollbar:before {
            background: #fff;
            opacity: 1;
            border-radius: 3.5rem;
            inset: 0;
        }
    }
}

#box-Equipment_Operating_State {
    flex: 1 0 auto;

    .info-box-body {
        height: 1px;
        flex-grow: 1;
    }
}
#Equipment_Operating_State {
    height: 100%;

    .item {
        display: flex;
        padding: 0.75rem 1rem;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;
        border-bottom: 1px solid #989898;
        background: #fff;

        &:hover {
            background: #ffffff93;
        }

        .name {
            color: #616161;
            font-size: 1rem;
            flex-grow: 1;
        }

        .value {
            flex-shrink: 0;
        }

        .unit {
            flex-shrink: 0;
        }

        .boxs {
            display: flex;
            align-self: stretch;
            align-items: center;
            justify-content: flex-end;
            gap: 0.25rem;
            flex: 1 1 auto;
        }

        .box {
            width: 10px;
            height: 20px;
            border-radius: 3px;
            flex-shrink: 0;

            &.red {
                background: linear-gradient(180deg, #ff3838 0%, #c20000 100%);
            }
            &.orange {
                background: linear-gradient(180deg, #ff9900 0%, #ff650e 100%);
            }
            &.green {
                background: linear-gradient(180deg, #3de513 0%, #1f9d00 100%);
            }
            &.undefined {
                background: linear-gradient(180deg, #cbcbcb 0%, #666666 100%);
            }
        }

        .m-light {
            width: 1rem;
            height: 1rem;
            border-radius: 0.5rem;
            color: #00ef26;
            background-color: currentColor;

            &.normal {
                color: #00ef26;
            }

            &.danger {
                color: #df3232;
            }
        }
    }
}

#Equipment_Maintain_State {
    .item {
        display: flex;
        padding: 0.5rem 1rem;
        align-items: center;
        align-self: stretch;
        border-bottom: 1px solid #989898;
        background: #fff;

        .name,
        .state,
        .locate {
            color: #616161;
            font-size: 1rem;
            margin-right: 0.75rem;
        }

        .name {
            flex: 1 0 0;
        }

        .state {
            width: 6.25rem;
        }

        .icon-marker {
            color: #fdb601;
        }

        .btn {
            padding: 0 0.5rem;
            width: 2.22rem;
            height: 1.75rem;
            border-radius: 0.3125rem;
            background: #a4a4a4;
            color: #fff;
        }

        &:is(:hover, .active) {
            background: #5ce2ff;

            .btn {
                background: #0094ff;
            }
        }
    }
}

.today-repair {
    display: flex;
    align-items: center;

    .today-repair-total {
        text-align: center;
        padding: 1rem;
        flex: 1 0 auto;

        .label {
            color: #000;
            font-weight: 500;
        }

        .value {
            color: #e77272;
            font-size: 2.5rem;
        }
    }

    .today-repair-list {
        flex: 1 0 auto;
        background-color: #1d3156;

        table {
            width: 100%;

            tr {
                &:nth-child(odd) {
                    background: rgba(46, 75, 111, 0.6);
                }
            }

            th {
                background: rgba(18, 184, 255, 0.3);
            }

            th,
            td {
                padding: 0.5rem 1rem;
                color: #fff;
                font-weight: 500;
            }
        }
    }
}

[role="chart"] {
    & > div[id] {
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }

    & > .vr {
        color: #45454566;
    }

    .legend-container {
        flex: 1 0 auto;
        color: #000;

        .legend-statistics {
            text-align: end;
            margin-bottom: 0.25rem;

            .value {
                color: inherit;
                font-size: 1.25rem;
            }

            .unit {
                color: inherit;
                font-size: 0.75rem;
                margin-left: 0.25rem;
            }
        }

        .legend-catalog {
            --c: #8f8f8f;
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            & > li {
                display: flex;
                flex-direction: row;
                gap: 0.25rem;
                align-items: center;
                cursor: pointer;
                transition: opacity 0.5s;

                &:hover i {
                    filter: saturate(1.8);
                }

                &[aria-disabled="true"] {
                    opacity: 0.5;
                }
            }

            i {
                display: block;
                background-color: var(--c);
                width: 1rem;
                height: 1rem;
                border-radius: 2rem;
                transition: filter 0.5s;
            }

            .label {
                color: inherit;
                font-size: 0.75rem;
                flex: 1 0 auto;
            }

            .value {
                color: inherit;
                font-size: 0.875rem;
            }

            .percentage {
                color: #fd7a01;
                font-size: 0.75rem;

                &::before {
                    content: "(";
                }

                &::after {
                    content: "%)";
                }
            }
        }
    }

    .horizontal {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        width: 80% !important;
        height: 100%;

        .legend-container {
            order: 6;
        }

        .legend-catalog {
            gap: 0.25rem;
        }

        &.catalog-line .legend-catalog {
            gap: 0.75rem;
        }
    }

    .vertical {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: center;
        height: 100%;

        .legend-container {
            width: 100%;
        }
    }

    .catalog-line {
        .legend-catalog {
            gap: 1rem;

            & > li {
                position: relative;
                padding-top: 0.3125rem;
            }

            i {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 0.3125rem;
                border-radius: 0;
            }

            .label {
                order: 6;
                text-align: end;
            }
        }
    }

    .no-statistics {
        .legend-statistics {
            display: none;
        }
    }
}

.plan-accordion {
    --bs-accordion-color: #284476;
    --bs-accordion-btn-color: var(--bs-accordion-color);
    --bs-accordion-active-color: var(--bs-accordion-color);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
    --bs-accordion-bg: transparent;
    --bs-accordion-border-width: 0;
    --bs-accordion-btn-bg: linear-gradient(180deg, #c5d5ff 0%, #a5b1dc 99.97%);
    --bs-accordion-btn-padding-x: 0.75rem;
    --bs-accordion-btn-padding-y: 0.25rem;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 0;
    --bs-accordion-border-radius: 0.3125rem;
    --bs-accordion-inner-border-radius: calc(var(--bs-accordion-border-radius) - 1px);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='5' viewBox='0 0 8 5' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.101.634A.4.4 0 0 1 .666.601L4 3.565 7.334.6a.4.4 0 0 1 .532.598l-3.6 3.2a.4.4 0 0 1-.532 0l-3.6-3.2A.4.4 0 0 1 .101.634z' fill='%23284476'/%3E%3C/svg%3E");
    --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
    --bs-accordion-btn-icon-width: 0.5rem;
    padding-right: 1.5rem;

    .accordion-item {
        margin-bottom: 0.75rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .accordion-button {
        display: flex;
        border-radius: 0.3125rem;
        background: var(--bs-accordion-btn-bg);

        .name {
            font-size: 1.25rem;
            font-weight: 500;
        }

        .icon-people {
            margin-left: auto;
            margin-right: 0.22rem;
        }

        &::after {
            height: 0.25rem;
            margin-left: 0.5rem;
        }
    }

    .accordion-collapse {
        padding-top: 0.25rem;
    }

    .accordion-body {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .plan-people {
        border-radius: 0.3125rem;
        padding: 0.45rem 0.7rem;
        background: #fff;
        display: flex;
        gap: 0.75rem;
        border: 3px solid #fff;
        cursor: pointer;

        .human {
            border-radius: 0.3125rem;
            background: #d7d7d7;
            color: #fff;
            font-size: 1.5rem;
            padding: 0.2rem;
            width: 2.5rem;
            height: 2.5rem;
            text-align: center;
            vertical-align: middle;
            flex: 0 0 auto;
        }

        .plan-people-group {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            width: 100%;
        }

        .plan-people-info {
            display: flex;
            align-items: center;
            width: 100%;

            .name {
                color: #606060;
                font-size: 1.25rem;
                font-weight: 500;
                flex: 1 0 auto;
            }

            .icon-heart {
                color: #db6565;
                margin-right: 0.16rem;
            }

            .label {
                --c: #909090;
                font-size: 0.75rem;
                font-weight: 500;
            }

            .value {
                min-width: 2em;
                text-align: end;
            }

            .value,
            .unit {
                --c: #606060;
                font-size: 0.75rem;
                font-weight: 500;
            }
        }

        .plan-people-locate {
            display: flex;

            .value {
                --c: #606060;
                font-size: 1rem;
                font-weight: 500;
            }

            .label {
                --c: #909090;
                font-size: 1rem;
                font-weight: 500;
            }

            .btn {
                font-size: 1.25rem;
                width: 2.25rem;
                height: 2.25rem;
                padding: 0.2rem;
                border-radius: 0.3125rem;
                background: #a4a4a4;
                color: #fff;
                margin-left: auto;
            }
        }

        &:hover {
            border: 3px solid #e0e0e0;

            .btn {
                background: #8b8b8b;
            }
        }

        &.active {
            border: 3px solid #ffc700;

            .human {
                background: #ffb800;
            }
        }
    }
}

#GIS {
    width: 100%;
    height: 100%;

    .esri-ui-corner-container {
        inset: 1.5rem 1.5rem 3.5rem !important;
    }
}

@mixin ForgePin {
    .pin-area {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 4 !important;
        overflow: hidden;
        pointer-events: none;
    }

    .pin {
        position: absolute;
        transform: translate(-50%, -50%);
        pointer-events: auto;
        cursor: pointer;

        &[id^="pin_bluetooth-"] {
            img {
                transform: scale(0.6);
            }
        }

        &[id^="pin_person"] {
            transform: translate(-50%, -80%);

            .label {
                color: #909090;
                font-size: 0.75rem;
                font-weight: 500;
                margin-left: 0.3rem;
            }

            .value,
            .unit {
                color: #606060;
                font-size: 0.875rem;
                font-weight: 500;
            }
        }
    }

    .pin-popover {
        position: absolute;
        transform: translate(-50%, -50%);
        width: max-content;
        display: block;
        cursor: auto;
        border-radius: 0.31rem;
        background: rgba(236, 246, 255, 0.95);
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.5);

        &:not([data-show]) {
            display: none;
        }

        .popover-header {
            color: #454a5b;
            font-size: 1.25rem;
            font-weight: 500;
            padding: 0.5rem 0.75rem 0;
            display: flex;
            align-items: center;
            gap: 0.75rem;
        }

        .popover-body {
            width: 100%;
            color: lightgray;
            padding: 0 1rem 0.5rem;
        }
    }

    .bluetooth-name {
        background-color: #2750b9;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 100%;
        width: max-content;
        transform: translate(-50%, -20%);
        padding: 1px 3px;
        border-radius: 2px;
    }
}

#BIM {
    width: 100%;
    height: 100%;

    .adsk-viewing-viewer {
        background: none !important;

        .adsk-toolbar {
            bottom: 3rem;
        }
    }

    .forge-spinner {
        display: none !important;
    }

    .viewcubeWrapper {
        top: 3rem;
    }

    @include ForgePin;
}

#UPBIM {
    position: relative;
    width: 100%;
    height: 100%;

    @include ForgePin;
}

#box-Inspection_Current_Status_Factory {
    height: 12rem;
    flex: 0 0 auto;
}

#box-Inspection_Current_Pos_Factory {
    height: 0rem;

    .info-box-body {
        height: calc(100% - 3.375rem);
    }

    .plan-accordion {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .form-select {
            border-radius: 6.25rem;
            border: 1px solid #c6c6c6;
            background-color: #fff;
            color: #7e7e7e;
            font-size: 1.125rem;
            font-weight: 500;
            padding: 0.35rem 1rem;
        }
    }
}

#box-BIM_Current_Pos {
    height: 24.3rem;
    flex: 0 0 auto;
}

#box-Inspection_Aberrant_Factory,
#box-Repair_Maintain_State {
    flex: 0 0 auto;
}

#box-Inspection_Plan_List {
    height: 0rem;

    .info-box-body {
        background: rgba(29, 49, 86, 0.9);
        height: calc(100% - 3.375rem);
    }

    .table {
        color: #fff;
        text-align: center;
        margin-bottom: 0;
        overflow: hidden;
        height: 100%;

        .text-success {
            color: #72e998 !important;
        }

        .row {
            --bs-gutter-x: 0rem !important;
        }

        .thead {
            background: rgba(18, 184, 255, 0.3);
            font-size: 1.125rem;
            font-weight: 500;
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            & > .col {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;

                &:last-of-type {
                    padding-left: 0.5rem;
                }
            }
        }

        .tbody {
            height: calc(100% - 2.1875rem);

            .simplebar-content {
                padding-right: 2.5rem !important;
            }

            .row {
                padding-left: 2.5rem;

                &:nth-of-type(odd) {
                    background: rgba(46, 75, 111, 0.6);
                }

                & > .col {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;

                    &:last-of-type {
                        padding-left: 0.5rem;
                    }
                }
            }
        }

        .simplebar-track {
            background: #828282;
            border-radius: 3.5rem;
            right: 1rem;
            bottom: 1rem;

            &.simplebar-vertical {
                top: 1rem;
            }

            .simplebar-scrollbar {
                &:before {
                    background: #fff;
                    opacity: 1;
                    border-radius: 3.5rem;
                    inset: 0;
                }
            }
        }
    }
}
