body {
    overflow: hidden;
}

.bigscreen-container {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .header-area {
        width: 100%;
        background: linear-gradient(0deg, #4D90B6 0.23%, #529EBC 100%);
    }

    .info-area {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        gap: 0.25rem;
        flex: 1 0 auto;

        .info-box {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;

            .info-box-header {
                padding: 0.75rem 0rem;
                background: #1D3156;
                color: #FFF;
                font-size: 1.25rem;
                font-weight: 500;
                text-align: center;
            }

            .info-box-body {
                padding: 1rem;
                background: #E3EFF4;
                height: 100%;
            }
        }

        :where(.label,
            .value,
            .unit) {
            color: var(--c);
        }
    }

    .color-card {
        --c: #25CAD4;
        border-radius: 0.3125rem;
        background: #FFF;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.625rem 0.5rem;
        gap: 0.25rem;
        flex: 1 0 0;

        &.shadow {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
        }

        &.h {
            border-top: 15px solid var(--c);
        }

        &.v {
            border-left: 15px solid var(--c);
        }

        .label {
            --c: #000;
            font-size: 1rem;
        }

        .value {
            --c: #000;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 100%;
        }

        .unit {
            --c: #313131;
            text-align: center;
            font-size: 1.25rem;
            line-height: 105%;
        }

        .img {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

%bigscreen-area {
    display: flex;
    flex-direction: column;
    width: 29.25rem;
    background: #4B6D9F;
}

.start-area {
    @extend %bigscreen-area;

    .header-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0;

        .header-img {
            width: 19.48588rem;
            height: 5.30963rem;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .header-current-time {
            width: 100%;
            background: #6FD2E8;
            color: #3F4559;
            text-align: center;
            font-size: 1.5rem;
        }

        .header-search {
            width: 100%;
            padding: 0rem 0.75rem;
            gap: 0.5rem;

            .col {
                position: relative;
                padding: 0;
            }

            .form-select {
                padding: 0.25rem 1rem;
                border-radius: 6.25rem;
                background-color: #DDF9FF;
                color: #898989;
                text-overflow: ellipsis;
                font-size: 1.25rem;

                &.marker {
                    padding-left: 2.25rem;
                }

                +i.icon-marker {
                    font-size: 1.85rem;
                    color: #385FA8;
                    position: absolute;
                    top: 0.3rem;
                    left: 0.4rem;
                }
            }

            .btn {
                width: 100%;
                border-radius: 6.25rem;
                background: linear-gradient(180deg, #2C56C1 0%, #142667 99.97%);
                color: #DDF9FF;
                font-size: 1.25rem;
                font-weight: 500;
            }
        }
    }
}

.center-area {
    position: relative;
    flex: 1 0 0;

    .marquee {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2.44rem;
        padding: 0.5rem 1rem;
        background: rgba(255, 218, 146, 0.80);
        color: #5A402C;
    }
}

.end-area {
    @extend %bigscreen-area;

    .header-area {
        padding: 0.5rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .btn-group {
            width: 100%;
            border-radius: 6.25rem;

            >.btn-check {
                &:checked+.btn {
                    background: linear-gradient(180deg, #236B89 0%, #103353 99.97%);
                }
            }

            >.btn {
                border-color: #fff;
                border-style: solid;
                border-width: 0;
                border-right-width: 1px;
                border-left-width: 1px;
                color: #fff;
                background: linear-gradient(180deg, #0097B8 0%, #006981 100%);

                &:first-of-type {
                    border-radius: 6.25rem 0rem 0rem 6.25rem;
                    border-left-width: 0;
                }

                &:last-of-type {
                    border-radius: 0rem 6.25rem 6.25rem 0rem;
                    border-right-width: 0;
                }

                &:hover {
                    background: linear-gradient(180deg, #006981 0%, #236B89 100%);
                }

                &.active,
                &:active {
                    background: linear-gradient(180deg, #236B89 0%, #103353 99.97%);
                }
            }
        }
    }
}


#Sewage {
    .label {
        color: #000;
        font-size: 1.25rem;
    }

    .value {
        color: #FD7A01;
        font-size: 1.25rem;
    }

    .value#Sewage_Treated {
        color: #000;
        font-size: 3rem;
        font-weight: 500;

        &+.unit {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }

    .progress {
        --bs-progress-border-radius: 2rem;
        --bs-progress-bg: #BDBDBD;
        --bs-progress-bar-bg: #2CB6F0;

        .progress-bar {
            border-radius: var(--bs-progress-border-radius);
        }
    }
}

[role='chart'] {
    &>div[id] {
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }

    &>.vr {
        color: #45454566;
    }

    .legend-container {
        flex: 1 0 auto;

        .legend-statistics {
            text-align: end;
            margin-bottom: 0.25rem;

            .value {
                color: #E77272;
                font-size: 1.25rem;
            }

            .unit {
                color: #000;
                font-size: 0.75rem;
                margin-left: 0.25rem;
            }
        }

        .legend-catalog {
            --c: #8f8f8f;
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            &>li {
                display: flex;
                flex-direction: row;
                gap: 0.25rem;
                align-items: center;
                transition: opacity .5s;

                &:hover i {
                    filter: saturate(1.8);
                }

                &[aria-disabled=true] {
                    opacity: 0.5;
                }
            }

            i {
                display: block;
                background-color: var(--c);
                width: 1rem;
                height: 1rem;
                border-radius: 2rem;
                transition: filter .5s;
            }

            .label {
                color: #000;
                font-size: 0.75rem;
                flex: 1 0 auto;
            }

            .value {
                color: #000;
                font-size: 0.875rem;
            }

            .percentage {
                color: #FD7A01;
                font-size: 0.75rem;

                &::before {
                    content: '(';
                }

                &::after {
                    content: '%)';
                }
            }
        }
    }

    .horizontal {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        width: 80% !important;
        height: 100%;

        .legend-container {
            order: 6;
        }
    }

    .vertical {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        height: 100%;

        .legend-container {
            width: 100%;
        }
    }

    .catalog-line {
        .legend-catalog {
            gap: 1rem;

            &>li {
                position: relative;
                padding-top: 0.3125rem;
            }

            i {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 0.3125rem;
                border-radius: 0;
            }

            .label {
                order: 6;
                text-align: end;
            }
        }
    }

    .no-statistics {
        .legend-statistics {
            display: none;
        }
    }
}