.btn {
    border-radius: 5px;
    font-size: 18px;
    --bs-btn-disabled-color:white;
    --bs-btn-disabled-bg:#708298;
    --bs-btn-disabled-border-color:#708298;
    --bs-btn-disabled-opacity: 0.36;
}

.btn-create {
    --bs-btn-bg: #0457D1;
    --bs-btn-color: white;
    --bs-btn-hover-bg: #044ebd;
    --bs-btn-hover-color: white;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: rgba(92, 151, 237, 0.5);
    --bs-btn-hover-border-color: rgba(92, 151, 237, 0.5);
}

.btn-create-item,
.btn-search {
    --bs-btn-bg: #44BCC2;
    --bs-btn-color: white;
    --bs-btn-hover-bg: #3daaaf;
    --bs-btn-hover-color: white;
}

.btn-cancel,
.btn-back,
.btn-clear {
    --bs-btn-bg: #A1B3AE;
    --bs-btn-color: white;
    --bs-btn-hover-bg: #91a19d;
    --bs-btn-hover-color: white;
}

.btn-submit,
.btn-export {
    --bs-btn-bg: #0457D1;
    --bs-btn-color: white;
    --bs-btn-hover-bg: #044ebd;
    --bs-btn-hover-color: white;
    --bs-btn-border-width: 1.5px;
    --bs-btn-border-color: #5C97ED;
    --bs-btn-hover-border-color: #5C97ED;
}

.btn-datagrid {
    --bs-btn-bg: #6487B0;
    --bs-btn-color: white;
    --bs-btn-hover-bg: #5a7a9f;
    --bs-btn-hover-color: white;
    --bs-btn-padding-x: 10px;
    --bs-btn-padding-y: 3px;
}

.btn-datagrid-secondary {
    --bs-btn-bg: #708298;
    --bs-btn-hover-bg: #657589;
}

.btn-delete,
.btn-delete-confirm{
    --bs-btn-bg: #E06666;
    --bs-btn-color: white;
    --bs-btn-hover-bg: #ca5c5c;
    --bs-btn-hover-color: white;
}

.btn-delete-item{
    --btn-bg: #E06666;
    border: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 12px;
    transition: all .3s;
    background: var(--btn-bg) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.btn-delete-item:hover,
.btn-delete-item:focus{
    --btn-bg: #ca5c5c;
}