.search-area {
    background: rgba(35, 106, 146, 0.43);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
    padding: 20px 36px;
}

.search-area .form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 0px;
}
.search-area .form-group{
    padding: 0 16px;
}
.search-area .form-group label {
    color: white;
    margin-bottom: 4px;
}

.search-area .form-control,
.search-area .form-select {
    border-radius: 0;
}

@media (max-width: 768px) {

    .search-area .form-group {
        width: calc(100%);
    }
}

@media (min-width: 768px) {

    .search-area .form-group {
        width: calc(100% / 2);
    }
}

@media (min-width: 992px) {

    .search-area .form-group {
        width: calc(100% / 3);
    }
}

@media (min-width:1200px) {
    .search-area .form-group {
        width: calc(100% / 4);
    }
}

@media (min-width: 1400px) {
    .search-area .form-group {
        width: calc(100% / 4);
    }
}

@media (min-width: 1600px) {
    .search-area .form-group {
        width: calc(100% / 5);
    }
}

@media (min-width: 1800px) {
    .search-area .form-group {
        width: calc(100% / 6);
    }
}