.form-control:user-invalid,
.form-select:user-invalid {
    outline: hsla(0, 66%, 64%, 0.8) solid 2px !important;
}

.form-control.readonly,
.form-select.readonly {
    background: transparent;
    border: 0;
    color: #fff !important;
    font-size: 18px;
}

.form-control.input-readonly {
    background-color: #e9ecef;
}

.form-control.input-readonly:focus {
    box-shadow: none !important;
    border: 0 !important;
}

/* FileUploader */

.form-file-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0;
}

.form-file-list{
    display: none;
    flex-direction: column;
    text-align: left;
    align-items: center;
    width: 100%;
    order: -1;
    gap: 0.5rem;
}
.form-file-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%;
    gap: 8px;
}

.form-file-name {
    display: inline-block;
    word-wrap: break-word !important;
    word-break: break-word !important;
    margin-right: 0.5rem;
}

.form-file-name,
.form-file-name:hover {
    text-decoration: none;
    color: #000E22;
}

.form-file-name[href]:hover {
    color: #44BCC2;
}

.form-file-size {
    color: #AEAEAE;
}

.form-file-preview {
    display: none;
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

@media (min-width: 992px) {
    .form-file-input{
        width: 200%;
    }
    .form-file-list{
        order: 6;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .form-file-item{
        width: auto;
    }
}

/* management */
.search-area {
    background: rgba(26, 80, 133, 0.75);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
    padding: 20px 36px;
    font-size: 18px;
}

.bg-transparent {
    background: transparent;
}

.search-area.bg-transparent {
    box-shadow: none;
    padding: 20px 0;
}

.search-area .form {
    display: grid;
    gap: 24px 32px;
    align-items: flex-end;
    /*grid-template-columns: repeat(6, 1fr);*/
}

.search-area .form-group {
    width: 100%;
}

.search-area .form-group label {
    position: relative;
    color: white;
    margin-bottom: 4px;
}

.search-area .form-control,
.search-area .form-select {
    border-radius: 0;
    color: #7E7E7E;
}

.search-area .button-group {
    display: flex;
    gap: 18px;
    padding: 0 16px;
    width: 100%;
    justify-content: center;
    grid-column: 1 / -1;
}

.dg-tool-bar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* create / edit */

.edit-area, .info-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
    /*background: rgba(21, 52, 85, 0.5);
    border-radius: 5px;
    padding: 1rem;*/
}

.edit-button-area {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.edit-area .form {
    /*display: flex;
    width: 100%;
    gap: 24px;
    padding: 8px 16px;
    align-items: stretch;
    flex-direction: column;*/
    background: rgba(21, 52, 85, 0.5);
    width: 100%;
    padding: 1rem;
    row-gap: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem 1.5rem;
}

/*.edit-area-xs .form {
    width: 576px;
}*/

.edit-area .form-group-zone {
    gap: 8px 32px;
}

.edit-area-hr {
    border-top: 1px solid #6E90B7 !important;
    opacity: 1 !important;
    width: 100%;
}

.form-required {
    position: relative;
}

.form-group label {
    position: relative;
}

.form-required::before, .form-group.required label:not([for="File"])::before, .search-area .form-group.required label::before {
    content: '*';
    position: absolute;
    color: red;
    left: -10px;
}

.radio-group.required div label::before {
    content: unset !important;
}

.form-group > label[for="File"] {
    display: none;
}

.edit-area .form-group.required label.btn::before {
    content: '';
}

.form-control, .form-select {
    border-radius: 0;
}
.edit-area label {
    grid-column-start: 1;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.edit-area .form-control,
.edit-area .form-select {
    grid-column-start: 2;
    color: #7E7E7E;
}

.edit-area .form-check-input[type=radio]:checked {
    border-color: #fff;
    border-width: medium;
}

.edit-area textarea {
    resize: vertical;
    color: #7E7E7E;
    padding: 0.375rem 0.75rem;
    min-height: 2.5rem;
}

.edit-area textarea:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.hr-default {
    width: 100%;
    color: #FFF;
    border-width: medium;
}

.form-file-hr {
    display: none;
    color: #C8E0F4;
    width: 100%;
    opacity: 1;
    margin: 0;
}

.hr-dashed {
    width: 100%;
    border: 2px dashed #A6D0FC;
    transform: rotate(-0.22deg);
    margin: 24px 0;
    opacity: 1;
}

.form-group-zone {
    width: 100%;
    display: grid;
}

.form-group-zone .form-group {
    width: 100%;
}

.form.form-w-100 {
    padding-left: 18px;
    width: 100% !important;
}

.form.form-w-100 label {
    color: #D6D6D6;
}

.edit-area .form label.btn {
    margin-bottom: 0;
}

.edit-area .form.form-w-100 label.btn {
    color: var(--bs-btn-color);
}

.areaTitle {
    position: absolute;
    top: -32px;
    left: 0;
    color: white;
}

.edit-img-area {
    display: flex;
    flex-wrap: wrap;
    padding: 7px 12px;
    gap: 4em;
}

.edit-img-item {
    position: relative;
    background: #AFD5FF;
    border-radius: 5px;
    width: 100%;
    max-width: 10em;
    height: 10em;
    /* overflow: hidden; */
    flex: 0 0 auto;
}

.edit-img-item img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.edit-img-item .btn-delete-item {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.edit-area-xsmall {
    grid-template-columns: 1fr 1fr;
}

.addItemBtn {
    background: transparent;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #44BCC2;
    font-size: 18px;
    padding: 5px 12px;
    margin-top: 16px;
    width: fit-content;
}

.detail-info {
    border: 1px solid #6b675d;
    width: 40%;
}

.detail-info th, .detail-info td {
    padding: 8px;
    text-align: center;
    border-top: 1px solid #6b675d;
    border-left: 1px solid #6b675d;
}
.detail-info th {
    background-color: #C6E1FF;
    font-weight: 300;
}

.detail-info td {
    background-color: #F3FBFF;
}

.edit-area-lg {
    width: 100%;
    max-width: 1094px;
    margin: auto;
}

.edit-area-md {
    width: 100%;
    max-width: 855px;
    margin: auto;
}

.edit-area-sm {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.edit-area-xs {
    width: 100%;
    max-width: 450px;
    margin: auto;
}

.group-title {
    color: #80EBD9;
    font-weight: 500;
    font-size: 24px
}

.group-sb-title {
    display: flex;
    color: #CCFCFF;
    font-size: 18px;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
    width: 100%;
}

.edit-area-sm .form-group-zone {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-dialog .form-group label {
    margin-bottom: 4px;
}

.form-check-input:checked[type=radio] {
    background-image: unset;
}

.info-zone {
    background: rgba(21, 52, 85, 0.5);
    padding: 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.zone-title {
    color: #80EBD9;
    font-size: 20px;
}

.edit-item-init {
    display: grid;
    /* flex-direction: row;*/
    gap: 12px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 8px;
    grid-template-columns: 2fr 1fr;
}
.edit-item-init .form-control {
    grid-column-start: unset;
}

.report-item-init {
    display: grid;
    grid-template-columns: 5fr 2fr 24px;
    color: #FFF;
    gap: 0.5rem 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
}
.key-value-pair {
    display: grid;
    grid-template-columns: 5fr 2fr;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 8px;
    align-items: center;
    width: 100%;
}

.key-value-pair .form-control {
    grid-column-start: unset;
}

.input-wrapper, .input-wrapper2 {
    position: relative;
}

.unit {
    position: absolute;
    right: 11px;
    top: 45px;
    color: #7E7E7E;
}

.input-wrapper2 .unit {
    top: 35px;
}

.tab-btn-bar {
    display: flex;
    gap: 16px
}

.tab-btn {
    border: none;
    border-radius: 5px 5px 0 0;
    color: rgba(255, 255, 255, 0.4);
    padding: 16px 48px;
    background: rgba(21, 52, 85, 0.2);
    font-size: 24px;
}

.tab-checked {
    background: rgba(21, 52, 85, 0.5);
    border-bottom: 1px solid #A6D0FC;
    color: #FFF;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    padding: 0;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: #FFF2E3;
        color: #555555;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -35px;
        font-weight: 600;
        border: 2px solid #ffcb8f;
    }

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -122px;
    border-width: 10px 7px;
    border-style: solid;
    border-color: #FFF2E3 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

    @media (max-width: 768px) {
    /*.search-area .form-group {
        width: calc(100%);
    }*/
    /*.search-area .form-group.f-3 {
        width: 100%;
    }*/

    .edit-img-area {
        gap: 2em;
    }

    .edit-img-item {
        max-width: unset;
    }
    .form-group-zone {
        display: unset;
    }
    }

    @media (min-width: 768px) {
        .search-area .form, .edit-area-full .form-group-zone {
            grid-template-columns: repeat(3, 1fr);
        }

        .form-group.col-2fr {
            grid-column: span 2;
        }

        .form-group.col-3fr {
            grid-column: span 3;
        }

        /*.search-area .form-group.f-3 {
        width: 100%;
    }*/

        .edit-img-area {
            gap: 3em;
        }

        .edit-area-lg .form-group-zone {
            grid-template-columns: repeat(3, 1fr);
        }

        .edit-area.edit-area-xsmall {
            max-width: 576px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (min-width: 992px) {
        .edit-area .form {
            padding: 1.5rem 3rem;
        }

        .search-area .form, .edit-area-full .form-group-zone {
            grid-template-columns: repeat(4, 1fr);
        }

        /*.search-area .form-group.f-3 {
        width: calc(100% / 3 * 3);
    }*/

        .edit-area-lg .form-group-zone {
            grid-template-columns: repeat(3, 1fr);
        }

        .edit-area.edit-area-sm {
            max-width: 816px;
            margin-left: auto;
            margin-right: auto;
        }

        /*.edit-area .form {
        display: grid;
        width: auto;
        grid-template-columns: max-content 250px;
        gap: 24px;
        padding: 18px 0;
        align-items: flex-end;
    }*/

        .form.form-w-100 {
            padding: 18px;
            grid-template-columns: max-content;
        }

        .edit-img-area {
            gap: 3em;
        }
    }

    @media (min-width:1200px) {
        .search-area .form, .edit-area-full .form-group-zone {
            grid-template-columns: repeat(5, 1fr);
        }     
        
        .edit-area-md .form-group-zone {
            grid-template-columns: repeat(3, 1fr);
        }

        /*.search-area .form-group.f-3 {
        width: calc(100% / 4 * 3);
    }*/

        .edit-area.edit-area-middle {
            max-width: 1060px;
            margin-left: auto;
            margin-right: auto;
        }

        .edit-img-area {
            gap: 4em;
        }
        .info-zone {
            padding: 24px 48px;
            gap: 16px;
        }
    }

    @media (min-width: 1400px) {
        .search-area .form {
            grid-template-columns: repeat(6, 1fr);
        }
        .info-zone {
            width: 1094px;
        }
        /*.search-area .form-group.f-3 {
        width: calc(100% / 4 * 3);
    }*/
    }
    /*@media (min-width: 1600px) {
    .search-area .form-group.f-3 {
        width: calc(100% / 5 * 3);
    }
}

@media (min-width: 1800px) {
    .search-area .form-group.f-3 {
        width: calc(100% / 6 * 3);
    }
}*/