body {
    background: url("/Content/img/loginBG.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.login-body {
    position: absolute;
    inset: 0;
    width: 500px;
    background: hsla(0, 0%, 100%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-title {
    text-align: center;
    font-weight: 500;
    color: #206dba;
}

.btn-login {
    width: 100%;
    background: #206dba;
    color: #fff;
    border-radius: 5px;
}

.btn-login:hover {
    background: #3daaaf;
    color: #fff;
}

.login-body .form-control {
    border-radius: 5px;
    font-size: 18px;
}

@media (max-width:992px) {
    .login-body {
        width: 100%;
        background: linear-gradient(180deg, hsla(180, 100%, 98%, 0.9) 40%, hsla(0, 0%, 100%, 0.5) 100%)
    }

    .login-body .form-control {
        filter: drop-shadow(0px 1px 2px #00000080);
    }
}