.navbar {
    --bs-navbar-padding-y: 0;
    --bs-navbar-color: #2F6D99;
    --bs-navbar-hover-color: #002b4a;
    --bs-navbar-disabled-color: #2f6d996e;
    height: var(--navbar-height);
    background: rgba(255, 255, 255, 0.4);
    font-size: 18px;
}

.navbar-nav {
    align-items: center;
}

.navbar .container-fluid {
    height: 100%
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand-title {
    font-weight: bold;
    font-size: 22px;
    color: #465F71;
    margin-left: 24px;
}

.offcanvas {
    --bs-offcanvas-bg: #f3f8ff;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 0.5rem;
}

.navbar .dropdown-menu {
    --bs-dropdown-bg: #f3f8ff;
    --bs-dropdown-border-radius: 0;
    --bs-dropdown-border-width: 0;
    --bs-dropdown-padding-y: 0;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.5rem;
    --bs-dropdown-link-color: #597c95;
    --bs-dropdown-link-hover-color: #475a85;
    --bs-dropdown-link-hover-bg: #dcfffd80;
    --bs-dropdown-link-active-color: #5b6b76;
    --bs-dropdown-link-active-bg: #BBEEF1;
    --bs-dropdown-link-disabled-color: #2f6d996e;
}



.navbar-toggler {
    padding: 0.25rem;
    margin: 0 0.5rem;
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-end {
    display: flex;
    align-items: center;
}

.navbar-logout {
    text-decoration: none;
}

@media (max-width:1199.98px) {
    .offcanvas .navbar-brand-title {
        margin-left: 0px;
        margin-right: 0px;
    }

    .offcanvas .navbar-nav {
        padding-top: 1rem;
        padding-right: 0 !important;
        align-items: flex-start;
    }

    .offcanvas .nav-link {
        padding-left: 1rem;
    }

    .navbar .dropdown-menu {
        --bs-dropdown-bg: transparent;
        width: 100%;
    }

    .nav-item.dropdown {
        width: 100%;
    }

}