.key-value-pair {
    display: grid;
    grid-template-columns: 5fr 2fr;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 8px;
    align-items: center;
    width: 100%;
}

.key-value-pair .form-control {
    grid-column-start: unset;
}
