.sample-path-area {
    padding-left: 16px;
    padding-right: 16px;
}

.sample-path-title {
    font-size: 18px;
    color: #fff;
    margin-top: 12px;
}

.sample-path-group-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin-bottom: 1em;
}

.sample-path-group {
    --path-group-border-radius: 5px;
    font-size: 18px;
}

.sample-path-group .input-group-text {
    position: relative;
    min-height: calc(12px + 1.612em);
    background-color: #BED4EF;
    color: #3D3D3D;
    border-radius: var(--path-group-border-radius);
    border: 0;
    border-right: 1px dashed #8899AE;
    z-index: 1;
}

.sample-path-group .form-control {
    display: flex;
    background-color: #D3E5FB;
    color: #5B5B5B;
    border-radius: var(--path-group-border-radius);
    border: 0;
}

.sample-path-group .btn-delete-item {
    align-self: center;
    margin-left: 10px !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.sample-path-group .breadcrumb {
    --bs-breadcrumb-margin-bottom: 0;
}

.sample-path-group nav {
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-right-short' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.sample-path-group .breadcrumb-item+.breadcrumb-item::before {
    padding-top: 2px;
}

.sample-path-draw-area {
    position: relative;
    background-color: #D3E5FB;
    border-radius: 5px;
    width: 100%;
    padding: 20px 28px;
}

@media (max-width:767.98px) {
    .sample-path-group {
        flex-direction: column;
    }

    .sample-path-group .input-group-text {
        justify-content: center;
        border-right: 0;
        border-bottom: 1px dashed #8899AE;
        border-top-right-radius: var(--path-group-border-radius) !important;
        border-top-left-radius: var(--path-group-border-radius) !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .sample-path-group .form-control {
        width: auto;
        margin-left: 0 !important;
        border-bottom-right-radius: var(--path-group-border-radius) !important;
        border-bottom-left-radius: var(--path-group-border-radius) !important;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }

    .sample-path-group .input-group-text .path-btn {
        position: absolute;
        height: 1.6em;
        left: 0.75rem;
    }

    .sample-path-group .btn-delete-item {
        position: absolute;
        right: 0.75rem;
        top: 0.375rem;
        z-index: 1;
        align-self: center;
        margin-left: 0px !important;
        border-top-left-radius: 50% !important;
        border-bottom-left-radius: 50% !important;
    }
}

@media (min-width:768px) {
    .sample-path-group {
        flex-direction: row;
    }

    .sample-path-group .input-group-text {
        min-width: 8em;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: var(--path-group-border-radius) !important;
        border-bottom-left-radius: var(--path-group-border-radius) !important;
    }

    .sample-path-group .form-control {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: var(--path-group-border-radius) !important;
        border-bottom-right-radius: var(--path-group-border-radius) !important;
    }
}

@media (min-width:992px) {
    .sample-path-group .input-group-text {
        min-width: 10em;
    }
}

@media (min-width:1200px) {
    .sample-path-draw-area {
        padding: 36px 72px;
    }
}

.sample-path-draw-area .button-area {
    display: flex;
    justify-content: center;
}

.sample-path-group.inner{
    background: #ABC4E3;
    color: #404040;
    width: 100%;
    border-radius: 24px;
    padding: 0em 1em 0 1.5em;
    min-height: calc(24px + 1em);
}
.sample-path-group.inner .form-control{
    background-color: transparent;
    padding: 0;
    align-items: center;
}

.sample-path-group.inner .path-btn{
    width: 1.6em;
    height: 1.6em;
}

.sample-path-group .form-control nav {
    flex: 1 0 0;
}

.sample-path-group .path-btn {
    flex: 0 0 auto;
    width: 1.6em;
    height: 100%;
    background: #44BCC2;
    color: #fff;
    border-radius: 5px;
    padding: 0;
    border: 0;
    opacity: 1;
    transition: all .3s;
}

.sample-path-group .path-btn:hover {
    background: rgba(68, 188, 194, 1);
}

/* Autodesk forge */
.adsk-viewing-viewer {
    background: none !important;
}

.viewer3Dcontainer {
    position: relative;
    margin: 0;
    background-color: #F0F8FF;
    border-radius: 5px;
    overflow: hidden;
}

#viewer3d {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#viewer3d #current-path-areafloor{
    position: absolute;
    font-size: 1.5em;
    margin-left: 0.35em;
}

#PathCanvas {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 10;
    user-select: none;
}

/* contextMenu */
.contextMenu {
    position: absolute;
    z-index: 100;
    background: white;
}

.contextMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contextMenu li {
    min-width: 80px;
    padding: 0;
}

.contextMenu .btn {
    cursor: pointer;
    width: 100%;
    padding: 10px 12px;
    border-radius: 0;
    color: black;
}

.contextMenu .btn:hover {
    background: rgb(221, 221, 221);
}

.sample-path-tooltip {
    --bs-tooltip-color: #fff;
    --bs-tooltip-bg: hsla(223, 65%, 44%, 0.8);
}

.sample-path-toolbar {
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sample-path-toolbar .path-icon {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    /* background: #fff; */
    background: transparent;
    color: #ACB2B1;
    border: 0;
}

.sample-path-toolbar .path-icon:hover {
    border-radius: 50px;
    background: #f7f7f7;
    color: #999e9d;
    border: 0;
}

.sample-path-toolbar .path-icon.active,
.sample-path-toolbar .path-icon:focus {
    border-radius: 50px;
    background: #FFF0F0;
    color: #EC6767;
    border: 0;
}

@media (max-width:1200px) {
    .sample-path-toolbar {
        left: -2.2em;
        z-index: 1000;
        border-top-left-radius: 0.4em;
        border-bottom-left-radius: 0.4em;
        background: #D3E5FB;
        padding: 1em;
        padding-left: 1em;
    }
}

/* sortlist */
.sort-list-modal {
    --bs-modal-bg: #D3E5FB;
    --bs-modal-border-color: none;
}

.sortlist {
    list-style: none;
    padding: 0;
    width: fit-content;
    margin: auto;
}

.sortlist li {
    position: relative;
    display: inline-block;
    margin: 10px 16px;
    padding: 16px 12px;
    border-radius: 50px;
    min-width: 50px;
    text-align: center;
    background-color: #3ac0ff;
    border: 3px solid #FFFFFF;
    color: #fff;
}

.sortlist li.bluetooth {
    background-color: #2750B9;
}

.sortlist li::after {
    --divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-right-short' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
    content: var(--divider);
    position: absolute;
    right: -24px;
}

.sortlist li.ghost,
.sortlist li.drag {
    opacity: 0.5;
    /* background: #c3dfff; */
}

.sortlist li.drag::after {
    content: "";
}

.sortlist li.disable {
    /* border-width: 0; */
    color: white;
}

/* .sortlist li.disable:first-child {
    background: #EC6767;
} */

.sortlist li:first-child::after {
    color: black;
}

/* .sortlist li.disable:last-child {
    background: #FF9559;
} */

.sortlist li:last-child::after {
    content: "";
}

/* label-area */
.label-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #EFEFEF;
    padding: 0.6em 1em;
    gap: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: max-content;
}
.label-area .cube{
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
}

.cube-bluetooth{
    background-color: #2750B9 !important;
}

.cube-maintain{
    background-color: #279FB9 !important;
}

.cube-repair{
    background-color: #6C3ECE !important;
}

.cube-both{
    background-color: #DB8400 !important;
}

.path-title-edit-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    column-gap: 1em;
    row-gap: 0.8em;
}

.path-title-edit-group label{
    flex: 0 0 auto;
    color: #121212;
}
.path-title-edit-group .form-control{
    display: inline-block;
    max-width: max-content;
    margin-right: auto;
}
.path-title-edit-group .btn{
    flex: 0 0 auto;
}

/* screenshot-img-area */

.screenshot-img-area{
    position: relative;
}

#screenshot-canvas{
    width: 100%;
    height: 100%;
}

/* device-file-list-group */

.device-file-list-group{
    --bs-list-group-item-padding-x: 0.8rem;
    --bs-list-group-item-padding-y: 0.6rem;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    border-radius: 0;
}

.device-file-list-group .list-group-item{
    color: #838383;
}