@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

:root {
    --navbar-height: 50px;
}

.d-contents {
    display: contents !important;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background: url("/Content/img/bg.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.render-body {
    margin-top: var(--navbar-height);
    padding-top: 30px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 46px;
}

.img-display {
    z-index: 1040;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.24);
    overflow: hidden;
    animation: fade-in .3s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.img-display .img-display-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

.img-display .btn-close {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 30px;
    height: 30px;
}

.img-display img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

@media (min-width: 576px) {
    .d-sm-contents {
        display: contents !important;
    }
    .container.render-body {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .d-md-contents {
        display: contents !important;
    }

    .container.render-body {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .position-lg-relative{
        position: relative !important;
    }
    .d-lg-contents {
        display: contents !important;
    }

    .container.render-body {
        max-width: 960px;
    }

    .img-display .img-display-div {
        width: inherit;
    }
}

@media (min-width: 1200px) {
    .d-xl-contents {
        display: contents !important;
    }

    .container.render-body {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .d-xxl-contents {
        display: contents !important;
    }

    .container.render-body {
        max-width: 1320px;
    }
}

@media (min-width: 1600px) {
    .container.render-body {
        max-width: 1540px;
    }
}

@media (min-width: 1800px) {
    .container.render-body {
        max-width: 1764px;
    }
}