@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

:root {
    --navbar-height: 50px;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background: url("/Content/img/bg.png");
}

.render-body {
    margin-top: var(--navbar-height);
    padding-top: 30px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 46px;
}

@media (min-width: 576px) {

    .container.render-body {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container.render-body {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container.render-body {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container.render-body {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container.render-body {
        max-width: 1320px;
    }
}

@media (min-width: 1600px) {

    .container.render-body {
        max-width: 1540px;
    }
}

@media (min-width: 1800px) {

    .container.render-body {
        max-width: 1764px;
    }
}