.textbox {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em 0.3em;

    padding: 0.2rem 0.3rem !important;
    padding-right: 2.25rem !important;
    border-radius: 0;
    border: 1px solid #ced4da;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    min-height: 2.375em;
    width: 100% !important;
    color: #7E7E7E;
}

.textbox .textbox-text {
    margin-left: 0.45em !important;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    height: 1.875em !important;
    line-height: 1.5em !important;
    color: #7E7E7E;
}

.textbox-addon {
    bottom: 0px;
    width: 2.25em;
}

.combo-arrow {
    height: 100% !important;
    width: 100% !important;
    opacity: 1 !important;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.tagbox-label {
    height: 100% !important;
    min-height: 1.6em;
    line-height: normal !important;
    background: #5480CA;
    color: #FFFFFF;
    margin: 0.1em 0 0 0;
    padding: 0em 1.8em 0.1em 0.5em !important;
}

.tagbox-remove {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-top: -6px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.12 1.317A.664.664 0 0 0 6.182.38L4 2.562 1.817.381a.664.664 0 0 0-.938.938L3.062 3.5.881 5.684a.664.664 0 0 0 .938.938L4 4.439l2.184 2.18a.664.664 0 0 0 .938-.937L4.939 3.5l2.18-2.183z' fill='%235480CA'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 8px;
    background-color: #FFFFFF;
    right: 0.5em;
    opacity: 0.8;
}

.panel.combo-p{
    box-shadow: 0px 0px 10px #0000003f;
}

.combo-panel.panel-body{
    border-color: #7E7E7E;
}

.combobox-item {
    font-size: 16px;
    padding: 0.2em 0.8em;
    line-height: 20px;
    min-height: 1.4em;
    font-weight: 400;
    color: #7e7e7e;
}

.combobox-item.combobox-item-hover{
    color: #ffffff;
    background-color: #1e90ff;
}

@media (min-width: 992px) {
    .edit-area .form .textbox{
        width: 250px !important;
    }
}