@{
    ViewBag.Title = "巡檢保養紀錄審核";
}

<h2>@ViewBag.Title</h2>
<section>
    <section id="MaintainRecord"></section>

    <section id="InspectionPlanMaintainList"></section>

    <div class="edit-button-area mb-5">
        <button class="btn btn-search" id="OtherMaintainRecord">本設備其他定期保養紀錄</button>
        <button class="btn btn-back" id="RepairRecord">本設備維修紀錄</button>
    </div>
</section>

<hr class="hr-dashed">

<section>
    <div class="edit-area edit-area-middle">
        <form class="form form-w-100" enctype="multipart/form-data">
            <div class="form-group d-lg-contents">
                <label for="AuditUserID">審核人員</label>
                <input class="form-control readonly" type="text" id="AuditUserID" name="AuditUserID" readonly>
            </div>
            <div class="form-group d-lg-contents">
                <label for="AuditMemo" class="align-self-start">審核意見</label>
                <textarea class="form-control" name="AuditMemo" id="AuditMemo"></textarea>
            </div>
            <div class="form-group d-lg-contents">
                <label for="ImgPath">審核照片</label>
                <div>
                    <label class="btn btn-search" for="ImgPath">選擇照片</label>
                    <input type="file" multiple accept="image/*" id="ImgPath" name="ImgPath"
                        style="visibility: hidden; width: 0;">
                </div>
            </div>
            <div class="d-lg-contents">
                <div></div>
                <div class="edit-img-area">

                </div>
            </div>
            <div class="d-lg-contents">
                <label class="align-self-center" for="AuditResult">審核結果</label>
                <div class="d-flex flex-column flex-sm-row" style="gap:0.5em;">
                    <label class="btn btn-delete" for="AuditResult_1">
                        <input type="radio" class="form-check-input" id="AuditResult_1" name="AuditResult" value="1">
                        退件
                    </label>
                    <label class="btn btn-delete" for="AuditResult_2">
                        <input type="radio" class="form-check-input" id="AuditResult_2" name="AuditResult" value="2">
                        補件
                    </label>
                    <label class="btn btn-export" for="AuditResult_3">
                        <input type="radio" class="form-check-input" id="AuditResult_3" name="AuditResult" value="3">
                        通過
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div class="edit-button-area mb-5">
        <button class="btn btn-back" onclick="history.back()">返回</button>
        <button class="btn btn-search">暫存草稿</button>
        <button class="btn btn-export">送出</button>
    </div>
</section>

<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/dataTable/InspectionPlanMaintain.js"></script>
<script src="/Scripts/dataTable/MaintainRecord.js"></script>
<script src="/Scripts/dataTable/EquipmentInfoModal.js"></script>
<script src="/Scripts/ImageDisplay.js"></script>
<script>

    const IPMSN = '@ViewBag.id';
    let apiUrl = '@Url.Action("ReadBody", "MaintainRecord_Management")' + `/${IPMSN}`;
    //let apiUrl = null;

    let imgFiles = [];

    const fakeData = {
        EquipmentMaintainFormItem: {
            FormItemState: "完成",
            EMFISN: "E00003_000001_230107",
            MIName: "軸承潤滑",
            Unit: "月",
            Period: "1",
            LastTime: "2022/12/01",
            Date: "2022/01/01",
            ESN: "E00003",
        },
        InspectionPlan: {
            IPSN: "P23010401",
            IPName: "巡檢A區計畫",
            PlanDate: "2023/01/08",
            PlanState: "巡檢完成",
            Shift: "早班",
            MyName: "王大明、李泰順",
        },
        InspectionPlanMaintain: {
            MaintainState: "完成",
            MyName: "王大明",
            MaintainContent: "修復完成",
            MaintainDate: "2023/01/07 12:40:56",
            ImgPath: [
                "/Content/img/bg.png"
            ],
        },
        MaintainSupplementaryInfo: [
            {
                MyName: "王大明",
                SupplementaryDate: "2023/01/10",
                SupplementaryContent: "OOXX",
                FilePath: ["/file/電燈故障.pdf"],
            }
        ],
        MaintainAuditInfo: [
            {
                MyName: "陳組長",
                AuditDate: "2023/1/12",
                AuditResult: "審核未過",
                AuditMemo: "未處理完善",
                ImgPath: [
                    "/Content/img/bg.png"
                ],
            }
        ],
        InspectionPlanList: [
            {
                "InspectionPlan": {
                    "IPSN": "P23022203",
                    "IPName": "維修設備E00003",
                    "PlanDate": "2023/2/22",
                    "PlanState": "巡檢完成",
                    "Shift": "2",
                    "MyName": "賈皓麟、羅紹齊"
                },
                "InspectionPlanMaintain": {
                    "MaintainState": "審核未過",
                    "MaintainContent": "好了",
                    "MyName": "賈皓麟",
                    "MaintainDate": "2023/2/22",
                    "ImgPath": []
                },
                "MaintainSupplementaryInfo": [
                    {
                        "MyName": "王大明",
                        "SupplementaryDate": "2023/1/15",
                        "SupplementaryContent": "OOXX",
                        "FilePath": ["/file/電燈故障.pdf", "/file/電燈故障2.pdf"],
                    }
                ],
                "MaintainAuditInfo": [
                    {
                        "MyName": "陳進國",
                        "AuditDate": "2023/2/22",
                        "AuditResult": "審核未過",
                        "AuditMemo": "沒修好",
                        "ImgPath": []
                    }
                ]
            },
        ]
    }

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            MaintainRecord("#MaintainRecord", res);
            InspectionPlanMaintain("#InspectionPlanMaintainList", res.InspectionPlanList);

            $("#AuditUserID").val($("#NavbarUserName").text());

            ImageDisplay(".datatable-img-item>img");
        }
        function onError(res) {
            console.log(res);
        }
    }

    function addButtonEvent() {
        $("#OtherMaintainRecord").click(function () {
            let url = baseUrl + 'Read' + `/${RSN}`;
            window.open(url, "_blank");
        });
        $("#RepairRecord").click(function () {
            let url = baseUrl + 'Read' + `/${RSN}`;
            window.open(url, "_blank");
        });
        $("#ImgPath").change(function (e) {
            console.log(this.files);
            if (this.files && this.files.length !== 0) {
                createIamges(this.files);
            }

            function createIamges(data) {
                for (let i = 0; i < data.length; i++) {
                    imgFiles.push(data[i]);
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        let query = $(`
                        <div class="edit-img-item">
                            <img src="${e.target.result}">
                            <button class="btn-delete-item"></button>
                        </div>`);
                        $(".edit-img-area").append(query);
                        ImageDisplay(query.children("img"));
                        query.children("button").click(function (event) {
                            event.preventDefault();
                            let index = imgFiles.findIndex((e) => e == data[i]);
                            imgFiles.splice(index, 1);
                            $(this).parent().remove();
                        })
                    };
                    reader.readAsDataURL(data[i]);
                }
            }
        });
    }

    function createFormData() {
        let flieList = new DataTransfer();
        imgFiles.forEach((item) => {
            flieList.items.add(item);
        })

        console.log(flieList);

        let fd = new FormData();
        fd.append('AuditUserID', $("#AuditUserID").val());
        fd.append('AuditMemo', $("#AuditMemo").val());
        fd.append('ImgPath', flieList.files);
        fd.append('AuditResult', $('input[name="AuditResult"]:checked').val() ?? 0);
    }

    window.onload = function () {
        readData(apiUrl);
        readData_Edit(apiUrl_Edit);
        addButtonEvent();
    }

</script>