@{
    ViewBag.Title = "巡檢保養紀錄詳情";
}

<h2>@ViewBag.Title</h2>

<div class="datatable mt-5">
    <div class="datatable-header">保養項目資料</div>
    <div class="datatable-body">
        <table class="datatable-table" id="EquipmentMaintainFormItem"></table>
    </div>
</div>

<div class="datatable mt-5">
    <div class="datatable-header">計劃資訊</div>
    <div class="datatable-body">
        <table class="datatable-table" id="InspecitonPlan"></table>
    </div>
    <div class="datatable-header">保養填報</div>
    <div class="datatable-body">
        <table class="datatable-table" id="InspectionPlanMaintain"></table>
    </div>
    <div class="datatable-header">補件資料</div>
    <div class="datatable-body">
        <div class="accordion accordion-flush datatable-accordion" id="accordion-MaintainSupplementarInfo">
        </div>
    </div>
    <div class="datatable-header">審核資料</div>
    <div class="datatable-body">
        <div class="accordion accordion-flush datatable-accordion" id="accordion-MaintainAuditInfo">
        </div>
    </div>
</div>

<div class="datatable datatable-secondary mt-5 d-none" id="InspectionPlan_List">
    <div class="datatable-header">本報修單相關維修紀錄</div>
    <div class="datatable-body">
        <div class="accordion accordion-flush datatable-accordion" id="accordion-InspectionPlan">
        </div>
    </div>
</div>

<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/ImageDisplay.js"></script>
<script>

    const RSN = '@ViewBag.id';
    //let apiUrl = '@Url.Action("ReadBody", "Report_Management")' + `/${RSN}`;
    let apiUrl = null

    const SerializedName = {
        EquipmentMaintainFormItem: [
            { text: "本項目保養狀態", value: "FormItemState" },
            { text: "保養單項目編號", value: "EMFISN" },
            { text: "保養項目", value: "MIName" },
            { text: "保養週期單位", value: "Unit" },
            { text: "保養週期", value: "Period" },
            { text: "上次保養", value: "LastTime" },
            { text: "最近應保養", value: "Date" },
            {
                text: "設備屬性", value: "ESN", formatter: (val) => {
                    return val ? `<a class="btn btn-search" src="val">設備資料</a>` : "-"
                }
            },
        ],
        InspecitonPlan: [
            { text: "計畫編號", value: "IPSN" },
            { text: "計畫名稱", value: "IPName" },
            { text: "計畫日期", value: "PlanDate" },
            { text: "計畫執行狀態", value: "PlanState" },
            { text: "巡檢班別", value: "Shift" },
            { text: "巡檢人員", value: "MyName" },
        ],
        InspectionPlanMaintain: [
            { text: "本次保養狀態", value: "MaintainState" },
            { text: "填報人員", value: "MyName" },
            { text: "保養備註", value: "MaintainContent" },
            { text: "填報時間", value: "MaintainDate" },
            { text: "保養照片", value: "ImgPath" },
        ],
        MaintainSupplementarInfo: [
            { text: "補件人", value: "MyName" },
            { text: "補件日期", value: "SupplementaryDate" },
            { text: "補件說明", value: "SupplementaryContent" },
            { text: "補件檔案", value: "FilePath" },
        ],
        MaintainAuditInfo: [
            { text: "審核者", value: "MyName" },
            { text: "審核日期", value: "AuditDate" },
            { text: "審核結果", value: "AuditResult" },
            { text: "審核意見", value: "AuditMemo" },
            { text: "審核照片", value: "ImgPath" },
        ]
    }

    const fakeData = {
        EquipmentMaintainFormItem: {
            FormItemState: "完成",
            EMFISN: "E00003_000001_230107",
            MIName: "軸承潤滑",
            Unit: "月",
            Period: "1",
            LastTime: "2022/12/01",
            Date: "2022/01/01",
            ESN: "E00003",
        },
        InspecitonPlan: {
            IPSN: "P23010401",
            IPName: "巡檢A區計畫",
            PlanDate: "2023/01/08",
            PlanState: "巡檢完成",
            Shift: "早班",
            MyName: "王大明、李泰順",
        },
        InspectionPlanMaintain: {
            MaintainState: "完成",
            MyName: "王大明",
            MaintainContent: "修復完成",
            MaintainDate: "2023/01/07 12:40:56",
            ImgPath: [
                "/Content/img/bg.png"
            ],
        },
        MaintainSupplementarInfo: [
            {
                MyName: "王大明",
                SupplementaryDate: "2023/01/10",
                SupplementaryContent: "OOXX",
                FilePath: ["/file/電燈故障.pdf"],
            }
        ],
        MaintainAuditInfo: [
            {
                MyName: "陳組長",
                AuditDate: "2023/1/12",
                AuditResult: "審核未過",
                AuditMemo: "未處理完善",
                ImgPath: [
                    "/Content/img/bg.png"
                ],
            }
        ],
        InspectionPlanList: [
            {
                "InspectionPlan": {
                    "IPSN": "P23022203",
                    "IPName": "維修設備E00003",
                    "PlanDate": "2023/2/22",
                    "PlanState": "巡檢完成",
                    "Shift": "2",
                    "MyName": "賈皓麟、羅紹齊"
                },
                "InspectionPlanRepair": {
                    "RepairState": "審核未過",
                    "RepairContent": "好了",
                    "MyName": "賈皓麟",
                    "RepairDate": "2023/2/22",
                    "ImgPath": []
                },
                "RepairSupplementaryInfo": [
                    {
                        "MyName": "王大明",
                        "SupplementaryDate": "2023/1/15",
                        "SupplementaryContent": "OOXX",
                        "FilePath": ["/file/電燈故障.pdf", "/file/電燈故障2.pdf"],
                    }
                ],
                "RepairAuditInfo": [
                    {
                        "MyName": "陳進國",
                        "AuditDate": "2023/2/22",
                        "AuditResult": "審核未過",
                        "AuditMemo": "沒修好",
                        "ImgPath": []
                    }
                ]
            },
        ]
    }

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#EquipmentMaintainFormItem").append(
                createTableInner(res.EquipmentMaintainFormItem, SerializedName.EquipmentMaintainFormItem)
            );

            $("#InspecitonPlan").append(
                createTableInner(res.InspecitonPlan, SerializedName.InspecitonPlan)
            );
            $("#InspectionPlanMaintain").append(
                createTableInner(res.InspectionPlanMaintain, SerializedName.InspectionPlanMaintain)
            );

            if (res.MaintainSupplementarInfo && res.MaintainSupplementarInfo.length != 0) {
                let accordion = $("#accordion-MaintainSupplementarInfo");
                res.MaintainSupplementarInfo.forEach((d, i, arr) => {
                    //todo
                    accordion.append(createAccordionItem({
                        title: "補件資料",
                        id: "MaintainSupplementarInfo",
                        sn: SerializedName.MaintainSupplementarInfo,
                        data: arr,
                        itemTitleKey: "SupplementaryDate"
                    }, i));
                })
            }

            if (res.MaintainAuditInfo && res.MaintainAuditInfo.length != 0) {
                let accordion = $("#accordion-MaintainAuditInfo");
                res.MaintainAuditInfo.forEach((d, i, arr) => {
                    //todo
                    accordion.append(createAccordionItem({
                        title: "審核資料",
                        id: "MaintainAuditInfo",
                        sn: SerializedName.MaintainAuditInfo,
                        data: arr,
                        itemTitleKey: "AuditDate"
                    }, i));
                })
            }


            if (res.InspectionPlanList.length != 0) {
                let accordion = $("#accordion-InspectionPlan");
                res.InspectionPlanList.forEach((d, i) => {
                    accordion.append(putData_InspectionPlan(d, null, i));
                })
                $("#InspectionPlan_List").removeClass("d-none");
            }
            else {
                $("#accordion-InspectionPlan").parents(".datatable").remove();
            }

            ImageDisplay(".datatable-img-item>img");
        }
        function onError(res) {
            console.log(res);
        }
    }

    window.onload = function () {

        readData(apiUrl);
    }

</script>