.spacebtn {
    background-color: rgba(235, 247, 231, 0.35);
    border-radius: 5px;
    padding: 6px;
    /* box-shadow: 0px 0px 10px 1px #2d276a; */
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
	height: fit-content;
}
.spacebtn .btn-group {
	margin: 4.5px;
    display: inline-block !important;
    text-align: center;
	/* cursor: pointer; */
}
.spacebtn .content {
    width: 70px;
    height: 45px;
    padding: 3px;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    background-image: linear-gradient(40deg, yellow, #7BF784);
	cursor: pointer;
}
.spacebtn .disappear {
    color: #32885e;
    background-image: linear-gradient( 40deg, rgba(255, 134, 255, 0.2), rgb(135, 247, 255, 0.2) );
    pointer-events: none;
	cursor: not-allowed;
}
.spacebtn .btn-group .floorBtn {
    background-color: #1a573a;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    text-align: center;
    padding: 0;
    /* font-weight: 500; */
    font-size: 17px;
	margin: unset;
	color: unset;
    /* border-image: linear-gradient(40deg, #ff86ff, #87f7ff) 1; */
}
.spacebtn .btnhover:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: rgba(101, 156, 204, 0.45);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  opacity: 0;
  display: none;
  transition: 0.3s;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}
.spacebtn .btn-group .btn1 {
  background-image: url(/img/icons/entrance.png);
}
.spacebtn .btn-group .btn2 {
  background-image: url(/img/icons/office.png);
}
.spacebtn .btn-group .btn3 {
  background-image: url(/img/icons/tools.png);
}
.spacebtn .btn-group .btn4 {
  background-image: url(/img/icons/stair.png);
}
.spacebtn .btn-group .btn5 {
  background-image: url(/img/icons/washroom.png);
}
.spacebtn .btn-group .btn6 {
  background-image: url(/img/icons/others.png);
}
.spacebtn .btn-group .btn7 {
  background-image: url(/img/icons/file-room.png);
}
.spacebtn .btn-group .btn8 {
  background-image: url(/img/icons/education.png);
}
.spacebtn .btn-group .btn1,
.spacebtn .btn-group .btn2,
.spacebtn .btn-group .btn3,
.spacebtn .btn-group .btn4,
.spacebtn .btn-group .btn5,
.spacebtn .btn-group .btn6,
.spacebtn .btn-group .btn7,
.spacebtn .btn-group .btn8,
.spacebtn .btn-group .btn9 {
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  background-size: 58%;
  width: 42px;
  height: 42px;
  float: none;
  position: relative;
  background-color: #e7ebf1;
}
.spacebtn .btn-group .btn9 {
  background-image: url(/img/icons/exhibitionSpace.png);
  background-size: 66%;
}
.spacebtn .btn-group .icon-text {
  font-size: 12px;
  color: #fff;
  padding-bottom: 10px;
  font-weight: 300;
}
.icons-btn .btn-group > .btn:last-child:not(:first-child),
.icons-btn .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 50%;
}
.spacebtn .btnhover:hover:after {
  opacity: 1;
  display: block;
}
.spacebtn .btn-group .dropdown-menu-right {
  /* height: 250px;
position: absolute;
top: 100%;
z-index: 1000;
display: none;
float: left;
min-width: 160px; 
border-radius: 4px; */

  /* max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15); */

  	max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
}
.spacecontainer .selectHide .areaAll {
    border-bottom: 1px dashed #fff;
    background-color: rgb(255, 145, 0);
}
.spacecontainer .selectHide .areaA {
    border-bottom: 1px dashed #fff;
    background-color: rgb(248, 141, 0);
}
.spacecontainer .selectHide .areaB, .spacecontainer .selectHide .areaC, .spacecontainer .selectHide .areaD, .spacecontainer .selectHide .areaCenter {
    border-bottom: 1px dashed #fff;
    background-color: rgb(248, 141, 0);
}
body .btn-group .selectHide:focus + .triangle {
    opacity: 1;
}
.spacecontainer .btn-group .triangle {
    position: absolute;
    right: 44px;
    top: 12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 20px;
    border-color: transparent transparent transparent #fff;
    opacity: 0;
}
.spacecontainer .selectHide #areaAll, .spacecontainer .selectHide #areaA, .spacecontainer .selectHide #areaB, .spacecontainer .selectHide #areaC {
    font-size: 16px;
    color: #c9ecff;
}

.spacebtn .btn-group .dropdown-menu-right .btn {
	border-right: transparent 100px solid;
	border-radius: 0;
	width: 100%;
    text-align: left;
    margin: 0px;
    font-weight: 500;
}
body .btn-group .selectHide {
    position: absolute;
    top: 0;
    font-size: 25px;
    /* right: 0; */
    opacity: 0;
    height: 40px;
    width: 100px;
    border-radius: 0;
    z-index: 1000;
    border: 1px solid #fff;
}
body .btn-group .selectHide:focus {
	font-size: 14px;
    opacity: 1;
    border-radius: 0;
    min-width: 160px;
    outline: 0px;
    border-radius: 4px;
    width: auto;
    height: 250px;
    right: 64px;
}
.spacebtn .btn-group .dropdown-menu-right:focus {
  /* border: none; */
  outline: none;
}
.spacebtn .btn-group .dropdown-menu-right .btn {
  width: 100%;
  text-align: left;
  background-color: #fff;
  margin: 0px;
}
.spacebtn .btn-group .dropdown-menu-right .btn:hover {
  background-color: #fff0d4;
  border-radius: 0;
}

/* selectHide */
body .spacebtn .btn-group .selectHide {
  position: absolute;
  /* right: 0; */
  top: 0;
  font-size: 25px;
  opacity: 0;

  height: 42px;
  width: 42px;
  border-radius: 50px;
  z-index: 1000;
  cursor: pointer
}
body .spacebtn .btn-group .selectHide:focus {
  font-size: 14px;
  opacity: 1;
  /* transform: translateY(50px);
    height: auto;
    width: auto; */

  min-width: 160px;
  outline: 0px;
  border-radius: 4px;
  width: 306px;
  height: 500px;
  top: 58px;
  max-height: 500px;
  left: -242px;

}
.btn:hover {
  color: inherit;
}

/* iot icon */
.spacebtn .btn-group .dropdown-menu-right .iot_icon img {
  width: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.spacecontainer select option {
  display: block;
  /* font-weight: 500; */
}
.iot_icon {
  width: fit-content !important;
  background-image: url("/img/icons/iot-icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 2.5rem;
}
.spacecontainer select .iot_icon:active {
  background-image: url("/img/icons/iot-icon.png");
}
.spacebtn .btn-group .dropdown-menu-right .btn {
  border-right: transparent 100px solid;
  border-radius: 0;
  padding: 7.5px;
  font-size: 16px;
}

/* iot icon */
.spacebtn .btn-group .btn:active {
  box-shadow: none;
}
.spacebtn .btn-group .dropdown-menu-right .btn:focus,
.btn:active:focus {
  outline: none;
}
.spacebtn .btn_disappear .icon-text {
  color: #b4cae9;
}
.spacebtn .btn_disappear .btn:after {
  background-color: rgb(154, 183, 223, 0.85);
  opacity: 1;
  display: block;
  width: 44px;
  height: 44px;
  top: -2px;
  left: -2px;
}

.selectFloor {
  background-color: #1a573a;
  color: #fbffef;
}


.iotcontainer {
  z-index: 1001;
  position: absolute;
  /* left: 0%;
  top: 90%; */
  background-color: rgba(20, 65, 115, 0.4);
  padding: 18px 12px 3px;
  border-radius: 5px;
}
.iotcontainer .iotbtn {
  display: flex;
  flex-direction: column;
}
.iotcontainer .btn-group {
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.iotcontainer .icon-text {
  padding-bottom: 0;
  color: #fff;
  font-size: 12px;
}
.iotcontainer .dropdown {
  justify-content: center;
}
.iotcontainer .iotType-6 {
  background-image: url(/img/IOT06.png);
}
.iotcontainer .iotType-7 {
  background-image: url(/img/IOT07.png);
}
.iotcontainer .iotType-8 {
  background-image: url(/img/IOT08.png);
}
.iotcontainer .btn {
  position: relative;
}
.iotcontainer .iotType-1, .iotcontainer .iotType-2, .iotcontainer .iotType-3, .iotcontainer .iotType-4, .iotcontainer .iotType-5, .iotcontainer .iotType-6, .iotcontainer .iotType-7, .iotcontainer .iotType-8 {
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  background-size: 65%;
  width: 42px;
  height: 42px;
  background-color: rgba(89, 135, 188, 0.8);
  box-shadow: 0 0 7px 3px #29619b;
}
.iotcontainer .select-right {
  max-height: 300px;
}
.iotcontainer .select-right {
  min-width: 200px;
  padding: 10px;
  border-radius: 3px;
  /* background-color: #fff; */
  z-index: 1003;
  max-height: 380px;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 45px;
  display: none;
  text-align: left;
  background-color: #eef7ff;
}
.iotcontainer h5 {
  color: lightblue;
  font-weight: 600;
}