@{
    ViewBag.Title = "新增設備";
}
<link rel="stylesheet" href="/Content/samplepath.css">

<h2>@ViewBag.Title</h2>

<section style="max-width: 855px;margin: auto;">
    <div class="edit-area bg-transparent flex-wrap flex-md-row justify-content-lg-between" style="gap: 1rem 2rem;">
        <form class="form d-lg-contents">
            <div class="form-group w-lg-250px">
                <label for="ASN">棟別</label>
                <select class="form-select" name="ASN" id="ASN">
                    <option value="">請選擇</option>
                </select>
                <input class="form-control" id="Area" name="Area" type="text" hidden />
            </div>

            <div class="form-group w-lg-250px">
                <label for="FSN">樓層</label>
                <select class="form-select" name="FSN" id="FSN">
                    <option value="">請選擇</option>
                </select>
                <input class="form-control" id="Floor" name="Floor" type="text" hidden />
            </div>

            <div class="form-group w-lg-250px">
                <label for="RoomName">空間名稱</label>
                <input class="form-control" id="RoomName" name="RoomName" type="text" maxlength="50" />
            </div>

            <div class="form-group w-lg-250px">
                <label for="System">系統別</label>
                <select class="form-select" name="System" id="System">
                    <option value="">請選擇</option>
                </select>
            </div>

            <div class="form-group w-lg-250px">
                <label for="SubSystem">子系統別</label>
                <select class="form-select" name="SubSystem" id="SubSystem">
                    <option value="">請選擇</option>
                </select>
            </div>

            <div class="form-group w-lg-250px">
                <label for="PropertyCode">國有財產編碼</label>
                <input class="form-control" id="PropertyCode" name="PropertyCode" type="text" />
            </div>
        </form>
    </div>

    <div class="edit-area flex-wrap flex-md-row justify-content-lg-between" style="gap: 1rem 2rem;">
        <form class="form d-lg-contents">
            <div class="form-group w-lg-250px">
                <label for="EName">設備名稱</label>
                <input class="form-control" id="EName" name="EName" type="text" maxlength="50" />
            </div>

            <div class="form-group w-lg-250px">
                <label for="Brand">廠牌</label>
                <input class="form-control" id="Brand" name="Brand" type="text" maxlength="50" />
            </div>

            <div class="form-group w-lg-250px">
                <label for="Model">型號</label>
                <input class="form-control" id="Model" name="Model" type="text" maxlength="50" />
            </div>
            <div class="form-group mb-3">
                <label for="FilePath">設備使用手冊</label>
                <div class="edit-button-area mt-1">
                    <button type="button" class="btn btn-search w-lg-auto w-100" id="check">檢查</button>
                    <button type="button" class="btn btn-search w-lg-auto w-100" id="upload">上傳</button>
                </div>
            </div>
        </form>
    </div>


    <div class="edit-area bg-transparent mt-2 align-items-start">
        <div style="color: white;margin-top: 0.5rem;">設備定位</div>
        <button type="button" class="btn btn-search w-lg-auto w-100 mt-3" id="locate">新增定位點</button>
    </div>

    <div class="edit-area mt-0 d-none" id="locate-draw-area">
        <div class="w-100 mb-3 d-flex flex-wrap text-light" style="gap: 1rem;">
            <div class="d-inline-block"><span style="color: #C1DDFF;">X座標：</span><span id="LocationX">0</span></div>
            <div class="d-inline-block"><span style="color: #C1DDFF;">Y座標：</span><span id="LocationY">0</span></div>
        </div>
        <div class="w-100 position-relative">
            <div class="viewer3Dcontainer">
                <div id="viewer3d" style="margin:0;">
                    <div id="current-path-areafloor">AF</div>
                </div>
                <canvas id="PathCanvas"></canvas>
            </div>
        </div>
    </div>

</section>


<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

<!-- Autodesk Forge -->
<link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.4"
    type="text/css">
<script language="JavaScript"
    src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.4"></script>
<script language="JavaScript" src="/Scripts/Forge/UpViewer.js"></script>
<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/tool.js"></script>
<script src="/Scripts/AreaFloorEvent.js"></script>
<script>
    $(async function () {
        await AreaFloorEvent();
        await pushSelect("System", '@Url.Action("System", "DropDownList")');
        const Systems = document.getElementById('System')
        Systems.addEventListener("change", function () {
            let url = '@Url.Action("SubSystem", "DropDownList")';
            let system = $('#System').val();
            url = url + `?System=${system}`;
            pushSelect("SubSystem", url);
        });
        addButtonEvent();
    });

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })

        $("#locate").click(function () {

            if (!getAreaFloor()) return;

            toggleLocateState(true);
            viewerUrl = window.location.origin + "/BimModels/Site01/Resource/3D View/林口(一)/林口(一).svf";
            initializeViewer(() => {
                //todo
                const geometry = new THREE.SphereGeometry(2, 12, 12);
                const material = new THREE.MeshPhongMaterial({ color: 0xff0000 });
                const point = new THREE.Mesh(geometry, material);
                point.position.z = 10;
                viewer.overlays.addScene('custom-scene');
                viewer.overlays.addMesh(point, 'custom-scene');
                $("#PathCanvas").on("click", function (e) {
                    //console.log(e);
                    let ctw = viewer.clientToWorld(e.offsetX, e.offsetY);
                    if (ctw && ctw.point) {
                        point.position.x = ctw.point.x;
                        point.position.y = ctw.point.y;

                        $("#LocationX").text(ctw.point.x);
                        $("#LocationY").text(ctw.point.y);

                        console.log(point);
                        console.log(ctw.point);
                    }
                    viewer.overlays.removeMesh(point, 'custom-scene');
                    viewer.overlays.addMesh(point, 'custom-scene');
                })
            })
        })

        $("#submit").click(function () {
            console.log("onclick submit")
            save();
        })
    }

    function toggleLocateState(bool) {
        if (bool !== undefined) {
            $("#locate-draw-area").toggleClass("d-none", bool);
            $("#locate").toggleClass("d-none", !bool);
        }

        $("#locate-draw-area").toggleClass("d-none");
        $("#locate").toggleClass("d-none");
    }

    function getAreaFloor() {
        let area = $("#Area").val();
        let floor = $("#Floor").val();

        if (area == '' || floor == '') {
            createDialogModal({ id: "DialogModal-Error", inner: `請選擇棟別樓層！` })
            return false;
        }

        $("#current-path-areafloor").text(`${area} ${floor}`);
        return true;
    }

    function save(data) {

        console.log(data);

        if (!data) return;

        $.ajax({
            url: "/InspectionPlan_Management/CreateInspectionPlan",
            data: JSON.stringify(data),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: onSuccess,
            error: onError
        })

        function onSuccess(res) {
            console.log(res);
            createDialogModal({
                id: "DialogModal-Success", inner: "新增成功！",
                onHide: () => { window.location.href = "/InspectionPlan_Management/Management"; }
            });
        }
        function onError(res) {
            console.log(res);
            createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` })
        }
    }
</script>