@{
    ViewBag.Title = "編輯 設備";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <link rel="stylesheet" href="/Content/EquipmentInfoManagement.css">
    <script src="/Scripts/dataTable/RepairRecord.js" defer></script>
    <script src="/Scripts/dataTable/RFIDInfoModal.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-lg flex-wrap flex-md-row justify-content-lg-between">
        <form class="form d-lg-contents">
            <div class="group-title">基本資料</div>
            <div class="form-group-zone">
                <div id="FileUploader"></div>
                <div class="form-group required">
                    <label for="EName">設備名稱</label>
                    <input class="form-control" id="EName" name="EName" type="text" required />
                </div>
                <div class="form-group required">
                    <label for="ESN">設備編號</label>
                    <input class="form-control" id="ESN" name="ESN" type="text" required />
                </div>
                <div class="form-group">
                    <label for="InstallDate">安裝日期</label>
                    <input class="form-control" id="InstallDate" name="InstallDate" type="date" />
                </div>
                <div class="form-group required">
                    <label for="ASN">棟別</label>
                    <select class="form-select" name="ASN" id="ASN" required>
                        <option value="">請選擇</option>
                    </select>
                    <input class="form-control" id="Area" name="Area" type="text" hidden />
                </div>
                <div class="form-group required">
                    <label for="FSN">樓層</label>
                    <select class="form-select" name="FSN" id="FSN" required>
                        <option value="">請選擇</option>
                    </select>
                    <input class="form-control" id="Floor" name="Floor" type="text" hidden />
                </div>
                <div class="form-group">
                    <label for="Brand">設備廠牌</label>
                    <input class="form-control" id="Brand" name="Brand" type="text" maxlength="50" />
                </div>
                <div class="form-group">
                    <label for="Model">設備型號</label>
                    <input class="form-control" id="Model" name="Model" type="text" maxlength="50" />
                </div>
                <div class="form-group">
                    <label for="Company">設備廠商</label>
                    <input class="form-control" id="Company" name="Company" type="text" maxlength="50" />
                </div>
                <div class="form-group">
                    <label for="Tel">連絡電話</label>
                    <input class="form-control" id="Tel" name="Tel" type="text" />
                </div>
                <div class="form-group">
                    <label for="Voltage">使用電壓</label>
                    <input class="form-control" id="Voltage" name="Voltage" type="text" />
                </div>
                <div class="form-group">
                    <label for="Other">其他耗材資料</label>
                    <input class="form-control" id="Other" name="Other" type="text" />
                </div>
                <div class="form-group col-3fr">
                    <label for="Memo">備註</label>
                    <textarea class="form-control" id="Memo" name="Memo" rows="3" cols="50" required></textarea>
                </div>
                <div class="form-group">
                    <label for="Other" class="d-flex gap-1">
                        <span class="form-tooltip-toggle" data-bs-placement="top-start"
                            title="請將RFID標籤放至讀取器上後，點選「掃描」"></span>
                        RFID
                    </label>
                    <button type="button"
                        class="btn btn-search w-100 d-flex justify-content-center align-items-center gap-1">
                        掃描<i class="scan-icon"></i>
                    </button>
                </div>
                <div class="datatable datatable-grid w-100 mt-2 form-group col-3fr" id="RFIDZone">
                    <div class="datatable-body overflow-auto">
                        <table class="datatable-table">
                            <thead>
                                <tr>
                                    <th class="datatable-header" style="width:130px"></th>
                                    <th class="datatable-header" style="width:130px"><span>RFID內碼</span></th>
                                    <th class="datatable-header" style="width:130px"><span>RFID外碼</span></th>
                                    <th class="datatable-header" style="width:250px"><span>名稱</span></th>
                                    <th class="datatable-header" style="width:120px"><span>棟別</span></th>
                                    <th class="datatable-header" style="width:120px"><span>樓層</span></th>
                                    <th class="datatable-header" style="width:120px"><span>備註</span></th>
                                    <th class="datatable-header" style="width:48px"></th>
                                </tr>
                            </thead>
                            <tbody id="item-area">
                                <tr id="sample-input-tr">
                                    <td id="d-_delete" class="p-2 d-flex justify-content-center gap-2">
                                        @*<button type="button" class="btn btn-datagrid" onclick="RFIDLocationModal('@Url.Action("ReadEquipment", "EquipmentInfo_Management")'+'/${val}')">編輯</button>*@
                                        <button type="button" class="btn btn-datagrid" data-bs-toggle="modal"
                                            data-bs-target="#RFIDEquipmentInfo">編輯</button>
                                        <button type="button" class="btn btn-location"
                                            onclick="RFIDLocationModal(urlFakeData)"><i
                                                class="fa-solid fa-location-dot"></i></button>
                                    </td>
                                    <td id="InterCode">XSCXCZS</td>
                                    <td id="ExterCode">XSCXCZS</td>
                                    <td id="RFIDName">前處理機房巡檢</td>
                                    <td id="Area">前處理區</td>
                                    <td id="Floor">1F</td>
                                    <td id="Memo">備註備註備註</td>
                                    <td id="d-_delete" class="p-1 pt-2">
                                        <button type="button" class="btn-delete-item"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="datatable datatable-grid w-100 h-100" id="RFIDZone" style="display: none;">
                <div class="datatable-body h-100 overflow-auto">
                    <table class="datatable-table">
                        <thead>
                            <tr>
                                <th class="datatable-header" style="width:130px"></th>
                                <th class="datatable-header" style="width:130px"><span>RFID內碼</span></th>
                                <th class="datatable-header" style="width:130px"><span>RFID外碼</span></th>
                                <th class="datatable-header" style="width:250px"><span>名稱</span></th>
                                <th class="datatable-header" style="width:120px"><span>棟別</span></th>
                                <th class="datatable-header" style="width:120px"><span>樓層</span></th>
                                <th class="datatable-header" style="width:120px"><span>備註</span></th>
                                <th class="datatable-header" style="width:48px"></th>
                            </tr>
                        </thead>
                        <tbody id="item-area">
                            <tr id="sample-input-tr">
                                <td id="d-_delete" class="p-2 d-flex justify-content-center gap-2">
                                    @*<button type="button" class="btn btn-datagrid" onclick="RFIDLocationModal('@Url.Action("ReadEquipment", "EquipmentInfo_Management")'+'/${val}')">編輯</button>*@
                                    <button type="button" class="btn btn-datagrid" data-bs-toggle="modal"
                                        data-bs-target="#RFIDEquipmentInfo">編輯</button>
                                    <button type="button" class="btn btn-location"
                                        onclick="RFIDLocationModal(urlFakeData)"><i
                                            class="fa-solid fa-location-dot"></i></button>
                                </td>
                                <td id="InterCode">XSCXCZS</td>
                                <td id="ExterCode">XSCXCZS</td>
                                <td id="RFIDName">前處理機房巡檢</td>
                                <td id="Area">前處理區</td>
                                <td id="Floor">1F</td>
                                <td id="Memo">備註備註備註</td>
                                <td id="d-_delete" class="p-1 pt-2">
                                    <button type="button" class="btn-delete-item"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="hr-default">
            <div class="group-title">一機一卡模板資訊</div>
            <div class="d-flex flex-column gap-4">
                <div class="form-group w-100">
                    <label for="SampleName">模板名稱</label>
                    <select class="form-select" name="SampleName" id="SampleName">
                        <option value="">請選擇</option>
                        <option value="1">模板一</option>
                        <option value="2">模板二</option>
                    </select>
                </div>
                <div id="sampleContent" class="flex-column gap-3" style="display: none;">
                    <div>
                        <div class="group-sb-title">
                            <i class="fa-solid fa-map-pin"></i>
                            <div>增設基本資料欄位</div>
                        </div>
                        <div id="addItemZone" class="form-group-zone"></div>
                    </div>
                    <div>
                        <div class="group-sb-title">
                            <i class="fa-solid fa-map-pin"></i>
                            <div>保養項目/週期</div>
                        </div>
                        <div id="MaintainZone" class="d-flex flex-column gap-2"></div>
                    </div>
                    <div>
                        <div class="group-sb-title">
                            <i class="fa-solid fa-map-pin"></i>
                            <div>巡檢資訊</div>
                        </div>
                        <section id="InspectionRecord"></section>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@*RFID 設備資訊POP UP*@
<div class="modal fade datagrid-modal" tabindex="-1" id="RFIDEquipmentInfo">
    <div class="modal-dialog modal-screen-md modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>RFID 設備資訊</h2>
                <form class="form w-100 p-0">
                    <div class="form-group-zone">
                        <div class="form-group">
                            <label for="InterCode">RFID內碼</label>
                            <input type="text" class="form-control" name="InterCode" id="InterCode" maxlength="20"
                                disabled>
                        </div>
                        <div class="form-group required">
                            <label for="ExterCode">RFID外碼</label>
                            <input type="text" class="form-control" name="ExterCode" id="ExterCode" maxlength="20"
                                required>
                        </div>
                        <div class="form-group required">
                            <label for="RFIDName">名稱</label>
                            <input type="text" class="form-control" name="RFIDName" id="RFIDName" maxlength="20"
                                required>
                        </div>
                        <div class="form-group required">
                            <label for="Area">棟別</label>
                            <select class="form-select" name="Area" id="Area" required></select>
                        </div>
                        <div class="form-group required">
                            <label for="Floor">樓層</label>
                            <select class="form-select" name="Area" id="Area" required></select>
                        </div>
                        <div class="form-group col-3fr d-flex flex-column gap-2 bg-white p-4 align-items-end">
                            <button type="button" class="btn btn-location">
                                新增定位
                                <i class="fa-solid fa-location-dot"></i>
                            </button>
                            <img src="~/Content/img/inner-map.jpg" class="align-items-end w-100"
                                style="height: 400px; object-fit: contain;" />
                        </div>
                        <div class="form-group col-3fr">
                            <label for="Memo">備註</label>
                            <textarea class="form-control" id="Memo" name="Memo" rows="3" cols="50" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                <button type="button" class="btn btn-export" id="add-row">確定</button>
            </div>
        </div>
    </div>
</div>


<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">儲存</button>
</div>

@section scripts {
    <script>
        var fileUploader;
        let apiUrl = null;

        $(async function () {
            readData(apiUrl);
            createAddItem(fakeData);
            createMaintainItem(fakeData);
            await formDropdown.ASN();
            addButtonEvent();
            delTemplateItem();
            fileUploader = new FileUploader({
                container: "#FileUploader",
                className: "form-group col-3fr",
                icon: "plus",
                buttonText: "上傳照片",
                label: "照片",
                id: "File"
            })
        });

        document.getElementById('SampleName').addEventListener('change', function () {
            const sampleContent = document.getElementById('sampleContent');
            if (this.value) {
                sampleContent.style.display = 'flex';
            } else {
                sampleContent.style.display = 'none';
            }
        })

        const urlFakeData = {
            RFIDName: "軸承潤滑劑",
            Area: "A棟",
            Floor: "5F",
            Location: "",
        }

        const dropdownFakedata = [
            {
                SN: "d0001",
                Value: "攪拌機模板"
            },
            {
                SN: "d0002",
                Value: "選項二"
            },
            {
                SN: "d0003",
                Value: "選項三"
            },
        ]
        const fakeData = {
            PSN: "P336448226",
            AddField: [
                {
                    SN: "F0001",
                    Text: "馬力數",
                },
                {
                    SN: "F0002",
                    Text: "起動方式",
                },
                {
                    SN: "F0003",
                    Text: "額定電流",
                },
                {
                    SN: "F0004",
                    Text: "油料編號",
                },
            ],
            MaintainItems: [
                {
                    SN: "I0001",
                    Text: "外部清潔與保養",
                },
                {
                    SN: "I0002",
                    Text: "各部螺絲鎖定",
                },
                {
                    SN: "I0003",
                    Text: "檢查管路是否通暢",
                },
                {
                    SN: "I0004",
                    Text: "軸承潤滑油添加",
                },
            ],
            InspectionRecord: {
                Ifrequency: "1小時",
                InspectItems: [
                    {
                        SN: "000123",
                        value: "馬達是否正常運轉"
                    },
                    {
                        SN: "000124",
                        value: "管線是否正常無漏液"
                    },
                    {
                        SN: "000125",
                        value: "出口端是否正常出藥"
                    },
                    {
                        SN: "000126",
                        value: "設備是否正常無漏水"
                    },
                ],
                ReportItems: [
                    {
                        SN: "I0001",
                        Item: "馬達電壓",
                        Value: "v",
                    },
                    {
                        SN: "I0002",
                        Item: "電流",
                        Value: "A",
                    },
                    {
                        SN: "I0003",
                        Item: "水壓",
                        Value: "Pa",
                    },
                    {
                        SN: "I0004",
                        Item: "流量",
                        Value: "CMH",
                    },
                ]
            }
        }

        function save() {
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            console.log("todo save():", isValidity)
            if (!isValidity) return;
            if (!$("#LocationX").val() || !$("#LocationX").val()) return;

            const fd = new FormData();

            fd.append("ASN", $("#ASN").val())
            fd.append("FSN", $("#FSN").val())
            fd.append("RoomName", $("#RoomName").val())
            fd.append("System", $("#System").val())
            fd.append("SubSystem", $("#SubSystem").val())
            fd.append("PropertyCode", $("#PropertyCode").val())
            fd.append("EName", $("#EName").val())
            fd.append("Brand", $("#Brand").val())
            fd.append("Model", $("#Model").val())
            console.log(Object.fromEntries(fd.entries()));

            if (!fd) return;

            $.ajax({
                url: "/EquipmentInfo_Management/Create",
                data: fd,//JSON.stringify(fd),
                type: "POST",
                contentType: false,
                processData: false,
                //dataType: "json",
                //contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "新增成功！",
                    onHide: () => { window.location.href = "/EquipmentInfo_Management/Management"; }
                });

                InspectionRecord("#InspectionRecord", res);
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }
        }

        function readData(url = null) {
            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })
            function onSuccess(res) {
                InspectionRecord("#InspectionRecord", res);

            }
            function onError(res) {
                console.log(res);
            }

        }

        function createAddItem(data) {
            const addItemZone = document.getElementById("addItemZone");
            data.AddField.forEach((field, index) => {
                const div = document.createElement("div");
                div.className = "form-group";

                const label = document.createElement("label");
                label.setAttribute("for", `addField-${index + 1}`);
                label.textContent = field.Text;

                const input = document.createElement("input");
                input.className = "form-control";
                input.type = "text";
                input.id = `addField-${index + 1}`;
                input.name = `addField-${field.SN}`;

                div.appendChild(label);
                div.appendChild(input);
                addItemZone.appendChild(div);
            });
        }

        function createMaintainItem(data) {
            const MaintainZone = document.getElementById("MaintainZone");
            data.MaintainItems.forEach((filed, index) => {
                const div = document.createElement("div");
                div.className = "edit-item-init"

                const input = document.createElement("input");
                input.className = "form-control";
                input.type = "text";
                input.value = filed.Text;
                input.disabled = true;

                const select = document.createElement("select");
                select.className = "form-select"

                div.appendChild(input);
                div.appendChild(select);
                MaintainZone.appendChild(div);
            })
        }

        function delTemplateItem() {
            let delBtns = document.querySelectorAll('.btn-delete-item');
            delBtns.forEach(function (delBtn) {
                delBtn.onclick = function () {
                    let tr = delBtn.closest('tr');
                    if (tr) {
                        tr.remove();
                        checkTableEmpty();
                    }
                };
            });
        }

        function checkTableEmpty() {
            const tbody = document.getElementById('item-area');
            const datatable = document.getElementById('RFIDZone');
            if (tbody.children.length === 0) {
                datatable.style.display = 'none';
            }
        }

    </script>
}