@{
    ViewBag.Title = "編輯 設備";
}
@section styles {
    @Html.Partial("MapScripts")
    @Html.Partial("DataGridScripts")
    <link rel="stylesheet" href="/Content/EquipmentInfoManagement.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.13/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/Scripts/dataTable/RepairRecord.js" defer></script>
    <script src="/Scripts/dataTable/RFIDInfoModal.js" defer></script>
    <script src="/Scripts/RFID.js" defer></script>
    <script src="/Scripts/EquipmentInfo_Management/index.js" defer></script>
}

<style>
    .edit-item-init {
        grid-template-columns: 2fr 1fr 1fr;
        background: rgb(255, 255, 255, 0.5) !important;
    }
</style>

<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-lg flex-wrap flex-md-row justify-content-lg-between">
        <form class="form d-lg-contents" id="EquipForm">
            <div class="group-title">基本資料</div>
            <div class="form-group-zone" id="basicZone">
                <div id="FileUploader" class="form-group col-3fr"></div>
                <div class="form-group required">
                    <label for="EName">設備名稱</label>
                    <input class="form-control" id="EName" name="EName" type="text" required />
                </div>
                <div class="form-group required">
                    <label for="NO">設備編號</label>
                    <input class="form-control" id="NO" name="NO" type="text" required />
                </div>
                <div class="form-group">
                    <label for="InstallDate">安裝日期</label>
                    <input class="form-control" id="InstallDate" name="InstallDate" type="date" />
                </div>
                <div class="form-group required">
                    <label for="ASN">棟別</label>
                    <select class="form-select" name="ASN" id="ASN" required>
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label for="FSN">樓層</label>
                    <select class="form-select" name="FSN" id="FSN" required>
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Brand">設備廠牌</label>
                    <input class="form-control" id="Brand" name="Brand" type="text" maxlength="50" />
                </div>
                <div class="form-group">
                    <label for="Model">設備型號</label>
                    <input class="form-control" id="Model" name="Model" type="text" maxlength="50" />
                </div>
                <div class="form-group">
                    <label for="Vendor">設備廠商</label>
                    <input class="form-control" id="Vendor" name="Vendor" type="text" maxlength="50" />
                </div>
                <div class="form-group">
                    <label for="ContactPhone">連絡電話</label>
                    <input class="form-control" id="ContactPhone" name="ContactPhone" type="text" />
                </div>
                <div class="form-group">
                    <label for="OperatingVoltage">使用電壓</label>
                    <input class="form-control" id="OperatingVoltage" name="OperatingVoltage" type="text" />
                </div>
                <div class="form-group">
                    <label for="OtherInfo">其他耗材資料</label>
                    <input class="form-control" id="OtherInfo" name="OtherInfo" type="text" />
                </div>
                <div class="form-group col-3fr">
                    <label for="Memo">備註</label>
                    <textarea class="form-control" id="Memo" name="Memo" rows="3" cols="50"></textarea>
                </div>
                <div class="form-group">
                    <label for="Other" class="d-flex gap-1">
                        <span class="form-tooltip-toggle" data-bs-placement="top-start" title="請將RFID標籤放至讀取器上後，點選「掃描」"></span>
                        RFID
                    </label>
                    <button type="button" id="rfid" class="btn btn-search w-100 d-flex justify-content-center align-items-center gap-1">
                        掃描<i class="scan-icon"></i>
                    </button>
                </div>
                <div class="form-group col-3fr" id="RFIDGridContainer"></div>
            </div>
            <hr class="hr-default">
            <div class="group-title">一機一卡模板資訊</div>
            <div class="d-flex flex-column gap-4">
                <div class="form-group w-100">
                    <label for="TSN">模板名稱</label>
                    <select class="form-select" name="TSN" id="TSN">
                        <option value="">請選擇</option>
                    </select>
                </div>
                <div id="sampleContent" class="flex-column gap-3" style="display: none;">
                    <div style="display: none;" id="addFieldSection">
                        <div class="group-sb-title">
                            <i class="fa-solid fa-map-pin"></i>
                            <div>增設基本資料欄位</div>
                        </div>
                        <div id="addItemZone" class="form-group-zone"></div>
                    </div>
                    <div style="display: none;" id="maintainSection">
                        <div class="group-sb-title">
                            <i class="fa-solid fa-map-pin"></i>
                            <div>保養項目/週期/下次保養日期</div>
                        </div>
                        <div id="MaintainZone" class="d-flex flex-column gap-2"></div>
                    </div>
                    <div style="display: none;" id="inspectionInfoSection">
                        <div class="group-sb-title">
                            <i class="fa-solid fa-map-pin"></i>
                            <div>巡檢資訊</div>
                        </div>
                        <section id="InspectionRecord"></section>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">儲存</button>
</div>

@*RFID 設備資訊POP UP*@
<template id="RFIDModal">
    <div class="modal fade datagrid-modal" tabindex="-1">
        <div class="modal-dialog modal-screen-md modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>RFID 設備資訊</h2>
                    <form class="form w-100 p-0">
                        <input type="hidden" id="isEdit" value="false">
                        <div class="form-group-zone">
                            <div class="form-group">
                                <label for="InternalCode">RFID內碼</label>
                                <input type="text" class="form-control" name="InternalCode" id="InternalCode"
                                       maxlength="20" disabled>
                            </div>
                            <div class="form-group required">
                                <label for="ExternalCode">RFID外碼</label>
                                <input type="text" class="form-control" name="ExternalCode" id="ExternalCode"
                                       maxlength="20" required>
                            </div>
                            <div class="form-group required">
                                <label for="Name">名稱</label>
                                <input type="text" class="form-control" name="Name" id="Name" maxlength="20" required>
                            </div>
                            <div class="form-group required">
                                <label for="ASN">棟別</label>
                                <select class="form-select" name="ASN" id="ASN" required></select>
                            </div>
                            <div class="form-group required">
                                <label for="FSN">樓層</label>
                                <select class="form-select" name="FSN" id="FSN" required></select>
                            </div>
                            <div class="form-group col-3fr d-flex flex-column gap-2 bg-white" style="height: 360px;">
                                <div id="BIM"></div>
                            </div>
                            <div class="form-group col-3fr">
                                <label for="Memo">備註</label>
                                <textarea class="form-control" id="Memo" name="Memo" rows="3" cols="50"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-export" id="add-row">確定</button>
                </div>
            </div>
        </div>
    </div>
</template>

@section scripts {
    <script>
        const ESN = '@ViewBag.id';
        const apiUrl = `@Url.Action("ReadBody", "EquipmentInfo_Management")/${ESN}`;
        $(async () => {
            const data = await readData(apiUrl);
            data.ESN = ESN;
            console.log(data);
            init_EquipmentInfo({ data, edit: true });
        });
        async function readData(url) {
            const res = await $.ajax({
                url,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                error(ex) {
                    console.log(ex);
                }
            })
            return res.Datas;
        }
    </script>
}