@{
    ViewBag.Title = "資產管理";
}
@section styles {
    @Html.Partial("DataGridScripts")

    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <script src="/Scripts/AreaFloorEvent.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<div class="dg-tool-bar">
    <button class="btn btn-create" id="create">新增設備</button>
    <div class="search-area">
        <form class="form" method="post" action="">
            <div class="form-group">
                <label for="EName">設備名稱</label>
                <input class="form-control" id="EName" name="EName" type="text" />
            </div>

            <div class="form-group">
                <label for="NO">設備編號</label>
                <input class="form-control" id="NO" name="NO" type="text" />
            </div>

            <div class="form-group">
                <label for="EState">設備狀態</label>
                <select class="form-select" name="EState" id="EState"></select>
            </div>

            <div class="form-group">
                <label for="ASN">棟別</label>
                <select class="form-select" name="ASN" id="ASN"></select>
            </div>

            <div class="form-group">
                <label for="FSN">樓層</label>
                <select class="form-select" name="FSN" id="FSN"></select>
            </div>

            <div class="form-group">
                <label for="Brand">設備廠牌</label>
                <input class="form-control" id="Brand" name="Brand" type="text" />
            </div>

            <div class="form-group">
                <label for="Model">設備型號</label>
                <input class="form-control" id="Model" name="Model" type="text" />
            </div>

            <div class="form-group">
                <label for="Vendor">設備廠商</label>
                <input class="form-control" id="Vendor" name="Vendor" type="text" />
            </div>

            <div class="button-group">
                <button type="button" class="btn btn-search" id="search">查詢</button>
                <button type="button" class="btn btn-clear" id="clear">清除</button>
            </div>
        </form>
    </div>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        //const baseUrl = '/PlanManagement/';
        var getGridJSON = '@Url.Action("EquipmentInfo_Management", "Datagrid")';
        var DataGrid;

        const fakedata = [
            {
                EName: "軸承潤滑劑",
                NO: 'T-1361662',
                InstallDate: "2024/10/02",
                Area: "A棟",
                Floor: "2F",
                Brand: "國際牌",
                Model: "E5-572-593Y",
            },
            {
                EName: "軸承潤滑劑",
                NO: 'T-1361662',
                InstallDate: "2024/10/02",
                Area: "A棟",
                Floor: "2F",
                Brand: "國際牌",
                Model: "E5-572-593Y",
            },
            {
                EName: "軸承潤滑劑",
                NO: 'T-1361662',
                InstallDate: "2024/10/02",
                Area: "A棟",
                Floor: "2F",
                Brand: "國際牌",
                Model: "E5-572-593Y",
            },
        ]

        $(async function () {
             await pushSelect("EState", '@Url.Action("EState", "DropDownList")');
             await AreaFloorEvent();

            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: getGridJSON,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'IPSN',
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                    dg.frozenColumn('FilePath', "", 111, (v, row, i) => {
                        let disabled = v == null || v == "";
                        return dg.eventButton(i, "操作手冊", "filePath")
                    }),
                    dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { className: "btn btn-datagrid btn-delete" })),
                ]],
                columns: [[
                    dg.hiddenColumn('ESN'),
                    dg.column('EName', '設備名稱', 200),
                    dg.column('NO', '設備編號', 200),
                    dg.column('EState', '設備狀態', 200),
                    dg.column('Area', '棟別', 200),
                    dg.column('Floor', '樓層', 200),
                    dg.column('Brand', '設備廠牌', 300),
                    dg.column('Model', '設備型號', 600),
                    dg.column('Vendor', '設備廠商', 600),
                    dg.hiddenColumn('FilePath'),
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Detail/${row.IPSN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.IPSN}`, "_self")
            })
            dg.addEvent("filePath", function (row, i) {
                window.open(row.FilePath, "_blank")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.IPSN}`, "_self")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
    </script>
}
