@{
    ViewBag.Title = "資產管理";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<div class="dg-tool-bar">
    <button class="btn btn-create" id="create">新增設備</button>
    <div class="search-area">
        <form class="form" method="post" action="">
            <div class="form-group">
                <label for="EName">設備名稱</label>
                <input class="form-control" id="EName" name="EName" type="text" />
            </div>

            <div class="form-group">
                <label for="NO">設備編號</label>
                <input class="form-control" id="NO" name="NO" type="text" />
            </div>

            <div class="form-group">
                <label for="EState">設備狀態</label>
                <select class="form-select" name="EState" id="EState"></select>
            </div>

            <div class="form-group">
                <label for="ASN">棟別</label>
                <select class="form-select" name="ASN" id="ASN"></select>
            </div>

            <div class="form-group">
                <label for="FSN">樓層</label>
                <select class="form-select" name="FSN" id="FSN"></select>
            </div>

            <div class="form-group">
                <label for="Brand">設備廠牌</label>
                <input class="form-control" id="Brand" name="Brand" type="text" />
            </div>

            <div class="form-group">
                <label for="Model">設備型號</label>
                <input class="form-control" id="Model" name="Model" type="text" />
            </div>

            <div class="form-group">
                <label for="Vendor">設備廠商</label>
                <input class="form-control" id="Vendor" name="Vendor" type="text" />
            </div>

            <div class="button-group">
                <button type="button" class="btn btn-search" id="search">查詢</button>
                <button type="reset" class="btn btn-clear" id="clear">清除</button>
            </div>
        </form>
    </div>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        //const baseUrl = '/PlanManagement/';
        var getGridJSON = '@Url.Action("EquipmentInfo_Management", "Datagrid")';

        var DataGrid;

        const fakedata = [
            {
                EName: "軸承潤滑劑",
                NO: 'T-1361662',
                EState: '正常',
                InstallDate: "2024/10/02",
                ASN: "A棟",
                FSN: "2F",
                Brand: "國際牌",
                Model: "E5-572-593Y",
                Vendor: '廠商廠商',
                FilePath: '/Files/EquipmentOperatingManual/000005.pdf',
            },
            {
                EName: "軸承潤滑劑",
                NO: 'T-1361662',
                EState: '報修中',
                InstallDate: "2024/10/02",
                ASN: "A棟",
                FSN: "2F",
                Brand: "國際牌",
                Model: "E5-572-593Y",
                Vendor: '廠商廠商',
                FilePath: '',
            },
            {
                EName: "軸承潤滑劑",
                NO: 'T-1361662',
                EState: '正常',
                InstallDate: "2024/10/02",
                ASN: "A棟",
                FSN: "2F",
                Brand: "國際牌",
                Model: "E5-572-593Y",
                Vendor: '廠商廠商',
                FilePath: '',
            },
        ]

        $(async function () {
            //取得權限
            try {
                await checkAuthority();
                console.log("權限", __authority__);
            } catch (error) {
                console.log("無法取得權限", error);
            }
            await formDropdown.ASN();
            await formDropdown.pushSelect({ id: "EState", url: '@Url.Action("EState", "DropDownList")' });
            Initialize_DataGrid(getGridJSON, __authority__);
            addSearchAreaClickEvent();

            if (__authority__ === "3") {
                document.getElementById('create').classList.add('d-none');
            }
        });

        function Initialize_DataGrid(getGridJSON, authority) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                method: 'POST',
                queryParams: getQueryParams(),
                remoteSort: true,
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit", { disabled: row.EState === "停用" || authority === "3" })),
                    dg.frozenColumn('_FilePath', "", 111, (v, row, i) => dg.eventButton(i, "操作手冊", "filePath", { disabled: !row.FilePath })),
                    dg.frozenColumn('_deactivate', (v, row, i) => dg.eventButton(i, "停用", "deactivate", { className: "btn btn-datagrid btn-delete", disabled: row.EState !== "正常" || authority != "1" })),
                ]],
                columns: [[
                    dg.hiddenColumn('ESN'),
                    dg.column('EName', '設備名稱', 250),
                    dg.column('NO', '設備編號', 200),
                    dg.column('EState', '設備狀態', 120),
                    dg.column('Area', '棟別', 200),
                    dg.column('Floor', '樓層', 200),
                    dg.column('Brand', '設備廠牌', 200),
                    dg.column('Model', '設備型號', 200),
                    dg.column('Vendor', '設備廠商', 200),
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Detail/${row.ESN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.ESN}`, "_self")
            })
            dg.addEvent("filePath", function (row, i) {
                window.open(row.FilePath, "_blank")
            })
            dg.addEvent("deactivate", function (row, i) {
                console.log("row", row);
                createDialogModal({
                    inner: "此操作無法回復，是否要停用設備?",
                    button: [
                        { className: "btn btn-cancel", cancel: true, text: "取消" },
                        { className: "btn btn-delete", text: "確定停用", onClick: () => {
                            onDeactivate(row.ESN)
                        }},
                    ]
                })
            })
            //停用
            function onDeactivate(ESN) {
                console.log("onDeactivate", ESN);

                $.ajax({
                    url: "/EquipmentInfo_Management/DisableEquipment?id=" + ESN,
                    type: "POST",
                    success: onSuccess,
                    error: onError
                })

                function onSuccess(res) {
                    if (res.ErrorMessage) {
                        createDialogModal({
                            id: "DialogModal-Error", inner: `停用失敗！${res?.ErrorMessage || ""}`,
                        })
                        return;
                    }
                    window.location.reload();
                }
                function onError(res) {
                    createDialogModal({ id: "DialogModal-Error", inner: `停用失敗！${res?.responseText || ""}` })
                }
            }
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {


            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
    </script>
}
