@{
    ViewBag.Title = "新增帳號";
}

<h2>@ViewBag.Title</h2>

<div class="edit-area edit-area-small">
    <form class="form" action="Create_Add" method="post" enctype="multipart/form-data" id="createForm">
        <div class="form-group d-lg-contents required">
            <label for="UserName">帳號</label>
            <input class="form-control" type="text" name="UserName" id="UserName" maxlength="256" required>
        </div>

        <div class="form-group d-lg-contents required">
            <label for="UserPassword">密碼</label>
            <input class="form-control" type="password" name="UserPassword" id="UserPassword" required>
        </div>

        <div class="form-group d-lg-contents required">
            <label for="UserPWR">再次輸入密碼</label>
            <input class="form-control" type="password" name="UserPWR" id="UserPWR" required>
        </div>

        <div class="form-group d-lg-contents required">
            <label for="MyName">姓名</label>
            <input class="form-control" type="text" name="MyName" id="MyName" maxlength="50" required>
        </div>

        <div class="form-group d-lg-contents required">
            <label for="Authority">權限</label>
            <select class="form-select" name="Authority" id="Authority" required>
                <option value="">請選擇</option>
                <option value="1">管理人員</option>
                <option value="2">操作人員</option>
                <option value="3">一般人員</option>
            </select>
        </div>

        <div class="form-group d-lg-contents required">
            <label for="Email">信箱</label>
            <input class="form-control" type="email" name="Email" id="Email" maxlength="256" required>
        </div>

        <div class="form-group d-lg-contents">
            <label for="PhoneNumber">電話</label>
            <input class="form-control" type="tel" name="PhoneNumber" id="PhoneNumber">
        </div>

        <div class="form-group d-lg-contents">
            <label for="Apartment">單位</label>
            <input class="form-control" type="text" name="Apartment" id="Apartment" maxlength="20">
        </div>
        <div class="form-group d-lg-contents">
            <label for="Title">職稱</label>
            <input class="form-control" type="text" name="Title" id="Title" maxlength="20">
        </div>
    </form>
</div>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-submit" id="submit">新增</button>
</div>

<script src="/Scripts/datatable.js"></script>
<script>
    var CreateUrl = '@Url.Action("Create_Add", "Account_Management")'; //Method : Post , 新增帳號

    window.onload = function () {
        addButtonEvent();
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })
        $("#submit").click(function () {
            console.log("onclick submit")
            const form = document.querySelector('#createForm');
            const formData = new FormData(form);
            $.ajax({
                url: CreateUrl,
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: onSuccess,
                error: onError
            });

            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "新增成功！",
                    onHide: () => { window.location.href = "/Account_Management/Management"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }
        })
    }
</script>