@{
    ViewBag.Title = "帳號管理";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<div class="dg-tool-bar">
    <button class="btn btn-create" id="create">新增帳號</button>
    <div class="search-area">
        <form class="form" method="post" action="">

            <div class="form-group">
                <label for="UserName">帳號</label>
                <input class="form-control" id="UserName" name="UserName" type="text" />
            </div>
            <div class="form-group">
                <label for="MyName">姓名</label>
                <input class="form-control" id="MyName" name="MyName" type="text" />
            </div>
            <div class="form-group">
                <label for="Authority">權限</label>
                <select class="form-select" name="Authority" id="Authority">
                    <option value="">請選擇</option>
                    <option value="1">管理人員</option>
                    <option value="2">操作人員</option>
                    <option value="3">一般人員</option>
                    <option value="4">巡檢人員</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Email">信箱</label>
                <input class="form-control" id="Email" name="Email" type="text" />
            </div>
            <div class="form-group">
                <label for="PhoneNumber">電話</label>
                <input class="form-control" id="PhoneNumber" name="PhoneNumber" type="text" />
            </div>
            <div class="form-group">
                <label for="Apartment">單位</label>
                <input class="form-control" id="Apartment" name="Apartment" type="text" />
            </div>
            <div class="form-group">
                <label for="Title">職稱</label>
                <input class="form-control" id="Title" name="Title" type="text">
            </div>

            <div class="button-group">
                <button type="button" class="btn btn-search" id="search">查詢</button>
                <button type="reset" class="btn btn-clear" id="clear">清除</button>
            </div>

        </form>
    </div>

    <div class="datagrid-area">
        <table id="DataGrid"></table>
    </div>
</div>

    @section scripts {
        <script>

        var getGridJSON = '@Url.Action("Account_Management", "Datagrid")';
        var DataGrid;


        const fakedata = [
            {
                UserName: "Admin",
                MyName: "Admin",
                Authority: "管理人員",
                Email: "Admin123@gmail.com",
                PhoneNumber: "0900123123",
                Apartment: "Admin",
                Title: "Admin",
            },
            {
                UserName: "DDD",
                MyName: "DDD",
                Authority: "管理人員",
                Email: "DDD456@gmail.com",
                PhoneNumber: "0900456456",
                Apartment: "DDD",
                Title: "DDD",
            },
        ]

        $(async function () {
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'UserName',
                //sortName: 'UserName',
                remoteSort: true,
                frozenColumns: [[
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                    dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { className: "btn btn-datagrid btn-delete" })),
                ]],
                columns: [[
                    dg.column('UserName', '帳號', 200),
                    dg.column('MyName', '姓名', 180),
                    dg.column('Authority', '權限', 150),
                    dg.column('Email', '信箱', 300),
                    dg.column('PhoneNumber', '電話', 180),
                    dg.column('Apartment', '單位', 180),
                    dg.column('Title', '職稱', 180),
                ]]
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.UserName}`, "_self")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.UserName}`, "_self")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
        </script>
    }
