@{
    ViewBag.Title = "帳號管理";
}

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<script src="/Scripts/easyui-datagrid-client-paging.js"></script>

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增帳號</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="UserName">帳號</label>
            <input class="form-control" id="UserName" name="UserName" type="text" />
        </div>
        <div class="form-group">
            <label for="MyName">姓名</label>
            <input class="form-control" id="MyName" name="MyName" type="text" />
        </div>
        <div class="form-group">
            <label for="Authority">權限</label>
            <select class="form-select" name="Authority" id="Authority">
                <option value="">請選擇</option>
                <option value="1">管理人員</option>
                <option value="2">操作人員</option>
                <option value="3">一般人員</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Email">信箱</label>
            <input class="form-control" id="Email" name="Email" type="text" />
        </div>
        <div class="form-group">
            <label for="PhoneNumber">電話</label>
            <input class="form-control" id="PhoneNumber" name="PhoneNumber" type="text" />
        </div>
        <div class="form-group">
            <label for="Apartment">單位</label>
            <input class="form-control" id="Apartment" name="Apartment" type="text" />
        </div>
        <div class="form-group">
            <label for="Title">職稱</label>
            <input class="form-control" id="Title" name="Title" type="text">
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>
<script src="../../Scripts/tool.js"></script>
<script>

    var getGridJSON = '@Url.Action("Account_Management", "DataGird")';

    var baseUrl = "/Account_Management/";

    const fakedata = [
        {
            UserName: "Admin",
            MyName: "Admin",
            Authority: "管理人員",
            Email: "Admin123@gmail.com",
            PhoneNumber: "0900123123",
            Apartment: "Admin",
            Title: "Admin",
        },
        {
            UserName: "DDD",
            MyName: "DDD",
            Authority: "管理人員",
            Email: "DDD456@gmail.com",
            PhoneNumber: "0900456456",
            Apartment: "DDD",
            Title: "DDD",
        },
    ]

    $(async function () {
        Initialize_DataGrid(getGridJSON);
        addSearchAreaClickEvent();
    });

    function Initialize_DataGrid(getGridJSON) {

        $('#DataGrid').datagrid({

            //url: getGridJSON,
            data: fakedata,
            method: 'POST',
            queryParams: getQueryParams(),
            rownumbers: true,
            idField: 'UserName',
            //sortName: 'UserName',
            remoteSort: false,
            sortOrder: 'asc',
            fit: true,
            frozenColumns: [[
                {
                    field: '_edit', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onEdit(${index})">編輯</button>`;
                    }
                },
                {
                    field: '_delete', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDelete(${index})">刪除</button>`;
                    }
                }
            ]],
            columns: [[
                { field: 'UserName', title: '帳號', align: 'center', width: 150, sortable: true },
                { field: 'MyName', title: '姓名', align: 'center', width: 120, sortable: true },
                { field: 'Authority', title: '權限', align: 'center', width: 120, sortable: true },
                { field: 'Email', title: '信箱', align: 'center', width: 250, sortable: true },
                { field: 'PhoneNumber', title: '電話', align: 'center', width: 180, sortable: true },
                { field: 'Apartment', title: '單位', align: 'center', width: 120, sortable: true },
                { field: 'Title', title: '職稱', align: 'center', width: 120, sortable: true },
            ]],
            singleSelect: true,
            selectOnCheck: true,
            checkOnSelect: false,

            pagination: true,
            pagePosition: 'bottom',
            pageSize: 10
        });
        //------------Pager --------------------------------------------------
        var pager = $('#DataGrid').datagrid('getPager');
        $(pager).pagination({
            pageSize: 10,
            showPageList: true,
            pageList: [10, 20, 50],
            beforePageText: '第',
            afterPageText: '頁，共 {pages} 頁',
            displayMsg: '顯示 {from} 到 {to} 筆資料，共 {total} 筆資料'
        });
    }

    // datagrid onClick Function
    function onEdit(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Edit' + `/${row.UserName}`;
        window.open(url, "_self");
    }

    function onDelete(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Delete' + `/${row.UserName}`;
        window.open(url, "_blank");
    }

    //search area onClick Function
    function addSearchAreaClickEvent() {
        $("#clear").click(function () {
            $("form")[0].reset();
        });

        $("#search").click(function () {
            Initialize_DataGrid(getGridJSON)
        });

        $("#create").click(function () {
            let url = baseUrl + 'Create';
            window.open(url, "_self");
        });
    }
</script>
