@{
    ViewBag.Title = "保養項目管理";
}

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<script src="/Scripts/easyui-datagrid-client-paging.js"></script>

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增保養項目</button>

<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="System">系統別</label>
            <select class="form-select" name="System" id="System">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="SubSystem">子系統別</label>
            <select class="form-select" name="SubSystem" id="SubSystem">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="EName">設備名稱</label>
            <select class="form-select" name="EName" id="EName">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="MIName">保養項目名稱</label>
            <input class="form-control" id="MIName" name="MIName" type="text" />
        </div>

        <div class="form-group">
            <label for="Unit">保養週期單位</label>
            <input class="form-control" id="Unit" name="Unit" type="text" />
        </div>

        <div class="form-group">
            <label for="Period">保養週期</label>
            <input class="form-control" id="Period" name="Period" type="text" />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

<script>

    var baseUrl = "/MaintainItem_Management/";

    const fakeData = [
        {
            MISN: "000001",
            System: "處理",
            SubSystem: "前處理",
            EName: "除物皮帶輸送機",
            MIName: "軸承潤滑",
            Unit: "月",
            Period: "1",
        }
    ]

    $(function () {
        let getGridJSON = '';
        Initialize_DataGrid(getGridJSON);
        addSearchAreaClickEvent();
    });

    function Initialize_DataGrid(getGridJSON) {

        $('#DataGrid').datagrid({

            // url: getGridJSON,
            // method: 'POST',
            data: fakeData,
            queryParams: {
                Query: ''
            },
            rownumbers: true,
            idField: 'RSN',
            sortName: 'RSN',
            remoteSort: false,
            //sortOrder: 'desc',
            fit: true,
            frozenColumns: [[
                {
                    field: '_detail', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDetail(${index})">詳情</button>`;
                    }
                },
                {
                    field: '_edit', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onEdit(${index})">編輯</button>`;
                    }
                },
                {
                    field: '_delete', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDelete(${index})">刪除</button>`;
                    }
                }
            ]],
            columns: [[
                { field: 'System', title: '系統別', align: 'center', width: 100, sortable: true },
                { field: 'SubSystem', title: '子系統別', align: 'center', width: 110, sortable: true },
                { field: 'EName', title: '設備名稱', align: 'center', width: 200, sortable: true },
                { field: 'MIName', title: '保養項目名稱', align: 'center', width: 150, sortable: true },
                { field: 'Unit', title: '保養週期單位', align: 'center', width: 150, sortable: true },
                { field: 'Period', title: '保養週期', align: 'center', width: 110, sortable: true },
            ]],
            singleSelect: true,
            selectOnCheck: true,
            checkOnSelect: false,

            pagination: true,
            pagePosition: 'bottom',
            pageSize: 10
        });
        //------------Pager --------------------------------------------------
        var pager = $('#DataGrid').datagrid('getPager');
        $(pager).pagination({
            pageSize: 10,
            showPageList: true,
            pageList: [10, 20, 50],
            beforePageText: '第',
            afterPageText: '頁，共 {pages} 頁',
            displayMsg: '顯示 {from} 到 {to} 筆資料，共 {total} 筆資料'
        });
    }

    // datagrid onClick Function
    function onDetail(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Read';
        window.open(url, "_blank");
    }

    function onEdit(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Edit';
        window.open(url, "_self");
    }

    function onDelete(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = baseUrl + 'Delete';
        window.open(url, "_self");
    }

    //search area onClick Function
    function addSearchAreaClickEvent() {
        $("#clear").click(function () {
            $("form")[0].reset();
        });

        $("#search").click(function () {
            let url = "/";
            window.open(url, "_self");
        });

        $("#create").click(function () {
            let url = baseUrl + 'Create';
            window.open(url, "_self");
        });
    }
</script>
