@{
    ViewBag.Title = "保養項目詳情";
}

<h2>@ViewBag.Title</h2>

<div class="datatable mt-5">
    <div class="datatable-body">
        <table class="datatable-table" id="MaintainItemInfo"></table>
    </div>
</div>

<script src="/Scripts/datatable.js"></script>
<script>

    const apiUrl = null;

    const SerializedName = [
        { text: "系統別", value: "System" },
        { text: "子系統別", value: "SubSystem" },
        { text: "設備名稱", value: "EName" },
        { text: "項目名稱", value: "MIName" },
        { text: "保養週期單位", value: "Unit" },
        { text: "保養週期", value: "Period" },
    ]

    const fakeData = {
        System: "前處理",
        SubSystem: "前處理",
        EName: "除物皮帶輸送機",
        MIName: "軸承潤滑",
        Unit: "月",
        Period: "1",
    }

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :
            $.ajax({
                url: url,
                body: JSON.stringify(jsonData),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            $("#MaintainItemInfo").append(createTableInner(res, SerializedName));
        }
        function onError(res) {
            console.log(res);
        }
    }

    window.onload = function () {
        readData(apiUrl);
    }
</script>

