@{
    ViewBag.Title = "會議記錄管理";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<div class="dg-tool-bar">
    <button class="btn btn-create" id="create">新增會議記錄</button>
    <div class="search-area">
        <form class="form" method="post" action="">

            <div class="form-group">
                <label for="MeetingTopic">會議主題</label>
                <input class="form-control" id="MeetingTopic" name="MeetingTopic" type="text" />
            </div>

            <div class="form-group">
                <label for="Chairperson">會議主席</label>
                <input class="form-control" id="Chairperson" name="Chairperson" type="text" />
            </div>

            <div class="form-group">
                <label for="MeetingVenue">會議地點</label>
                <input class="form-control" id="MeetingVenue" name="MeetingVenue" type="text" />
            </div>

            <div class="form-group">
                <label for="DateFrom">日期(起)</label>
                <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
            </div>

            <div class="form-group">
                <label for="DateTo">日期(迄)</label>
                <input class="form-control" id="DateTo" name="DateTo" type="date" />
            </div>

            <div class="button-group">
                <button type="button" class="btn btn-search" id="search">查詢</button>
                <button type="button" class="btn btn-clear" id="clear">清除</button>
            </div>
        </form>
    </div>

    <div class="datagrid-area">
        <table id="DataGrid"></table>
    </div>
</div>
    @section scripts {
        <script>

        var getGridJSON = '@Url.Action("MeetingMinutes_Management", "Datagrid")';
        var DataGrid;


        const fakeData = [
            {
                MMSN: "1",
                MeetingTopic: "水質分析",
                MeetingDate: "2023/06/08 10:00-12:00",
                //MeetingDateStart: "10:00",
                //MeetingDateEnd: "12:00",
                MeetingVenue: "會議室",
                Chairperson: "王大明",
                Participant: "王大明",
                ExpectedAttendence: "53",
                ActualAttendence: "52",
                AbsenteeList: "1",
                TakeTheMinutes: "王大明",
                Agenda: "1.OOXXOXO 2.OXX",
                MeetingContent: "ooxoxooxox"
            }
        ]

        $(async function () {
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'MMSN',
                //sortName: 'MMSN',
                remoteSort: true,
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                    dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { className: "btn btn-datagrid btn-delete" })),
                ]],
                columns: [[
                    dg.hiddenColumn('MMSN'),
                    dg.column('MeetingTopic', '會議主題', 200),
                    dg.column('MeetingDate', '會議時間', 220),
                    //dg.column('MeetingDateStart', '開始時間', 120),
                    //dg.column('MeetingDateEnd', '結束時間', 120),
                    dg.column('MeetingVenue', '會議地點', 200),
                    dg.column('Chairperson', '會議主席', 110),
                    //dg.column('Participant', '與會者', 110),
                    dg.column('ExpectedAttendence', '應到', 100),
                    dg.column('ActualAttendence', '實到', 100),
                    dg.column('AbsenteeList', '缺席', 100),
                    dg.column('TakeTheMinutes', '會議記錄負責人', 160),
                    //dg.column('Agenda', '議題順序', 200),
                    dg.column('MeetingContent', '會議內容', 300)
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Detail/${row.MMSN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.MMSN}`, "_self")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.MMSN}`, "_self")
            })

        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
        </script>
    }
