@{
    ViewBag.Title = "新增 每日巡檢時程模板";
}
@section styles {
    @Html.Partial("DataGridScripts")
    <script src="~/Scripts/SampleSchedule_Management/CreateDataGrids.js" defer></script>
    <script src="~/Scripts/SampleSchedule_Management/Create.js"></script>
}


<h2>@ViewBag.Title</h2>

<section>
    <div class="edit-area edit-area-full flex-lg-row">
        <form class="form justify-content-lg-end">
            <div class="form-group-zone">
                <div class="form-group required">
                    <label for="TemplateName">巡檢模板名稱</label>
                    <input type="text" class="form-control" name="TemplateName" id="TemplateName" maxlength="20" required>
                </div>
            </div>
            <hr class="hr-default" />

            <div class="datatable-easyui w-100 d-none">
                <table id="Template-datagrid"></table>
            </div>

            <div class="m-0 w-100 text-center">
                <div class="datatable datatable-grid w-100 h-100">
                    <div class="datatable-body h-100 overflow-auto">
                        <table class="datatable-table">
                            <thead>
                                <tr>
                                    <th class="datatable-header" style="width:40px"><span></span></th>
                                    <th class="datatable-header" style="width:40px"><span></span></th>
                                    <th class="datatable-header required" style="width:130px"><span>巡檢時間(起)</span></th>
                                    <th class="datatable-header required" style="width:130px"><span>巡檢時間(迄)</span></th>
                                    <th class="datatable-header required" style="width:250px"><span>巡檢路線名稱</span></th>
                                    <th class="datatable-header" style="width:120px"><span>巡檢頻率</span></th>
                                    <th class="datatable-header" style="width:120px"><span>巡檢數量</span></th>
                                    <th class="datatable-header" style="width:150px"><span></span></th>
                                    <th class="datatable-header" style="width:36px"></th>
                                </tr>
                            </thead>
                            <tbody id="item-area">
                                <tr id="sample-input-tr">
                                    <td id="d-Num">1</td>
                                    <td id="d-Sort">
                                        <button type="button" class="btn-sort">
                                            <i class="fa-solid fa-bars"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <input class="form-control" type="time" id="StartTime" name="StartTime" step="any" required />

                                    </td>
                                    <td>
                                        <input class="form-control" type="time" id="EndTime" name="EndTime" step="any" required />
                                    </td>
                                    <td>
                                        <select class="form-select" id="PathName" name="PathName" required></select>
                                    </td>
                                    <td id="Frequency">--</td>
                                    <td id="Quantity">--</td>
                                    <td id="Info">
                                        <button type="button" class="btn btn-datagrid">巡檢路線資訊</button>
                                    </td>
                                    <td id="d-_delete" class="p-1 pt-2">
                                        <button type="button" class="btn-delete-item"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button type="button" class="addItemBtn" id="addItem"><i class="fa-solid fa-plus"></i></button>
            </div>
        </form>
    </div>
</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

@*巡檢路線資訊POP UP*@
<div class="modal fade datagrid-modal" tabindex="-1" id="PlanInfo">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content height-fit">
            <div class="modal-body align-items-center">
                <h2>巡檢路線資訊</h2>
                <div class="datatable datatable-small">
                    <div class="datatable-body">
                        <table class="datatable-table" id="PathDetail"></table>
                    </div>
                </div>
                <div class="datatable datatable-grid datatable-fill">
                    <div class="datatable-body overflow-auto">
                        <table class="datatable-table" id="EInfo">
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-export" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        let apiUrl = null;
        let SubmitUrl = '@Url.Action("CreateSampleSchedule", "SamplePath_Schedule")';
        let sampleTr = SampleTr();

        $(async function () {
            await pushSelect("PathName", "/DropDownList/Area");
            addButtonEvent();
            //await addDropDownList();
            //await addAreaFloorEvent();
            sampleTr.init();
        })
        const SerializedName = [
            { text: "巡檢路線名稱", value: "PathName" },
            { text: "巡檢頻率", value: "Frequency" },
        ]
        const GridOptions = {
            thead: true,
            columns: [
                { id: "Index", title: "" },
                { id: "InterCode", title: "RFID內碼" },
                { id: "ExterCode", title: "RFID外碼" },
                { id: "RFIDName", title: "RFID名稱" },
                { id: "Area", title: "RFID棟別" },
                { id: "Floor", title: "RFID樓層" },
                { id: "Memo", title: "RFID備註" },
                { id: "EName", title: "設備名稱" },
                { id: "ESN", title: "設備編號" },
                { id: "Brand", title: "廠牌" },
                { id: "Model", title: "型號" },
                { id: "Frequency", title: "巡檢頻率" },
            ]
        }
        fakeData = {
            PathNameSN: "1120301001",
            PathName: "前處理機房巡檢",
            Frequency: "3",
            EItem: [
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RFIDName: "RFIDName1",
                    Area: "前處理區",
                    Floor: "1F",
                    Memo: "備註",
                    EName: "螺旋發送機1",
                    ESN: "SP-0202A",
                    Brand: "A廠牌",
                    Model: "XMA-56",
                    Frequency: "3",
                },
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RFIDName: "RFIDName2",
                    Area: "前處理區",
                    Floor: "1F",
                    Memo: "備註",
                    EName: "螺旋發送機2",
                    ESN: "SP-0202A",
                    Brand: "B廠牌",
                    Model: "XMA-56",
                    Frequency: "2",
                },
                {
                    InterCode: "XSCXCZS",
                    ExterCode: "XSCXCZS",
                    RFIDName: "RFIDName3",
                    Area: "前處理區",
                    Floor: "1F",
                    Memo: "備註",
                    EName: "螺旋發送機3",
                    ESN: "SP-0202A",
                    Brand: "C廠牌",
                    Model: "XMA-56",
                    Frequency: "2",
                },
            ]
        }
        let tempData = {};
        const updatePathDetail = async (SN) => {
            if (!tempData[SN]) await readData(apiUrl, SN);
            // 在每列加上index
            function createIndexToArrayData(arr) {
                return arr.map((e, i) => {
                    return {
                        Index: i + 1,
                        ...e
                    }
                })
            }
            $("#PathDetail").empty();
            $("#PathDetail").append(createTableInner(tempData[SN], SerializedName));
            $("#EInfo").empty();
            tempData[SN].EItem ?
                $("#EInfo").append(createTableGrid(
                    createIndexToArrayData(tempData[SN].EItem), GridOptions)) :
                $("#EInfo").parents(".datatable").remove();
        }
        const updateTemplateInfo = async (SN, element) => {
            if (SN) {
                if (!tempData[SN]) await readData(apiUrl, SN)
                $(element).parent().parent().find("#Quantity").text(tempData[SN].EItem?.length || "--");
                $(element).parent().parent().find("#Frequency").text(tempData[SN].Frequency);
            } else {
                $(element).parent().parent().find("#Quantity").text("--");
                $(element).parent().parent().find("#Frequency").text("--");
            }
        }
        function readData(url = null, SN) {
            return new Promise((resolve, reject) => {
                if (url == null) {
                    resolve(fakeData)
                    onSuccess(fakeData);
                } else {
                    $.ajax({
                        url: url,
                        type: "GET",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: (res) => {
                            onSuccess(res);
                            resolve("");
                        },
                        error: (ex) => {
                            onError(ex);
                            reject(ex);
                        }
                    });
                }
            });

            function onSuccess(res) {
                const convertString = (v) => `每${v}個小時`
                res.Frequency = convertString(res.Frequency);
                res.EItem.forEach(e => {
                    e.Frequency = convertString(e.Frequency);
                })
                console.log("getPathDetail(after converting)", res);
                tempData[SN] = res;
            }
            function onError(ex) {
                console.log(ex);
            }
        }

        function save(data) {
            if (!data) return;
            $.ajax({
                url: SubmitUrl,
                data: JSON.stringify(data),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "儲存成功！",
                    onHide: () => { window.location.href = "/SampleSchedule_Management/Index"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `儲存失敗！` })
            }
        }

        function SampleTr() {
            this.count = 0;
            this.list = $("#item-area")
            this.init = async function () {
                await pushSelect("StockType", '@Url.Action("StockType", "DropDownList")');

                const observer = new ResizeObserver((entries) => {
                    for (const entry of entries) {
                        let style = getComputedStyle(entry.target)
                        let mh = parseInt(style.getPropertyValue("max-height").match(/(\d)+/)?.[0])
                        let h = parseInt(style.getPropertyValue("height").match(/(\d)+/)?.[0])
                        $(".datatable-input-area").toggleClass("max-w-scroll", h >= mh)
                        //console.log(`${h} >= ${mh} ${h >= mh}`)
                    }
                })
                observer.observe(this.list.closest(".datatable-body")[0])

                this.list.on("click", ".btn-delete-item", function (e) {
                    $(this).parent().parent().remove();
                    sampleTr.count--;
                    reorderNumbers();
                })
                this.list.on("click", ".btn-datagrid", function (e) {
                    let SN = $(this).parent().parent().find("#PathName").val();
                    if (!SN) {
                        createDialogModal({ id: "DialogModal", inner: "請先選擇巡檢路線", button: [{ className: "btn btn-export", cancel: true, text: "確定" }] })
                        return
                    }
                    updatePathDetail(SN);
                    let b = document.createElement("button");
                    b.type = "button";
                    b.setAttribute("data-bs-toggle", "modal");
                    b.setAttribute("data-bs-target", "#PlanInfo");
                    document.querySelector("body").appendChild(b);
                    b.click();
                    b.remove();
                })
                this.list.on("change", "#PathName", function (e) {
                    let SN = $(this).val();
                    //console.log(SN);
                    updateTemplateInfo(SN, this);
                })
                this.sample = $("#sample-input-tr").clone();
                $("#sample-input-tr").remove();
            }
            this.create = function (data = null) {
                console.log("hit test");
                let item = this.sample.clone();
                this.count++;
                item.attr('id', this.count);
                item.find("#Info button").attr("index", this.count);
                item.find("#d-Num").text(this.count)
                this.list.append(item);
            }
            this.calc = function () {
                return this.list.children().toArray().map((e) => {
                    return {
                        StartTime: $(e).find("#StartTime").val(),
                        EndTime: $(e).find("#EndTime").val(),
                        PathName: $(e).find("#PathName").val()
                    }
                })
            }
            this.checkRequired = () => {
                return this.list.children().length > 0
            }
            this.checkValidity = () => {
                let Eitems = this.list.children().toArray().map((e) => ({
                    StartTime: $(e).find("#StartTime").val(),
                    EndTime: $(e).find("#EndTime").val(),
                    PathName: $(e).find("#PathName").val()
                }))
                for (item of Eitems) {
                    if (!item.StartTime || !item.EndTime || !item.PathName) return false
                }
                return true
            }
            return this;
        }

        //當刪除新增的模板後，需重新排序次序
        function reorderNumbers() {
            let itemArea = document.getElementById('item-area');
            let rows = itemArea.querySelectorAll('tr');
            rows.forEach((row, index) => {
                let numCell = row.querySelector('#d-Num');
                if (numCell) {
                    numCell.textContent = index + 1;
                }
            });
        }
    </script>
}