@{
    ViewBag.Title = "每日巡檢時程模板管理";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<div class="dg-tool-bar">
    <button class="btn btn-create" id="create">新增模板</button>
    <div class="search-area">
        <form class="form" method="post" action="">

            <div class="form-group">
                <label for="TemplateName">巡檢模板名稱</label>
                <input class="form-control" id="TemplateName" name="TemplateName" type="text" />
            </div>
            <div class="button-group">
                <button type="button" class="btn btn-search" id="search">查詢</button>
                <button type="reset" class="btn btn-clear" id="clear">清除</button>
            </div>
        </form>
    </div>
</div>

    <div class="datagrid-area">
        <table id="DataGrid"></table>
    </div>

    @section scripts {
        <script>
        var getGridJSON = '@Url.Action("SampleSchedule_Management", "Datagrid")';
        var DataGrid;


        const fakeData = [
            {
                PSSN: "000001",
                SampleName: "A棟1F路線",
                Num: "10",
            }
        ]
        $(async function () {
            //取得權限
            try {
                await checkAuthority();
                console.log("權限", __authority__);
            } catch (error) {
                console.log("無法取得權限", error);
            }
            Initialize_DataGrid(getGridJSON, __authority__);
            addSearchAreaClickEvent();
            if (authority === "3") {
                document.getElementById('create').classList.add('d-none');
            }
        });

        function Initialize_DataGrid(getGridJSON, authority) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'PSSN',
                //sortName: 'PSSN',
                remoteSort: true,
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit", { disabled: authority === "3" })),
                    dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { disabled: authority != "1", className: "btn btn-datagrid btn-delete" })),
                ]],
                columns: [[
                    dg.hiddenColumn('DailyTemplateSN'),
                    dg.column('TemplateName', '巡檢模板名稱', 500),
                    dg.column('InspectionNum', '巡檢路線數量', 200),
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Detail/${row.DailyTemplateSN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.DailyTemplateSN}`, "_self")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.DailyTemplateSN}`, "_self")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
        </script>
    }
