@{
    ViewBag.Title = "新增月報";
}
@section styles {
    <script src="/Scripts/datatable.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
    <style>
        @@media (min-width: 992px) {
            .edit-area .form {
                grid-template-columns: 250px 250px;
            }
        }
    </style>
}

<h2>@ViewBag.Title</h2>
<div class="edit-area edit-area-small">
    <form class="form pt-0">
        <div class="form-group required">
            <label for="ReportTitle">月報名稱</label>
            <input class="form-control" id="ReportTitle" name="ReportTitle" type="text" required>
        </div>

        <div class="form-group required">
            <label for="YearMonth">年月份</label>
            <input class="form-control" id="YearMonth" name="YearMonth" type="month" required>
        </div>

        <div class="form-group" style="grid-column: auto/span 2;">
            <label for="ReportContent">內容說明</label>
            <textarea class="form-control" name="ReportContent" id="ReportContent" rows="3" maxlength="200"></textarea>
        </div>

        <div id="FileUploader"></div>

    </form>
</div>
<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>

@section scripts {
    <script>
        var fileUploader
        $(async function () {
            addButtonEvent();
            fileUploader = new FileUploader({
                container: "#FileUploader",
                className: "form-group g-col-2 required",
                label: "月報檔案",
                id: "File"
            })

            //預帶目前年月
            let d = new Date()
            $("#YearMonth").val(`${d.getFullYear()}-${(d.getMonth() + 1).toString().padStart(2, "0")}`)
        });

        function save() {
            //重置自訂驗證錯誤訊息
            getAllParams().forEach((e) => {
                e.setCustomValidity('');
            })
            //自訂驗證錯誤
            fileUploader.setExtensionValidity(fileUploader.checkAllExtension())
            let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
            console.log("isValidity():", isValidity)
            if (!isValidity) return;

            var fd = new FormData();
            fd.append("ReportTitle", document.getElementById("ReportTitle").value);
            fd.append("ReportContent", document.getElementById("ReportContent").value);
            fd.append("YearMonth", document.getElementById("YearMonth").value);
            if (fileUploader.hasFile()) {
                fd.append("ReportFile", fileUploader.getFile());
            }
            console.log(Object.fromEntries(fd.entries()));

            $.ajax({
                url: '@Url.Action("CreateMonthlyReport", "MonthlyReport_Management")',
                data: fd,
                type: "POST",
                contentType: false,
                processData: false,
                success: onSuccess,
                error: onError
            })
            function onSuccess(res) {
                console.log(res);
                createDialogModal({
                    id: "DialogModal-Success", inner: "新增成功！",
                    onHide: () => { window.location.href = "/MonthlyReport_Management/Management"; }
                });
            }
            function onError(res) {
                console.log(res);
                createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res?.responseText || ""}` })
            }
        }

        function addButtonEvent() {
            $("#back").click(function () {
                history.back();
            })

            $("#submit").click(function () {
                save();
            })
        }
    </script>
}