@{
    ViewBag.Title = "編輯月報";
}
<style>
    @@media (min-width: 992px) {
        .edit-area .form {
            grid-template-columns: 250px 250px;
        }
    }
</style>
<h2>@ViewBag.Title</h2>
<div class="edit-area edit-area-small">
    <form class="form pt-0">
        <input type="text" name="MRSN" id="MRSN" hidden>
        <div class="form-group required">
            <label for="ReportTitle">月報名稱</label>
            <input class="form-control" id="ReportTitle" name="ReportTitle" type="text" required>
        </div>

        <div class="form-group required">
            <label for="YearMonth">年月份</label>
            <input class="form-control" id="YearMonth" name="YearMonth" type="month" disabled readonly>
        </div>

        <div class="form-group" style="grid-column: auto/span 2;">
            <label for="ReportContent">內容說明</label>
            <textarea class="form-control" name="ReportContent" id="ReportContent" rows="1"
                style="resize: vertical;"></textarea>
        </div>

        <div id="FileUploader"></div>

    </form>
</div>
<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">儲存</button>
</div>
<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/tool.js"></script>
<script>
    const apiUrl = null;
    const fakeData = {
        MRSN: "1",
        ReportTitle: "2023-5月月報",
        UploadUserName: "王大明",
        UploadDateTime: "2023/5/22",
        ReportContent: "OOXX",
        YearMonth: "2023-05",
        FilePath: "/Files/a.pdf"
    }
    
    var fileUploader
    $(async function () {
        addButtonEvent();
        fileUploader = new FileUploader({
            container: "#FileUploader",
            className: "form-group g-col-2 required",
            label: "月報檔案",
            id: "File",
            customValidity: true
        })
        readData(apiUrl);
    });

    function readData(url = null) {

        url == null ? onSuccess(fakeData) :   //fakeData
            $.ajax({
                url: url,
                data: JSON.stringify(jsonData),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            })

        function onSuccess(res) {
            console.log(res);
            for (const [k, v] of Object.entries(res)) {
                $("#" + k).val(v);
            }
            fileUploader.setFile(res.FilePath)
        }
        function onError(res) {
            console.log(res);
        }
    }

    function save() {
        let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
        console.log("isValidity():", isValidity)
        if (!isValidity) return;

        var fd = new FormData();
        fd.append("ReportTitle", document.getElementById("ReportTitle").value);
        fd.append("ReportContent", document.getElementById("ReportContent").value);
        fd.append("YearMonth", document.getElementById("YearMonth").value);
        if (fileUploader.hasFile()) {
            form.append("ReportFile", fileUploader.getFile());
        }
        console.log(Object.fromEntries(fd.entries()));
        $.ajax({
            url: '@Url.Action("EditMonthlyReport", "MonthlyReport_Management")',
            data: fd,
            type: "POST",
            contentType: false,
            processData: false,
            success: onSuccess,
            error: onError
        })
        function onSuccess(res) {
            console.log(res);
            createDialogModal({
                id: "DialogModal-Success", inner: "新增成功！",
                onHide: () => { window.location.href = "/MonthlyReport_Management/Management"; }
            });
        }
        function onError(res) {
            console.log(res);
            createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res.responseText}` })
        }
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })

        $("#submit").click(function () {
            save();
        })
    }
</script>

