@{
    ViewBag.Title = "月報管理";
}

@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<div class="dg-tool-bar">
    <button class="btn btn-create" id="create">新增月報</button>
    <div class="search-area">
        <form class="form" method="post" action="">
            <div class="form-group">
                <label for="ReportTitle">月報名稱</label>
                <input class="form-control" id="ReportTitle" name="ReportTitle" type="text" />
            </div>
            <div class="form-group">
                <label for="UploadUserName">上傳者</label>
                <input class="form-control" id="UploadUserName" name="UploadUserName" type="text" />
            </div>
            <div class="form-group">
                <label for="DateFrom">年月份(起)</label>
                <div style="display: flex; gap: 8px;">
                    <select class="yearSelect form-select" id="YearFrom"></select>
                    <select class="monthSelect form-select" id="MonthFrom"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="DateTo">年月份(迄)</label>
                <div style="display: flex; gap: 8px;">
                    <select class="yearSelect form-select" id="YearTo"></select>
                    <select class="monthSelect form-select" id="MonthTo"></select>
                </div>
            </div>
            <div class="button-group">
                <button type="button" class="btn btn-search" id="search">查詢</button>
                <button type="reset" class="btn btn-clear" id="clear">清除</button>
            </div>
        </form>
    </div>

    <div class="datagrid-area">
        <table id="DataGrid"></table>
    </div>
</div>

@section scripts {
    <script>
        var getGridJSON = '@Url.Action("MonthlyReport_Management", "Datagrid")';
        var DataGrid;


        const fakeData = [
            {
                MRSN: "1",
                ReportTitle: "2023-5月月報",
                UploadUserName: "王大明",
                UploadDateTime: "2023/5/22",
                ReportContent: "OOXX",
                YearMonth: "2023-05",
            }
        ]
        let authority;
        $(async function () {
            if (!isAuth("1", "2")) {
                document.getElementById('create').remove();
            }
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
            createYearMonthSelect();
            setupYearMonthBinding();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'MRSN',
                //sortName: 'MRSN',
                remoteSort: true,
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    isAuth("1", "2") && dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                    isAuth("1") && dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { className: "btn btn-datagrid btn-delete" })),
                ]],
                columns: [[
                    dg.hiddenColumn('MRSN'),
                    dg.column('YearMonth', '年月份', 200, (v, row, i) => {
                        const [rocYear, month] = v.split('-');
                        const year = parseInt(rocYear) - 1911;
                        return `${year}-${month}`;
                    }),
                    dg.column('ReportTitle', '月報名稱', 350),
                    dg.column('UploadUserName', '上傳者', 250),
                    dg.column('UploadDateTime', '上傳日期', 250, (v, row, i) => {
                        return dateTransform(v);
                    }),
                    //dg.column('ReportContent', '內容說明', 650)
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Detail/${row.MRSN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.MRSN}`, "_self")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.MRSN}`, "_self")
            })

        }

        function addSearchAreaClickEvent() {
            $("#search").click(function () {
                let yearFromVal = document.getElementById('YearFrom').value;
                let monthFromVal = document.getElementById('MonthFrom').value;
                let yearToVal = document.getElementById('YearTo').value;
                let monthToVal = document.getElementById('MonthTo').value;

                yearFromVal = parseInt(document.getElementById('YearFrom').value) + 1911;
                yearToVal = parseInt(document.getElementById('YearTo').value) + 1911;

                //選了年份沒選月份的話，自動補上月份
                if (!isNaN(yearFromVal) && yearFromVal !== "" && monthFromVal === "") {
                    monthFromVal = "01";
                    document.getElementById('MonthFrom').value = "1";
                }
                if (!isNaN(yearToVal) && yearToVal !== "" && monthToVal === "") {
                    monthToVal = "12";
                    document.getElementById('MonthTo').value = "12";
                }

                const QueryParams = {
                    ...getQueryParams(),
                    DateFrom: "",
                    DateTo: ""
                };

                if (yearFromVal && monthFromVal) {
                    QueryParams.DateFrom = `${yearFromVal}-${String(monthFromVal).padStart(2, '0')}`;
                }
                if (yearToVal && monthToVal) {
                    QueryParams.DateTo = `${yearToVal}-${String(monthToVal).padStart(2, '0')}`;
                }
                DataGrid.datagrid('load', QueryParams);
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }

        function createYearMonthSelect() {
            generateYearSelect("YearFrom");
            generateYearSelect("YearTo");
            generateMonthSelect("MonthFrom");
            generateMonthSelect("MonthTo");
        }

        function setupYearMonthBinding() {
            const YearFrom = document.getElementById('YearFrom');
            const MonthFrom = document.getElementById('MonthFrom');
            const YearTo = document.getElementById('YearTo');
            const MonthTo = document.getElementById('MonthTo');

            // 通用函式：根據 Year 欄位是否為空，啟用或禁用 Month
            const toggleMonthDisabled = (yearInput, monthInput) => {
                monthInput.toggleAttribute('disabled', yearInput.value === "");
            };
            toggleMonthDisabled(YearFrom, MonthFrom);
            toggleMonthDisabled(YearTo, MonthTo);

            YearFrom.addEventListener('change', () => toggleMonthDisabled(YearFrom, MonthFrom));
            YearTo.addEventListener('change', () => toggleMonthDisabled(YearTo, MonthTo));
        }
    </script>
}
