@{
    ViewBag.Title = "月報管理";
}

@section styles {
    @Html.Partial("DataGridScripts")

    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>
}

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增月報</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="ReportTitle">月報名稱</label>
            <input class="form-control" id="ReportTitle" name="ReportTitle" type="text" />
        </div>

        <div class="form-group">
            <label for="UploadUserName">上傳者</label>
            <input class="form-control" id="UploadUserName" name="UploadUserName" type="text" />
        </div>

        <div class="form-group">
            <label for="DateFrom">年月份(起)</label>
            <input class="form-control" id="DateFrom" name="DateFrom" type="month" />
        </div>

        <div class="form-group">
            <label for="DateTo">年月份(迄)</label>
            <input class="form-control" id="DateTo" name="DateTo" type="month" />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        var getGridJSON = '@Url.Action("MonthlyReport_Management", "Datagrid")';
        var DataGrid;
        

        const fakeData = [
            {
                MRSN: "1",
                ReportTitle: "2023-5月月報",
                UploadUserName: "王大明",
                UploadDateTime: "2023/5/22",
                ReportContent: "OOXX",
                YearMonth: "2023-05",
            }
        ]

        $(async function () {
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                //data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'MRSN',
                //sortName: 'MRSN',
                remoteSort: true,
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                    dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { className: "btn btn-datagrid btn-delete" })),
                ]],
                columns: [[
                    dg.hiddenColumn('MRSN'),
                    dg.column('YearMonth', '年月份', 150),
                    dg.column('ReportTitle', '月報名稱', 200),
                    dg.column('UploadUserName', '上傳者', 110),
                    dg.column('UploadDateTime', '上傳日期', 200),
                    dg.column('ReportContent', '內容說明', 300)
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Read/${row.MRSN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.MRSN}`, "_self")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.MRSN}`, "_self")
            })

        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            $("#clear").click(function () {
                $(".search-area form")[0].reset();
            });

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
    </script>
}