@{
    ViewBag.Title = "一機一卡模板管理";
}
@section styles {
    @Html.Partial("DataGridScripts")
}

<h2>@ViewBag.Title</h2>

<div class="dg-tool-bar">
    <button class="btn btn-create" id="create">新增模板</button>
    <div class="search-area">
        <form class="form" method="post" action="">
            <div class="form-group">
                <label for="SampleName">模板名稱</label>
                <input class="form-control" id="SampleName" name="SampleName" type="text" />
            </div>
            <div class="button-group">
                <button type="button" class="btn btn-search" id="search">查詢</button>
                <button type="reset" class="btn btn-clear" id="clear">清除</button>
            </div>

        </form>
    </div>
</div>


<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

@section scripts {
    <script>
        //const baseUrl = '/PlanManagement/';
        var getGridJSON = '@Url.Action("OneDeviceOneCard_Management", "Datagrid")';
        var DataGrid;

        const fakeData = [
            {
                TSN: "P23010401",
                SampleName: "前處理機房巡檢",
                AddItemsNum: '10',
                MaintainNum: "2",
                InspectNum: "3",
            },
            {
                TSN: "P23010401",
                SampleName: "前處理機房巡檢",
                AddItemsNum: '16',
                MaintainNum: "3",
                InspectNum: "6",
            },
            {
                TSN: "P23010401",
                SampleName: "前處理機房巡檢",
                AddItemsNum: '6',
                MaintainNum: "4",
                InspectNum: "8",
            },
        ]

        $(async function () {
            await
            //await pushSelect("UserID", '@Url.Action("InspectionUser", "DropDownList")');
            Initialize_DataGrid(getGridJSON);
            addSearchAreaClickEvent();
        });

        function Initialize_DataGrid(getGridJSON) {
            let dg = new DG();
            DataGrid = dg.init("#DataGrid", {
                url: getGridJSON,
                data: fakeData,
                method: 'POST',
                queryParams: getQueryParams(),
                idField: 'TSN',
                remoteSort: true,
                frozenColumns: [[
                    dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                    dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit")),
                    dg.frozenColumn('_delete', (v, row, i) => dg.eventButton(i, "刪除", "delete", { className: "btn btn-datagrid btn-delete"})),
                ]],
                columns: [[
                    dg.column('SampleName', '模板名稱', 300),
                    dg.column('AddItemsNum', '變動屬性欄位數量', 200),
                    dg.column('MaintainNum', '保養項目數量', 200),
                    dg.column('InspectNum', '巡檢項目數量', 260),
                ]]
            })
            dg.addEvent("detail", function (row, i) {
                window.open(`${baseUrl}/Detail/${row.TSN}`, "_blank")
            })
            dg.addEvent("edit", function (row, i) {
                window.open(`${baseUrl}/Edit/${row.TSN}`, "_self")
            })
            dg.addEvent("delete", function (row, i) {
                window.open(`${baseUrl}/Delete/${row.TSN}`, "_self")
            })
        }

        //search area onClick Function
        function addSearchAreaClickEvent() {
            

            $("#search").click(function () {
                DataGrid.datagrid('load', getQueryParams());
            });

            $("#create").click(function () {
                window.open(`${baseUrl}/Create`, "_self");
            });
        }
    </script>
}