@{
    ViewBag.Title = "報修管理";
}

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<script src="/Scripts/easyui-datagrid-client-paging.js"></script>

<h2>@ViewBag.Title</h2>

<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="Area">棟別</label>
            <select class="form-select" name="Area" id="Area">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Floor">樓層</label>
            <select class="form-select" name="Floor" id="Floor">
                <option value="">請選擇</option>
            </select>
        </div>

        @* <div class="form-group">
        <label for="IPSN">巡檢計畫編號</label>
        <select class="form-select" name="IPSN" id="IPSN">
        <option value="">請選擇</option>
        </select>
        </div> *@

        @* <div class="form-group">
        <label for="IPName">巡檢計畫名稱</label>
        <select class="form-select" name="IPName" id="IPName">
        <option value="">請選擇</option>
        </select>
        </div> *@

        <div class="form-group">
            <label for="ReportState">報修單狀態</label>
            <select class="form-select" name="ReportState" id="ReportState">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Level">報修等級</label>
            <select class="form-select" name="Level" id="Level">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="RSN">報修單號</label>
            <input class="form-control" id="RSN" name="RSN" type="text" />
        </div>

        <div class="form-group">
            <label for="ESN">設備編號</label>
            <select class="form-select" name="ESN" id="ESN">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="EName">設備名稱</label>
            <select class="form-select" name="EName" id="EName">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="PropertyCode">國有財產編碼</label>
            <input class="form-control" id="PropertyCode" name="PropertyCode" type="text" />
        </div>

        <div class="form-group">
            <label for="ReportContent">報修說明</label>
            <input class="form-control" id="ReportContent" name="ReportContent" type="text" />
        </div>

        <div class="form-group">
            <label for="InformantUserID">報修人員</label>
            <select class="form-select" name="InformantUserID" id="InformantUserID">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="DateFrom">日期(起)</label>
            <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
        </div>

        <div class="form-group">
            <label for="DateTo">日期(迄)</label>
            <input class="form-control" id="DateTo" name="DateTo" type="date" />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search">查詢</button>
            <button type="button" class="btn btn-clear">清除</button>
            <button type="button" class="btn btn-export">匯出</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>

<script>

    const fakeData = [
        {
            State: "已派工",
            Level: "最速件",
            Area: "A棟",
            Floor: "1F",
            ReportSource: "APP",
            RSN: "R23010601",
            Date: "2023/1/6 15:00:02",
            PropertyCode: "無",
            ESN: "E00001",
            EName: "日光燈",
            Memo: "故障",
            MyName: "王大明",
        }
    ]

    $(function () {
        let getGridJSON = '';
        Initialize_DataGrid(getGridJSON);
        addSearchAreaClickEvent();
    });

    function Initialize_DataGrid(getGridJSON) {

        $('#DataGrid').datagrid({

            // url: getGridJSON,
            // method: 'POST',
            data: fakeData,
            queryParams: {
                Query: ''
            },
            rownumbers: true,
            idField: 'RSN',
            sortName: 'RSN',
            remoteSort: false,
            //sortOrder: 'desc',
            fit: true,
            frozenColumns: [[
                {
                    field: '_detail', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDetail(${index})">詳情</button>`;
                    }
                },
                {
                    field: '_dispatch', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onDispatch(${index})">派工</button>`;
                    }
                },
                {
                    field: '_locate', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid" onclick="onLocate(${index})">定位</button>`;
                    }
                },
                {
                    field: '_cancel', align: 'center',
                    formatter: (val, row, index) => {
                        return `<button class="btn btn-datagrid btn-datagrid-secondary" onclick="onCancel(${index})">取消保留</button>`;
                    }
                },
            ]],
            columns: [[
                { field: 'State', title: '報修單狀態', align: 'center', width: 126, sortable: true },
                { field: 'Level', title: '報修等級', align: 'center', width: 106, sortable: true },
                { field: 'Area', title: '棟別', align: 'center', width: 66, sortable: true },
                { field: 'Floor', title: '樓層', align: 'center', width: 66, sortable: true },
                { field: 'ReportSource', title: '報修來源', align: 'center', width: 110, sortable: true },
                { field: 'RSN', title: '報修單號', align: 'center', width: 120, sortable: true },
                { field: 'Date', title: '報修時間', align: 'center', width: 180, sortable: true },
                { field: 'PropertyCode', title: '國有財產編碼', align: 'center', width: 150, sortable: true },
                { field: 'ESN', title: '設備編號', align: 'center', width: 110, sortable: true },
                { field: 'EName', title: '設備名稱', align: 'center', width: 110, sortable: true },
                { field: 'Memo', title: '報修內容', align: 'center', width: 110, sortable: true },
                { field: 'MyName', title: '報修人員', align: 'center', width: 110, sortable: true },
            ]],
            singleSelect: true,
            selectOnCheck: true,
            checkOnSelect: false,

            pagination: true,
            pagePosition: 'bottom',
            pageSize: 10
        });
        //------------Pager --------------------------------------------------
        var pager = $('#DataGrid').datagrid('getPager');
        $(pager).pagination({
            pageSize: 10,
            showPageList: true,
            pageList: [10, 20, 50],
            beforePageText: '第',
            afterPageText: '頁，共 {pages} 頁',
            displayMsg: '顯示 {from} 到 {to} 筆資料，共 {total} 筆資料'
        });
    }

    // datagrid onClick Function
    function onDetail(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = '/Report_Management/Read';
        window.open(url, "_self");
    }

    function onDispatch(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = '/';
        window.open(url, "_self");
    }

    function onLocate(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = '/';
        window.open(url, "_self");
    }

    function onCancel(index) {
        let row = $('#DataGrid').datagrid('getRows')[index];
        let url = '/';
        window.open(url, "_self");
    }

    //search area onClick Function
    function addSearchAreaClickEvent() {
        $(".btn-clear").click(function () {
            $("form")[0].reset();
        });

        $(".btn-search").click(function () {
            let url = "/";
            window.open(url, "_self");
        });

        $(".btn-export").click(function () {
            let url = "/";
            window.open(url, "_self");
        });
    }
</script>
