@{
    ViewBag.Title = "詢價計畫管理";
}

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<script src="/Scripts/easyui-datagrid-client-paging.js"></script>

<h2>@ViewBag.Title</h2>

<button class="btn btn-create" id="create">新增詢價計畫</button>
<div class="search-area">
    <form class="form" method="post" action="">

        <div class="form-group">
            <label for="IOState">狀態</label>
            <select class="form-select" name="IOState" id="IOState">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="IOSN">單號</label>
            <input class="form-control" id="IOSN" name="IOSN" type="text" />
        </div>

        <div class="form-group">
            <label for="IOUserName">詢價人</label>
            <select class="form-select" name="IOUserName" id="IOUserName">
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="MFRName">選定廠商</label>
            <input class="form-control" id="MFRName" name="MFRName" type="text" />
        </div>

        <div class="form-group">
            <label for="DateSelect">日期項目選擇</label>
            <select class="form-select" name="DateSelect" id="DateSelect">
                <option value="詢價單建立時間">詢價單建立時間</option>
                <option value="審核日期時間">審核日期時間</option>
            </select>
        </div>

        <div class="form-group">
            <label for="DateFrom">日期(起)</label>
            <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
        </div>

        <div class="form-group">
            <label for="DateTo">日期(迄)</label>
            <input class="form-control" id="DateTo" name="DateTo" type="date" />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-search" id="search">查詢</button>
            <button type="button" class="btn btn-clear" id="clear">清除</button>
        </div>

    </form>
</div>

<div class="datagrid-area">
    <table id="DataGrid"></table>
</div>
<script src="/Scripts/datagrid-management.js"></script>
<script src="/Scripts/tool.js"></script>
<script>

    var getGridJSON = '@Url.Action("InquiryPlan_Management", "InquiryPlan_Management")';
    var DataGrid;
    var baseUrl = '/' + window.location.pathname.split('/')[1];

    const fakeData = [
        {
            IOState: "已建立",
            IOSN: "IO23041201",
            CreatedDate: "2023/04/12",
            InquiryUserName: "王大明",
            MFRName: "OOXX",
            AuditUserID: "OXO",
            AuditDate: "2023/04/15",
            QAmount: 2,
        },
        {
            IOState: "衝突",
            IOSN: "IO23041202",
            CreatedDate: "2023/04/12",
            InquiryUserName: "王大明",
            MFRName: "OOXX",
            AuditUserID: "OXO",
            AuditDate: "2023/04/15",
            QAmount: 0,
        },
    ]

    $(async function () {
        Initialize_DataGrid(getGridJSON);
        addSearchAreaClickEvent();
    });

    function Initialize_DataGrid(getGridJSON) {
        let dg = new DG();
        let thirdClassName = "btn btn-datagrid btn-datagrid-third";
        DataGrid = dg.init("#DataGrid", {
            //url: getGridJSON,
            data: fakeData,
            method: 'POST',
            queryParams: getQueryParams(),
            idField: 'IOSN',
            //sortName: 'IOSN',
            frozenColumns: [[
                dg.frozenColumn('_detail', (v, row, i) => dg.eventButton(i, "詳情", "detail")),
                dg.frozenColumn('_edit', (v, row, i) => dg.eventButton(i, "編輯", "edit", { disabled: row.QAmount != 0 })),
                dg.frozenColumn('_create', (v, row, i) => dg.eventButton(i, "新增詢價", "create", { disabled: row.IOState != "已建立", className: thirdClassName })),
                dg.frozenColumn('_manage', (v, row, i) => dg.eventButton(i, "詢價管理", "manage", { className: thirdClassName })),
            ]],
            columns: [[
                dg.hiddenColumn('QAmount'),
                dg.column('IOState', '詢價單狀態', 130),
                dg.column('IOSN', '詢價單號', 130),
                dg.column('CreatedDate', '詢價日期', 200),
                dg.column('InquiryUserName', '詢價人', 110),
                dg.column('MFRName', '選定廠商', 200),
                dg.column('AuditUserID', '審核人員', 110),
                dg.column('AuditDate', '審核日期', 200),
            ]]
        })
        dg.addEvent("detail", function (row, i) {
            window.open(`${baseUrl}/Read/${row.MFRSN}`, "_blank")
        })
        dg.addEvent("edit", function (row, i) {
            window.open(`${baseUrl}/Edit/${row.MFRSN}`, "_self")
        })
        dg.addEvent("create", function (row, i) {
            window.open(`${baseUrl}/CreateInquiry/${row.MFRSN}`, "_self")
        })
        dg.addEvent("manage", function (row, i) {
            window.open(`${baseUrl}/InquiryManagement/${row.MFRSN}`, "_self")
        })
    }

    //search area onClick Function
    function addSearchAreaClickEvent() {
        $("#clear").click(function () {
            $(".search-area form")[0].reset();
        });

        $("#search").click(function () {
            DataGrid.datagrid('load', getQueryParams());
        });

        $("#create").click(function () {
            window.open(`${baseUrl}/CreatePlan`, "_self");
        });
    }
</script>

