@{
    ViewBag.Title = "新增巡檢計畫";
}

@Styles.Render("~/Content/easyui/themes/default/easyui.css")
<script src="/Content/easyui/jquery.min.js"></script>
<script src="/Content/easyui/jquery.easyui.min.js"></script>
<link rel="stylesheet" href="/Content/samplepath.css">
<link rel="stylesheet" href="/Content/tagbox.css">
<link rel="stylesheet" href="/Content/datagrid-modal.css">

<div class="spinner-area">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<section>
    <div class="search-area bg-transparent">
        <form class="form">
            <div class="form-group required">
                <label for="IPName">巡檢計畫名稱</label>
                <input type="text" class="form-control" name="IPName" id="IPName">
            </div>

            <div class="form-group required">
                <label for="PlanDate">巡檢日期</label>
                <input type="date" class="form-control" name="PlanDate" id="PlanDate">
            </div>

            <div class="form-group required">
                <label for="Shift">巡檢班別</label>
                <select type="text" class="form-select" name="Shift" id="Shift" required>
                    <option value="">請選擇</option>
                </select>
            </div>

            <div class="form-group required f-3">
                <label for="UserID">巡檢人員</label>
                <select type="text" class="form-select" name="UserID" id="UserID"></select>
            </div>
        </form>
    </div>

    <div class="sample-path-area">
        <h3 class="sample-path-title">定期保養設備</h3>
        <div class="edit-area" style="gap: 1em;">
            <div class="form-group required d-flex flex-column flex-lg-row align-items-start align-items-lg-center px-4 d-none"
                style="gap:0 1em; width:100%">
                <label for="MaintainUserID" class="flex-shrink-0">審核人員</label>
                <select type="text" class="form-select w-lg-250px" name="MaintainUserID" id="MaintainUserID"
                    style="width: 100%;" required>
                    <option value="">請選擇</option>
                </select>
            </div>
            <div class="datatable-easyui w-100 d-none">
                <table id="Maintain-datagrid"></table>
            </div>
            <div class="edit-button-area m-0 w-auto">
                <button class="btn btn-search" id="Maintain-create" data-bs-toggle="modal"
                    data-bs-target="#DatagridModal-Maintain">新增定期保養設備</button>
                <button class="btn btn-delete d-none" id="Maintain-delete">刪除</button>
            </div>
        </div>
    </div>
    <div class="sample-path-area mt-4">
        <h3 class="sample-path-title">維修設備</h3>
        <div class="edit-area" style="gap: 1em;">
            <div class="form-group required d-flex flex-column flex-lg-row align-items-start align-items-lg-center px-4 d-none"
                style="gap:0 1em; width:100%">
                <label for="RepairUserID" class="flex-shrink-0">審核人員</label>
                <select type="text" class="form-select w-lg-250px" name="RepairUserID" id="RepairUserID"
                    style="width: 100%;" required>
                    <option value="">請選擇</option>
                </select>
            </div>
            <div class="datatable-easyui w-100 d-none">
                <table id="Repair-datagrid"></table>
            </div>
            <div class="edit-button-area m-0 w-auto">
                <button class="btn btn-search" id="Repair-create" data-bs-toggle="modal"
                    data-bs-target="#DatagridModal-Repair">新增維修設備</button>
                <button class="btn btn-delete d-none" id="Repair-delete">刪除</button>
            </div>
        </div>
    </div>
</section>

<div class="modal fade datagrid-modal" tabindex="-1" id="DatagridModal-Maintain">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>新增定期保養單</h2>
                <div class="search-area mb-3">
                    <form class="form">

                        <input class="form-control" id="SourceMaintain" name="SourceMaintain" type="text"
                            value="AddMaintainForm" hidden />

                        <div class="form-group">
                            <label for="ASN">棟別</label>
                            <select class="form-select" name="ASN" id="ASN">
                                <option value="">請選擇</option>
                            </select>
                        </div>
                        <input class="form-control" id="Area" name="Area" type="text" hidden />


                        <div class="form-group">
                            <label for="FSN">樓層</label>
                            <select class="form-select" name="FSN" id="FSN">
                                <option value="">請選擇</option>
                            </select>
                        </div>
                        <input class="form-control" id="Floor" name="Floor" type="text" hidden />

                        <div class="form-group">
                            <label for="ESN">設備編號</label>
                            <input class="form-control" id="ESN" name="ESN" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="EName">設備名稱</label>
                            <input class="form-control" id="EName" name="EName" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="FormItemState">保養狀態</label>
                            <select class="form-select" name="FormItemState" id="FormItemState">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="EState">設備狀態</label>
                            <select class="form-select" name="EState" id="EState">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="StockState">庫存狀態</label>
                            <select class="form-select" name="StockState" id="StockState">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="DateSelect">日期項目選擇</label>
                            <select class="form-select" name="DateSelect" id="DateSelect">
                                <option value="1">上次保養日期</option>
                                <option value="2">最近應保養日期</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="DateFrom">日期(起)</label>
                            <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
                        </div>

                        <div class="form-group">
                            <label for="DateTo">日期(迄)</label>
                            <input class="form-control" id="DateTo" name="DateTo" type="date" />
                        </div>

                        <div class="button-group">
                            <button type="button" class="btn btn-search" id="search">查詢</button>
                            <button type="reset" class="btn btn-clear" id="clear">清除</button>
                        </div>
                    </form>
                </div>
                <table class="modal-datagrid"></table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                <button type="button" class="btn btn-export" id="add-row">新增</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade datagrid-modal" tabindex="-1" id="DatagridModal-Repair">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>新增設備維修單</h2>
                <div class="search-area mb-3">
                    <form class="form">

                        <input class="form-control" id="SourceReport" name="SourceReport" type="text"
                            value="AddReportForm" hidden />

                        <div class="form-group">
                            <label for="ASN">棟別</label>
                            <select class="form-select" name="ASN" id="ASN">
                                <option value="">請選擇</option>
                            </select>
                        </div>
                        <input class="form-control" id="Area" name="Area" type="text" hidden />


                        <div class="form-group">
                            <label for="FSN">樓層</label>
                            <select class="form-select" name="FSN" id="FSN">
                                <option value="">請選擇</option>
                            </select>
                        </div>
                        <input class="form-control" id="Floor" name="Floor" type="text" hidden />

                        <div class="form-group">
                            <label for="ReportLevel">報修等級</label>
                            <select class="form-select" name="ReportLevel" id="ReportLevel">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="ESN">設備編號</label>
                            <input class="form-control" id="ESN" name="ESN" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="EName">設備名稱</label>
                            <input class="form-control" id="EName" name="EName" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="ReportState">報修單狀態</label>
                            <select class="form-select" name="ReportState" id="ReportState">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="StockState">庫存狀態</label>
                            <select class="form-select" name="StockState" id="StockState">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="UserID">報修人員</label>
                            <select class="form-select" name="UserID" id="UserID">
                                <option value="">請選擇</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="DateFrom">日期(起)</label>
                            <input class="form-control" id="DateFrom" name="DateFrom" type="date" />
                        </div>

                        <div class="form-group">
                            <label for="DateTo">日期(迄)</label>
                            <input class="form-control" id="DateTo" name="DateTo" type="date" />
                        </div>

                        <div class="button-group">
                            <button type="button" class="btn btn-search" id="search">查詢</button>
                            <button type="reset" class="btn btn-clear" id="clear">清除</button>
                        </div>
                    </form>
                </div>
                <table class="modal-datagrid"></table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                <button type="button" class="btn btn-export" id="add-row">新增</button>
            </div>
        </div>
    </div>
</div>

<!--<hr class="hr-dashed">-->

<section>

    <div class="search-area bg-transparent">
        <div class="form d-flex flex-column flex-xl-row align-items-stretch align-items-xl-end">

            <form class="form-group w-auto w-xl-60" id="sample-path-form">
                <label>選取巡檢路線模板</label>
                <div class="d-flex flex-column flex-lg-row align-items-center" style="gap:1em;">
                    <div class="d-lg-contents d-flex flex-sm-row flex-column w-100" style="gap:1em;">
                        <select type="text" class="form-select w-lg-200px" name="ASN" id="ASN" required>
                            <option value="" disabled selected hidden>區域</option>
                        </select>
                        <select type="text" class="form-select w-lg-100px" name="FSN" id="FSN" required>
                            <option value="" disabled selected hidden>樓層</option>
                        </select>
                    </div>
                    <select type="text" class="form-select w-lg-225px" name="PathTitle" id="PathTitle" required>
                        <option value="" disabled selected hidden>選擇模板</option>
                    </select>
                    <button type="button" class="btn btn-search flex-shrink-0 w-100 w-lg-auto"
                        id="sample-path-create">新增</button>
                </div>
            </form>

            <form class="form-group w-auto w-xl-40" id="path-form">
                <label>新增其他巡檢路線</label>
                <div class="d-flex flex-column flex-lg-row align-items-center" style="gap:1em;">
                    <div class="d-lg-contents d-flex flex-sm-row flex-column w-100" style="gap:1em;">
                        <select type="text" class="form-select w-lg-200px" name="ASN" id="ASN" required>
                            <option value="" disabled selected hidden>區域</option>
                        </select>
                        <select type="text" class="form-select w-lg-100px" name="FSN" id="FSN" required>
                            <option value="" disabled selected hidden>樓層</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-search flex-shrink-0 w-100 w-lg-auto"
                        id="path-create">新增</button>
                </div>
            </form>

        </div>
    </div>

    <div class="sample-path-area">
        <h3 class="sample-path-title">巡檢路線規劃</h3>

        <div class="edit-area">
            <div class="sample-path-group-area"></div>

            <div class="sample-path-draw-area d-none">
                <div class="mb-4">
                    <div class="path-title-edit-group">
                        <input type="text" id="current-path-id" hidden>
                        <label for="current-path-title">路線名稱</label>
                        <input class="form-control" type="text" id="current-path-title" name="current-path-title">
                        <button class="btn btn-cancel" id="ShowSaveSamplePathModal">儲存模板</button>
                    </div>
                    <div class="input-group sample-path-group inner">
                        <div type="text" class="form-control">
                            <nav>
                                <ol class="breadcrumb" id="current-path-display"></ol>
                            </nav>
                            <button class="path-btn align-self-center" id="current-path-edit" data-bs-toggle="tooltip"
                                title="手動修改路線">
                                <i class="icon-edit"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="sample-path-toolbar">
                    <button class="path-icon path-icon-radio" id="path-draw" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="規劃路線">
                        <i class="icon-pen"></i>
                    </button>
                    <button class="path-icon path-icon-radio" id="path-eraser" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="清除路線">
                        <i class="icon-eraser"></i>
                    </button>

                    <hr class="m-0">

                    <button class="path-icon" id="path-reload" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="重新規劃路線">
                        <i class="icon-reload"></i>
                    </button>
                    <button class="path-icon" id="path-auto" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="自動計算路線">
                        <i class="icon-auto"></i>
                    </button>
                </div>
                <div class="viewer3Dcontainer">
                    <div id="viewer3d" style="margin:0;"></div>
                    <canvas id="PathCanvas"></canvas>
                </div>

                <div class="label-area">
                    <div class="label-item">
                        <div class="cube cube-bluetooth"></div>
                        <span>藍芽</span>
                    </div>
                    <div class="label-item">
                        <div class="cube cube-maintain"></div>
                        <span>定期保養</span>
                    </div>
                    <div class="label-item">
                        <div class="cube cube-repair"></div>
                        <span>維修</span>
                    </div>
                    <div class="label-item">
                        <div class="cube cube-both"></div>
                        <span>維修+保養</span>
                    </div>
                </div>
                <div class="button-area mt-3">
                    <button class="btn btn-search" id="path-save">儲存變更</button>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增計畫</button>
</div>

<div class="modal fade datagrid-modal" tabindex="-1" id="SaveSamplePathModal" style="--bs-modal-margin: 1.75rem;">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>儲存模板</h2>
                <div class="search-area bg-transparent m-0">
                    <form class="form" id="SaveSamplePathForm">
                        <div class="form-group w-lg-250px">
                            <label for="SaveSamplePathForm_Area">棟別</label>
                            <input id="SaveSamplePathForm_ASN" name="ASN" type="text" hidden />
                            <input class="form-control readonly" id="SaveSamplePathForm_Area" name="Area" type="text"
                                readonly />
                        </div>
                        <div class="form-group w-lg-250px">
                            <label for="SaveSamplePathForm_Floor">樓層</label>
                            <input id="SaveSamplePathForm_FSN" name="FSN" type="text" hidden />
                            <input class="form-control readonly" id="SaveSamplePathForm_Floor" name="Floor" type="text"
                                readonly />
                        </div>
                        <div class="form-group w-lg-250px">
                            <label for="SaveSamplePathForm_PathTitle">模板名稱</label>
                            <input class="form-control" id="SaveSamplePathForm_PathTitle" name="PathTitle"
                                type="text" />
                        </div>
                    </form>
                </div>
                <div class="input-group sample-path-group inner">
                    <div type="text" class="form-control">
                        <nav>
                            <ol class="breadcrumb" id="SaveSamplePathForm_path-display"></ol>
                        </nav>
                    </div>
                </div>
                <div class="screenshot-img-area mt-3">
                    <canvas id="screenshot-canvas"></canvas>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">返回</button>
                <button type="button" class="btn btn-export" id="SaveSamplePath">新增</button>
            </div>
        </div>
    </div>
</div>

<!-- Autodesk Forge -->
<link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.4"
    type="text/css">
<script language="JavaScript"
    src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.4"></script>
<script language="JavaScript" src="/Scripts/Forge/UpViewer.js"></script>

<!-- PIXI Draw -->
<script src="https://pixijs.download/v7.2.2/pixi.js"></script>
<script src="/Scripts/ForgeDraw.js"></script>
<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/Forge/ForgeDrawFunction.js"></script>

<!-- Drag and Drop -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script src="/Scripts/Forge/SortRouteModal.js"></script>

<script src="/Scripts/Forge/InspectionPlan.js"></script>

<!-- EVENT -->
<script src="/Scripts/tool.js"></script>
<script src="/Scripts/InspectionPlan/CreateDataGrids.js"></script>
<script src="/Scripts/InspectionPlan/Create.js"></script>
<script>
    $(async function () {
        addButtonEvent();
        //DatagridEvent = addDatagridEvent();
        maintainDG_Controller = new IPDG(MDGOptions);
        repairDG_Controller = new IPDG(RDGOptions);
        await addDropDownList();
        await addAreaFloorEvent();
        controlToggle("path-draw", ForgeDraw.Control.DRAW);
        sortRouteModal.autoRouteToggle(true);

        $("#PlanDate").attr('min', new Date().toJSON().split('T')[0]);

        window.addEventListener("beforeunload", (event) => {
            sessionStorage.clear();
        });

        addSaveSamplePathEvent();

        $(".spinner-area").fadeOut(300, function () { $(this).remove(); });
    })

    function save() {
        let data = getCreateSaveData();

        console.log(data);

        $.ajax({
            url: "/InspectionPlan_Management/CreateInspectionPlan",
            data: JSON.stringify(data),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: onSuccess,
            error: onError
        })

        function onSuccess(res) {
            console.log(res);
            createDialogModal({
                id: "DialogModal-Success", inner: "新增成功！",
                onHide: () => { window.location.href = "/InspectionPlan_Management/Management"; }
            });
        }
        function onError(res) {
            console.log(res);
            createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` })
        }
    }
</script>