@{
    ViewBag.Title = "巡檢軌跡紀錄";
}
@section styles {
    @Styles.Render("~/Content/easyui/themes/default/easyui.css")
    <link rel="stylesheet" href="/Content/samplepath.css">
    <!-- Autodesk Forge -->
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css?v=v7.60"
        type="text/css">
    <link rel="stylesheet" href="/Content/loading.css" type="text/css">

    <script src="/Content/easyui/jquery.min.js" defer></script>
    <script src="/Content/easyui/jquery.easyui.min.js" defer></script>

    <script language="JavaScript"
        src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js?v=v7.60" defer></script>
    <script src="/Scripts/Forge/Viewer.Loading.js" defer></script>
    <script src="/Scripts/Forge/Viewer.Toolkit.js" defer></script>
    <script src="/Scripts/Forge/UpViewer_.js" defer></script>
    <script src="/Scripts/tool.js" defer></script>

    <!-- PIXI Draw -->
    <script src="https://pixijs.download/v7.2.2/pixi.js" defer></script>
    <script src="/Scripts/ForgeDraw.js" defer></script>
    <script src="/Scripts/datatable.js" defer></script>
    <script src="/Scripts/datagrid-management.js" defer></script>
    <script src="/Scripts/Forge/ForgeDrawFunction.js" defer></script>

    <script src="/Scripts/Forge/InspectionPlanReadOnly.js" defer></script>
    <script src="/Scripts/InspectionPlan/ReadDataGrids.js" defer></script>
}


<h2>@ViewBag.Title</h2>

<section id="InspectionPlanMemberInfo"></section>

<div class="sample-path-area px-0 mt-5">

    <div class="edit-area">
        <input type="text" id="current-path-id" value="1" hidden>
        <div class="sample-path-group-area"></div>
        <div class="sample-path-draw-area">
            <div class="viewer3Dcontainer">
                <div id="viewer3d" style="margin:0;"></div>
                <canvas id="PathCanvas"></canvas>
            </div>
            <div class="label-area">
                <div class="label-item">
                    <div class="cube cube-bluetooth"></div>
                    <span>藍芽</span>
                </div>
                <div class="label-item">
                    <div class="cube cube-maintain"></div>
                    <span>定期保養</span>
                </div>
                <div class="label-item">
                    <div class="cube cube-repair"></div>
                    <span>維修</span>
                </div>
                <div class="label-item">
                    <div class="cube cube-both"></div>
                    <span>維修+保養</span>
                </div>
                <div class="label-item">
                    <div class="line line-record"></div>
                    <span>軌跡</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="datatable datatable-fill mt-5">
    <div class="datatable-body datatable-easyui">
        <table id="DataGrid"></table>
    </div>
</div>

@section scripts {
    <script>
        const IPSN = '@ViewBag.id';
        //let apiUrl = '@Url.Action("Read_Data", "InspectionPlan_Management")' + `/${IPSN}`;
        let apiUrl = null;

        const GridOptions = {
            thead: true,
            columns: [
                { id: "MyName", title: "巡檢人員" },
                { id: "WatchID", title: "手環編號" }
            ]
        }

        let fakeData = {
            "InspectionPlanMember": [{
                "PMSN": "PMSN",
                "MyName": "王大明",
                "WatchID": "11",
            }],
            "InspectionPlanPaths": [
                {
                    "PathSample": {
                        "PSSN": null,
                        "Area": "進流抽水站",
                        "Floor": "B2F",
                        "ASN": "1",
                        "FSN": "1_2",
                        "PathTitle": "進流抽水站 B2F 巡檢路線",
                        "BIMPath": "/BimModels/01/Resource/3D View/進抽站B2F/進抽站B2F.svf",
                        "BeaconPath": "/BimModels/02/Resource/3D View/進抽站B2F_Beacon/進抽站B2F_Beacon.svf",
                        "Beacon": [
                            {
                                "dbId": 20455,
                                "deviceType": "藍芽",
                                "deviceName": "BT-11001"
                            },
                            {
                                "dbId": 20456,
                                "deviceType": "藍芽",
                                "deviceName": "BT-11002"
                            },
                            {
                                "dbId": 20457,
                                "deviceType": "藍芽",
                                "deviceName": "BT-11003"
                            },
                            {
                                "dbId": 20465,
                                "deviceType": "藍芽",
                                "deviceName": "BT-11004"
                            },
                            {
                                "dbId": null,
                                "deviceType": "Test",
                                "deviceName": "E00150"
                            },
                            {
                                "dbId": null,
                                "deviceType": "test2",
                                "deviceName": "E00151"
                            },
                            {
                                "dbId": null,
                                "deviceType": "BTT0T1",
                                "deviceName": "E00153"
                            }
                        ]
                    },
                    "PathSampleOrder": [
                        "BT-11002",
                        "BT-11001",
                        "BT-11003",
                        "BT-11004",
                        "BT-11001",
                        "BT-11002"
                    ],
                    "PathSampleRecord": [
                        {
                            "LocationX": 48.89120397851,
                            "LocationY": 11.56445667534
                        },
                        {
                            "LocationX": 59.11716151354,
                            "LocationY": 11.83180194168
                        },
                        {
                            "LocationX": 59.11716151354,
                            "LocationY": 20.78786836427
                        },
                        {
                            "LocationX": 59.38450680857,
                            "LocationY": 27.80568160585
                        },
                        {
                            "LocationX": 55.24065473555,
                            "LocationY": 27.5383363395
                        },
                        {
                            "LocationX": 54.63912782173,
                            "LocationY": 39.23469174214
                        },
                        {
                            "LocationX": 47.01978691328,
                            "LocationY": 41.57396282266
                        },
                        {
                            "LocationX": 33.25150421905,
                            "LocationY": 40.3709091241
                        },
                        {
                            "LocationX": 30.71172391622,
                            "LocationY": 31.48167901811
                        },
                        {
                            "LocationX": 23.42656462656,
                            "LocationY": 30.88015216882
                        },
                        {
                            "LocationX": 20.75311167622,
                            "LocationY": 41.9081444056
                        },
                        {
                            "LocationX": 17.54496813582,
                            "LocationY": 41.3734538729
                        },
                        {
                            "LocationX": 17.54496813582,
                            "LocationY": 12.90118300707
                        },
                        {
                            "LocationX": 28.17194361341,
                            "LocationY": 12.96801932366
                        },
                        {
                            "LocationX": 34.18721275166,
                            "LocationY": 12.90118300707
                        },
                        {
                            "LocationX": 44.68051558173,
                            "LocationY": 13.63638248952
                        },
                        {
                            "LocationX": 45.74989676186,
                            "LocationY": 16.57718041932
                        },
                        {
                            "LocationX": 54.43861885046,
                            "LocationY": 16.51034410274
                        },
                        {
                            "LocationX": 56.10952694441,
                            "LocationY": 24.26335682677
                        },
                        {
                            "LocationX": 57.91410768589,
                            "LocationY": 24.12968419359
                        },
                        {
                            "LocationX": 57.98094400965,
                            "LocationY": 16.57718041932
                        },
                        {
                            "LocationX": 57.84727136214,
                            "LocationY": 13.50270985635
                        },
                        {
                            "LocationX": 48.69069500723,
                            "LocationY": 13.16852827342
                        }
                    ],
                    "MaintainEquipment": [
                        "E00028",
                        "E00029"
                    ],
                    "RepairEquipment": [
                        "E00143"
                    ],
                    "BothEquipment": [],
                },
                {
                    "PathSample": {
                        "PSSN": null,
                        "Area": "進流抽水站",
                        "Floor": "B2F",
                        "ASN": "1",
                        "FSN": "1_2",
                        "PathTitle": "進流抽水站 B2F 巡檢路線2",
                        "BIMPath": "/BimModels/01/Resource/3D View/進抽站B2F/進抽站B2F.svf",
                        "BeaconPath": "/BimModels/02/Resource/3D View/進抽站B2F_Beacon/進抽站B2F_Beacon.svf",
                        "Beacon": [
                            {
                                "dbId": 20455,
                                "deviceType": "藍芽",
                                "deviceName": "BT-11001"
                            },
                            {
                                "dbId": 20456,
                                "deviceType": "藍芽",
                                "deviceName": "BT-11002"
                            },
                            {
                                "dbId": 20457,
                                "deviceType": "藍芽",
                                "deviceName": "BT-11003"
                            },
                            {
                                "dbId": 20465,
                                "deviceType": "藍芽",
                                "deviceName": "BT-11004"
                            },
                            {
                                "dbId": null,
                                "deviceType": "Test",
                                "deviceName": "E00150"
                            },
                            {
                                "dbId": null,
                                "deviceType": "test2",
                                "deviceName": "E00151"
                            },
                            {
                                "dbId": null,
                                "deviceType": "BTT0T1",
                                "deviceName": "E00153"
                            }
                        ]
                    },
                    "PathSampleOrder": [
                        "BT-11002",
                        "BT-11001",
                        "BT-11003",
                        "BT-11004",
                        "BT-11001",
                        "BT-11002"
                    ],
                    "PathSampleRecord": [
                        {
                            "LocationX": 18.699608986978998,
                            "LocationY": -25.591673713233597
                        },
                        {
                            "LocationX": -8.140441162223595,
                            "LocationY": -73.23796191112488
                        },
                        {
                            "LocationX": -46.42392164399074,
                            "LocationY": -53.47203469079287
                        },
                        {
                            "LocationX": -15.838749737361553,
                            "LocationY": -28.504547675636672
                        },
                        {
                            "LocationX": -48.712607977139854,
                            "LocationY": -9.570870022476527
                        },
                        {
                            "LocationX": -29.778930130178928,
                            "LocationY": 7.9063708881328125
                        },
                        {
                            "LocationX": 23.276980320096186,
                            "LocationY": -20.39011439571091
                        }
                    ],
                    "MaintainEquipment": [
                        "E00028",
                        "E00029"
                    ],
                    "RepairEquipment": [
                        "E00143"
                    ],
                    "BothEquipment": []
                }
            ],
            "PlanMemberRecord": [
                {
                    "SN": "S23011801_1_00001",
                    "Area": "進流抽水站",
                    "Floor": "B2F",
                    "ASN": "1",
                    "FSN": "1_2",
                    "LocationX": 48,
                    "LocationY": 11,
                    "DateTime": "2023/01/07 15:12:26",
                    "HeartBeat": 110,
                    "WalkStep": 768
                },
                {
                    "SN": "S23011801_1_00002",
                    "Area": "進流抽水站",
                    "Floor": "B2F",
                    "ASN": "1",
                    "FSN": "1_2",
                    "LocationX": 59,
                    "LocationY": 11,
                    "DateTime": "2023/01/07 15:12:26",
                    "HeartBeat": 110,
                    "WalkStep": 987
                },
                {
                    "SN": "S23011801_1_00003",
                    "Area": "進流抽水站",
                    "Floor": "B2F",
                    "ASN": "1",
                    "FSN": "1_2",
                    "LocationX": 58,
                    "LocationY": 20,
                    "DateTime": "2023/01/07 15:12:26",
                    "HeartBeat": 110,
                    "WalkStep": 1280
                },
                {
                    "SN": "S23011801_1_00004",
                    "Area": "進流抽水站",
                    "Floor": "B2F",
                    "ASN": "1",
                    "FSN": "1_2",
                    "LocationX": 60,
                    "LocationY": 27,
                    "DateTime": "2023/01/07 15:12:26",
                    "HeartBeat": 110,
                    "WalkStep": 1920
                }
            ]
        }

        $(function () {
            readData(apiUrl);
        })

        function readData(url = null) {

            url == null ? onSuccess(fakeData) :
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: onSuccess,
                    error: onError
                })

            function onSuccess(res) {
                console.log(res);
                fakeData = res;

                $("#InspectionPlanMemberInfo").append(
                    createTableOuter({
                        id: "InspectionPlanMember",
                        className: "datatable-small mt-5",
                        inner: createTableGrid(res.InspectionPlanMember, GridOptions),
                    })
                )

                let dg = new DG();
                dg.init("#DataGrid", {
                    data: res.PlanMemberRecord,
                    fit: false,
                    rownumbers: false,
                    pagination: false,
                    idField: 'SN',
                    columns: [[
                        dg.column('SN', '巡檢軌跡編號', 220),

                        dg.column('Area', '棟別', 130),
                        dg.column('Floor', '樓層', 80),

                        dg.column('LocationX', '位置X', 220),
                        dg.column('LocationY', '位置Y', 220),

                        dg.column('DateTime', '日期時間', 225),
                        dg.column('HeartBeat', '心跳(下/分)', 150),
                        dg.column('WalkStep', '步數', 100),
                    ]]
                })

                res.InspectionPlanPaths.forEach((e, i, arr) => {
                    sessionStorage.setItem(`P${i + 1}_pathData`, JSON.stringify(e));
                    pathGroup.create(e);
                })

                const { BIMPath, BeaconPath } = res.InspectionPlanPaths[0].PathSample
                initializeViewer({
                    BIMPath, BeaconPath,
                    callback: () => {
                        initializeDrawer(1, true)
                    }
                });
                ForgeDraw.when(()=>{console.log("load done")})
            }
            function onError(res) {
                console.log(res);
            }
        }
    </script>
}