@{
    ViewBag.Title = "新增竣工圖";
}
<style>
    @@media (min-width: 992px) {
        .edit-area .form {
            grid-template-columns: 250px 250px;
        }
    }
</style>
<h2>@ViewBag.Title</h2>
<div class="edit-area edit-area-small">
    <form class="form pt-0">
        <div class="form-group required">
            <label for="ASN">棟別</label>
            <select class="form-select" name="ASN" id="ASN" required>
                <option value="">請選擇</option>
            </select>
            <input class="form-control" id="Area" name="Area" type="text" hidden />
        </div>

        <div class="form-group required">
            <label for="FSN">樓層</label>
            <select class="form-select" name="FSN" id="FSN" required>
                <option value="">請選擇</option>
            </select>
            <input class="form-control" id="Floor" name="Floor" type="text" hidden />
        </div>

        <div class="form-group required">
            <label for="System">系統別</label>
            <select class="form-select" name="DSystemID" id="DSystemID" required>
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group required">
            <label for="SubSystem">子系統別</label>
            <select class="form-select" name="DSubSystemID" id="DSubSystemID" required>
                <option value="">請選擇</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ImgNum">圖號</label>
            <input class="form-control" id="ImgNum" name="ImgNum" type="text" maxlength="200" />
        </div>

        <div class="form-group required">
            <label for="ImgName">圖名</label>
            <input class="form-control" id="ImgName" name="ImgName" type="text" maxlength="200" required />
        </div>

        <div class="form-group">
            <label for="ImgVersion">版本</label>
            <input class="form-control" id="ImgVersion" name="ImgVersion" type="text" maxlength="50" />
        </div>

        <div class="form-group g-col-2 required">
            <label for="">檔案上傳</label>
            
            <div class="edit-button-area justify-content-start align-items-center mt-1 flex-wrap flex-lg-nowrap">
                <div class="d-lg-contents d-flex w-100" style="gap: 14px;">
                    <label for="ImgPath" type="button" class="btn btn-search w-lg-auto w-100 h-100 mt-0 flex-shrink-0">
                        選擇檔案
                    </label>
                </div>
                <div id="ImgPathGroup"
                    class="order-first order-lg-last d-flex align-items-center text-start text-light w-100 w-lg-auto d-none">
                    <div id="ImgPathName" class="d-inline-block text-break me-2" style="margin: 0.375rem;"></div>
                    <button type="button" class="btn-delete-item flex-shrink-0" id="ImgPathDelete"></button>
                </div>
            </div>
            <input id="ImgPath" name="ImgPath" type="file" class="form-file-input" required>
        </div>

    </form>
</div>
<div class="edit-button-area">
    <button class="btn btn-back" id="back">返回</button>
    <button class="btn btn-export" id="submit">新增</button>
</div>
<script src="/Scripts/datatable.js"></script>
<script src="/Scripts/tool.js"></script>
<script src="/Scripts/AreaFloorEvent.js"></script>
<script>

    $(async function () {
        await AreaFloorEvent();
        await pushSelect("DSystemID", '@Url.Action("DSystem", "DropDownList")');
        addButtonEvent();

        const Systems = document.getElementById('DSystemID')
        Systems.addEventListener("change", function () {
            pushSelect("DSubSystemID", `@Url.Action("DSubSystem", "DropDownList")?DSystemID=${$('#DSystemID').val()}`);
        });
    });

    function save() {
        let isValidity = [...document.forms].map(e => e.reportValidity()).every(e => e);
        console.log("todo save():", isValidity)
        if (!isValidity) return;

        var form = new FormData();
        form.append("ASN", document.getElementById("ASN").value);
        form.append("FSN", document.getElementById("FSN").value);
        form.append("DSystemID", document.getElementById("DSystemID").value);
        form.append("DSubSystemID", document.getElementById("DSubSystemID").value);
        form.append("ImgNum", document.getElementById("ImgNum").value);
        form.append("ImgName", document.getElementById("ImgName").value);
        form.append("ImgVersion", document.getElementById("ImgVersion").value);
        var files = $("#ImgPath").get(0).files;
        if (files.length > 0) {
            form.append("ImgPath", files[0]);
        }
        //form.append("ManualFile", document.getElementById("ManualFile").files[0]);
        console.log(Object.fromEntries(form.entries()));

        $.ajax({
            url: "/AsBuiltDrawing_Management/Create",
            data: form,
            type: "POST",
            contentType: false,
            processData: false,
            success: onSuccess,
            error: onError
        })

        function onSuccess(res) {
            console.log(res);
            createDialogModal({
                id: "DialogModal-Success", inner: "新增成功！",
                onHide: () => { window.location.href = "/AsBuiltDrawing_Management/Management"; }
            });
        }
        function onError(res) {
            console.log(res);
            createDialogModal({ id: "DialogModal-Error", inner: `新增失敗！` + `${res.responseText}` })
        }
    }

    function addButtonEvent() {
        $("#back").click(function () {
            history.back();
        })

        $("#ImgPath").change(function (e) {
            console.log(this.files);
            if (this.files && this.files.length !== 0) {
                let file = this.files[0];
                $("#ImgPathName").text(file.name);
                $("#ImgPathGroup").removeClass('d-none');
            }
        })

        $("#ImgPathDelete").click(function () {
            $("#ImgPath").val('');
            $("#ImgPathName").text('');
            $("#ImgPathGroup").addClass('d-none');
        })

        $("#submit").click(function () {
            save();
        })
    }
</script>

